[2014-07-11 02:52] TheCloneMaster opened #1 "[base_contact] 'pop' not supported on frozendict on _basecontact_check_context"
In latest 8.0 branch, there was a change on how context is handled, as now it is a frozendict, so context.pop() raises

[code]

Just add

[code]

at the beginning of _basecontact_check_context to fix it...

Anyway, seems like a standard procedure to do that whenever context.pop() is required, so it helps to other versions besides 8.0...

Still learning git, so I am not sure how to create the MP (o

[2014-07-11 12:13] bwrsandman commented on #1
Yet another, creative way of doing

[code]

What is that, now 5 different variations? :wink:

In all seriousness @TheCloneMaster, you can edit directly from the github page if you want, it will create the Pull Request, fork and branch automatically for you.

I assume [this is the line you want to edit](https://github.com/OCA/partner-contact/edit/master/base_contact/base_contact.py#L62)

[2014-07-11 12:16] bwrsandman commented on #1
I wonder if this problem could be avoided using the new api

[2014-07-11 16:26] TheCloneMaster commented on #1
Hi Sandy,

Not the same, as dict() returns a copy.

It seems like OpenERP S.A. has changed some internals about context, and
now it is received as a frozendict, and hence it doesn't allow to "pop"
from it...

The code as it was has been working perfectly from v7.0 up to saas-5.
 Somewhere between saas-5 and 8.0, something changed context to a
frozendict...

If you try to pop from None, the error i

[2014-07-11 20:18] pedrobaeza commented on #1
This is probably due to the new API, that was merged recently. Maybe there is a good reason not to allow to remove elements from the context. Better pass a copy of the context without the element to the method that requires this change of the dictionary.

Regards.

[2014-07-11 20:55] guewen commented on #1
The usage of a frozendict for the context is a good change. It prevents to
alter the context and thus prevents some side effects.

Actually, it is already (before the new api) a good practice to make a copy
of the context before altering it. Why? Let's consider this case:

[code]

The assert in m2 will fail of course, but should not have. This example is
simplified as extreme, but cases as this on

[2014-07-12 19:32] TheCloneMaster commented on #1
Besides, calls to _basecontact_check_context never use  mode='search', so
we ca just remove this method and replace

[code]

context)

with
        context = dict(context or {})
        context.pop('search_show_all_positions', None)

in the four lines that call it, and avoid the overhead of calling another
method...

We will only miss the explanation about why this is needed for non search
cases..

[2014-07-14 21:23] baumgaro opened #3 "Installation of Partner first name, last name on Odoo 8.0 is not working"
File "/.../oca_addons/partner_contact/partner_firstname/partner.py", line 20, in <module>
    from openerp.osv.orm import Model, fields
ImportError: cannot import name fields

[2014-07-14 22:13] bwrsandman commented on #3
None of these modules have been ported to 8.0 yet.

[2014-07-14 22:19] pedrobaeza commented on #3
But he is right, correct line would be:

from openerp.osv import orm, fields

and then:

class ...(orm.Model)

[2014-07-14 23:36] bwrsandman commented on #3
Indeed. But for some reason it still works on 7.0. I have no idea why and I use it.

[2014-07-19 15:58] bwrsandman opened #8 "[7.0, 8.0] The transient model base.partner.merge.line should not have explicit access rules"
If someone wants to contribute, the access rules for `base.partner.merge.line` need to be removed for both 7.0 and 8.0

[code]

[2014-07-20 07:56] eLBati commented on #8
Here they are
https://github.com/OCA/partner-contact/pull/9
https://github.com/OCA/partner-contact/pull/10

[2014-07-21 02:23] bwrsandman commented on #8
Thanks a lot @eLBati

[2014-07-21 02:23] #8 closed, assigned to nobody

[2014-07-21 02:29] bwrsandman opened #11 "[8.0] Fix install of partner_firstname"
In the 8.0 branch, the following error occurs when installing partner_first name

[code]

This could probably be fixed by defaulting lastname to something, or revisiting which fields should be required.

[2014-07-21 02:29] bwrsandman commented on #3
@baumgaro The bug you're describing is fixed in #5 with 5166eda, however, partner_firstname, still fails and has been set to unported c4f88dbf7afa32c709f5d6944bdebac136125cd0

An issue on porting partner_firstname has been opened in #11

[2014-07-21 02:29] #3 closed, assigned to nobody

[2014-07-21 02:38] bwrsandman opened #12 "Port MPs from launchpad to here"
- [x] Move what you have write access to. E.g. I can move savoirfairelinux branches
- [x] Provide links to the lp porting guide for OCA on the MRs which are still open
- [x] Rate resubmit and reject the MRs
- [x] Merge missing commits

[2014-07-21 08:18] eLBati commented on #8
no problem

[2014-07-21 15:54] bwrsandman opened #13 "[6.1] base_partner_surname and partner_address_ldap are conflicting"
https://github.com/OCA/partner-contact/pull/7#issuecomment-49512838

Both want to add last name to 'res.partner.address'.

I think that field should be added in `base_partner_surname` and if `partner_address_ldap` wants to use it, make it depend on `base_partner_surname`

[2014-07-23 17:44] eLBati commented on #12
Posted a message on every MP

[2014-07-23 17:58] eLBati commented on #11
Just installed and used partner_firstname on v8 on a fresh DB without problems. So https://github.com/OCA/partner-contact/pull/14
Let's see what travis says

[2014-07-23 18:32] bwrsandman commented on #11
There are also the tests.

[2014-07-23 18:34] bwrsandman commented on #12
Thank you @eLBati!

[2014-08-14 11:22] yvaucher opened #23 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:39] #23 closed, assigned to nobody

[2014-08-28 12:00] guewen commented on #12
I noticed 2 extra revisions on the Launchpad branch that are missing there:
http://bazaar.launchpad.net/~partner-contact-core-editors/partner-contact-management/7.0/revision/41
http://bazaar.launchpad.net/~partner-contact-core-editors/partner-contact-management/7.0/revision/42

The last one here https://github.com/OCA/partner-contact/commits/7.0 corresponds to the rev 40 on launchpad.

[2014-08-28 13:13] bwrsandman commented on #12
Can we cherry-pick those two commits?

[2014-08-29 10:47] nbessi opened #27 "Fix pep8 length"

[2014-09-09 14:15] yvaucher commented on #27
resolved by @bwrsandman

[2014-09-09 14:15] #27 closed, assigned to nobody

[2014-09-11 16:28] bwrsandman opened #30 "`partner_firstname` is Incompatible with `auth_oauth_signup`"
### Description

When a new user signs in with a configured oauth client on a server which has partner_firstname installed, Odoo will copy the TemplateUser with default values (name, login, email, etc).

Due to the way partner_firstname deals with name to firstname and lastname, it will simply copy the TemplateUser's name are result with a new user with the name "Template User (copy)".

The line w

[2014-09-11 17:09] pedrobaeza commented on #30
While we wait for the factorisation, we can simply override method, call super, and then write again in the created id missing values.

[2014-09-22 11:32] FrancoTampieri opened #33 "Modulo base_location improvement discussion"
Hi!

I'm analyzing the base_location module, and I noticed with my customers that the better_zip field is cool but in the actual implementation is "redundant" in tha partner profile as you can see in the image below:

![screenshot 2014-09-22 13 23 59](https://cloud.githubusercontent.com/assets/4396444/4355402/7c4ac488-424b-11e4-8874-54d42b9e4c74.png)

The city, zip, state and country information i

[2014-09-22 14:11] pedrobaeza commented on #33
Hi, Franco,

This is a discussion we already have, and on the contrary, I don't think
it's redundant. You have that zip field as an "autocomplete wizard", but we
don't need to force everyone to create a state and city and fill them in
the model to complete an address, so this way you have the alternative to
put freely anything you want in the other fields.

Maybe we can hide it on view mode...

Re

[2014-09-22 14:14] FrancoTampieri commented on #33
Hi Pedro,
unfortunately I have not followed the debate from the beginning. However, even just view the file in edit mode is a good idea, if there is no objection I made the change and make a PR

Regards

[2014-09-22 14:19] pedrobaeza commented on #33
OK, do it and we can follow the discussion there.

Regards.

2014-09-22 16:14 GMT+02:00 Franco Tampieri notifications@github.com:

[2014-10-24 13:53] #11 closed, assigned to nobody

[2014-11-07 09:33] alexis-via opened #46 "partner_address_street3"
In the module partner_address_street3:

In model/partner.py, there is:

[code]

Street3 is not a commercial field, so this code should not exists.

BUT street3 is an address field, that needs to be synced when you activate "Use parent address" ; for that, the following code is required:

[code]

I'll do a PR to fix this when I have time.

[2014-11-07 15:18] nbessi commented on #46
Fix here https://github.com/OCA/partner-contact/pull/47

[2014-12-05 20:04] bwrsandman commented on #1
`context = dict(context or {})` seems to be the proper way of doing it.

[2014-12-10 15:21] willArrive commented on #3
Very useful the answer of pedrobaeza
Tks very much

[2014-12-12 20:13] bwrsandman commented on #12
[41](http://bazaar.launchpad.net/~partner-contact-core-editors/partner-contact-management/7.0/revision/41) is in PR at #62
[42](http://bazaar.launchpad.net/~partner-contact-core-editors/partner-contact-management/7.0/revision/42) is already in the code

[2014-12-15 15:12] #12 closed, assigned to nobody

[2014-12-15 16:25] matteotrubini opened #64 "[8.0] [base_partner_sequence] Add config options to make "reference" field unique and required"
In our current software we have a field "partner number" with which we identify uniquely partners.
This module can help us to replicate this, but it currently allows:
- to leave the field blank on modify
- to enter a value already used for another partner
  Do you think that add this config options could be an improvement? At a first look it should not be a complex task.

[2014-12-31 10:42] jssuzanne opened #72 "[8.0] partner_firstname, name with store=True are not recompute during the copy"
This error is only view with the res.users.
#
## FAIL: test_copy_user (partner_firstname.tests.test_partner_firstname.test_partner_firstname)

Traceback (most recent call last):
  File "/Users/jssuzanne/openerp/sensee/ecommerce/partner_contact/partner_firstname/tests/test_partner_firstname.py", line 94, in test_copy_user
    'Copy of the user failed with wrong name'
AssertionError: u'lastname firs

[2015-01-08 04:04] Mwatchorn26 opened #77 "README.md file is inaccurate"
The Readme file talks about "knowledge and document management" That looks like a whole other set of modules.
Looks like a copy and paste error. I could be wrong.
I was hoping the README would tell me what was in these modules in case it might solve my current dilema.

[2015-01-08 09:14] pedrobaeza commented on #77
You're totally right. I have updated all descriptions.

Regards.

[2015-01-08 09:14] #77 closed, assigned to nobody

[2015-01-08 10:39] alexis-via opened #78 "[8.0] partner_firstname and "create and edit" in M2O widget to res.partner"
Here are the steps to reproduce the bug on odoo v8 with an up-to-date branch of OCA/partner-contact/8.0:

1) Create a new sale order
In the "Customer" field (M2O to res.partner), type "TOTOTEST1" (it should not be an existing partner) and then, in the down-drop list that appear, click on "Create and Edit..."
2) You get a pop-up that displays the form view of res.partner with:
Name = TOTOTEST1
Firs

[2015-01-08 10:56] alexis-via commented on #78
Bug analysis:
When I log the calls to create and write:
On step 2 of the scenario, odoo doesn't call create nor write
On step 3 of the scenario, odoo will call BOTH create and write:
1) first it calls create() with vals = {'firstname': 'Alexis', 'lastname': 'de Lattre', 'street': '42 rue de la paix'}
2) then it calls write() with vals = {'lastname': 'TOTOTEST1', 'firstname': False}

[2015-01-30 15:49] yvaucher commented on #72
Confirmed by Travis

[2015-03-13 11:18] StefanRijnhart commented on #72
Fixed upstream in https://github.com/odoo/odoo/commit/3a44d84b0f0dd7a0596f4854652391538e7a764e

[2015-03-13 11:18] #72 closed, assigned to nobody

[2015-03-25 07:43] nbessi opened #100 "unprotected import in base partner geoname"
Hello,

https://github.com/OCA/partner-contact/blob/8.0/base_location_geonames_import/wizard/geonames_import.py#L30

import is not protected and may break server startup .

[2015-03-25 07:53] lepistone commented on #100
@rdeheele is that the problem you had yesterday? If so, could you make a PR with the `try` block please?

Thanks!

[2015-03-25 09:01] #100 closed, assigned to gurneyalex

[2015-04-01 09:43] alejandrosantana opened #109 "base_contact improvement: add ISO codes"
Currently _res.country_ already contains "ISO 3166-1 alpha-2" country code. (see http://en.wikipedia.org/wiki/ISO_3166-1)

It may be interesting to:
- add also "alpha-3" and "numeric" codes to countries.
- add support for states/provinces ISO codes (http://en.wikipedia.org/wiki/ISO_3166-2).

We are willing to contribute with it to OCA, but two questions arise:
- Is it interesting enough for OCA? (

[2015-04-01 18:51] pedrobaeza commented on #109
This doesn't mean very interesting, because it is not used in any place.

This kind of standarization is also not very used widely. Instead, NUTS is used more. Check the PR for that of our partner Antonio: https://github.com/OCA/partner-contact/pull/107

[2015-04-06 11:11] alejandrosantana commented on #109
OK, fair enough. We just needed something related with that and wished to know if it was useful for anyone else.
But I see more use of NUTS, as you say.

[2015-04-06 11:11] #109 closed, assigned to nobody

[2015-04-07 08:35] duanyp1991 opened #110 "[7.0][base_partner_sequence] add a migration script"
More general need would be: make the **reference** field of res_partner required and have a migration script for this module.
I'll make a PR for that.

[2015-04-17 13:19] NL66278 opened #112 "Can not create user after installing partner_firstname"
After installing partner_firstname I get an invalid field error for field name, when trying to create a new user.

[2015-04-17 14:26] NL66278 commented on #112
Solved by: https://github.com/OCA/partner-contact/pull/113

[2015-04-21 07:12] riess82 opened #114 "[partner_firstname] can't rename partner if company in v7"
Using Partner_firstname.
I could not rename partners if they are a company.

I had to change the return of function _write_name from:
return self.write(cursor, uid, partner_id, vals, context=context)
to:
return self.write(cursor, uid, [partner_id], vals, context=context)

[2015-04-21 07:15] pedrobaeza commented on #114
With which module?

[2015-04-21 07:25] riess82 commented on #114
partner_firstname, I updated the first post for easier reading.

[2015-04-21 07:35] pedrobaeza commented on #114
If you have found a solution, please propose a PR against the branch

[2015-05-07 05:55] #46 closed, assigned to nobody

[2015-05-11 18:02] ehdem commented on #114
@riess82 : I try to reproduce your issue, but I can't.
- First test: I created a partner with firstname and lastname, I updated the fields and It works fine.
- Second test: I created a company and I updated; It woks fine. Just one, a company hasn't firstname.

Can you explain how to reproduce this issue ?

[2015-05-11 18:24] bwrsandman commented on #114
@riess82 I can't reproduce this issue either, maybe it's something to do with the other modules you have installed.

Have you tried with only partner_firstname installed? What other modules do you have installed?

[2015-05-12 15:20] #112 closed, assigned to nobody

[2015-05-19 08:53] yajo opened #119 "Deprecate base_contact and split it in other modules"
After discussion in https://github.com/OCA/partner-contact/pull/118, it became clear that the current implementation of _base_contact_ is not what its name suggests (a base for contact modules), but a collection of unrelated functionalities that remain from old times and block further development.

So, my suggestion is:
1. Create a new base module for contact stuff. It will just have a sheet calle

[2015-05-19 09:21] pedrobaeza commented on #119
I agree, but prefer to prepend partner_ to all modules

[2015-05-19 09:31] yajo commented on #119
No problem. Do you mean for instance _partner_contact_birthdate_ or _partner_birthdate_?

[2015-05-19 11:33] pedrobaeza commented on #119
It seems to be more coherent to name them partner_contact_base, partner_contact_birthdate...

[2015-05-19 11:41] yajo commented on #119
:+1:

[2015-05-19 11:43] yvaucher commented on #119
IMO a contact being a partner I don't see the need of adding `partner_` to all module technical names

And indeed a split of functionalities would be better.

[2015-05-19 12:03] yajo commented on #119
Then please come to a consensus. For now I've started with @pedrobaeza suggestion. You can track progress if you want in https://github.com/grupoesoc/partner-contact/tree/deprecate-base_contact.

[2015-05-19 12:04] pedrobaeza commented on #119
@yvaucher, partner prefix identify the "area" you are working with.

[2015-05-22 09:02] antespi opened #122 "[8.0] partner_relations: group_partner_manager can not add relations from smartbutton"
**group_partner_manager can not add relations from smartbutton**

Impacted versions:
- 8.0: partner_relations

Steps to reproduce:
1. Login as a normal user with group_partner_manager access right assigned
2. Go to a partner form
3. Click on Relations smartbutton

Current behavior:
- This view do not show 'Create' button

Expected behavior:
- Show 'Create' button, because this user can create part

[2015-05-26 09:00] #122 closed, assigned to nobody

[2015-06-05 20:05] riess82 commented on #114
Sorry for my late reply. It might come from some other module, I'm assigned to something completely different atm so I can't test. I'll Close this thread as it seems to be my problem and not that of the module.

[2015-06-05 20:05] #114 closed, assigned to nobody

[2015-06-10 06:48] gurneyalex opened #127 "[7.0] Error when displaying res.partner Form view (street field)"
- Go to https://runbot.odoo-community.org/runbot/repo/github-com-oca-partner-contact-134
- Connect to the 7.0 branch
- Go to Sales -> Customers
- Click on any partner in the kanban view

Expected: nice form view of the partner

Actual: Error message

![screenshot from 2015-06-10 08 47 11](https://cloud.githubusercontent.com/assets/2032807/8076526/731ecec0-0f4d-11e5-8791-7dcfc4579cae.png)

[2015-06-17 12:27] antespi opened #129 "[8.0] partner_relations"
[code]

Use case:
1. Create two relations for Company-Company ('Is competitor of' and 'Representative')
2. Go to a Partner and create a relation with another partner
3. Save
4. Edit the created relation and change 'Relation Type' column
5. Save

NOTE: If you select the inverse relation of the current relation, bug doesn't appear

Is this the expected behavior?
- If yes, then 'Relation Type' domain

[2015-06-17 15:32] smogol-st opened #130 "partner_firstname incompatible with contact position"
installing the module disable the creation of new contact positions. It gives an integrity error on saving contact changes.
// error message from web interface
Integrity Error

The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object wi

[2015-07-02 09:07] yajo opened #136 "Coveralls PR check bot broken"
As stated in https://github.com/OCA/partner-contact/pull/104#issuecomment-117522275, the Coveralls check for PR seems to be broken. Currently only 1 LOC is not tested in that PR, and see what [the bot says](https://coveralls.io/builds/2957735):

![captura de pantalla de 2015-07-02 11-00-19](https://cloud.githubusercontent.com/assets/973709/8473504/68bc78ce-20aa-11e5-9d57-31cf70b04fd4.png)

It seem

[2015-07-02 10:26] houzefa-abba opened #137 "partner_firstname: Update "display name" fields when updating first / last names."
Hey,

The "partner_firstname" addon keeps the "name" field of "res.partner" records synchronized with first / last names; but it does not do so for the "display_name" field.

Consequently, places that make use of the "display_name" field show wrong values (eg partner list / kanban views).

[2015-07-02 10:33] houzefa-abba commented on #137
Patch on http://pastie.org/10269718 (couldn't find a way to attach a file...).

[2015-07-02 13:23] bwrsandman commented on #136
Strange. I did notice something like that. Could you open this issue on https://github.com/OCA/maintainer-quality-tools

[2015-07-02 16:13] houzefa-abba commented on #137
Ignore - there is a pull request on https://github.com/OCA/partner-contact/pull/138 instead.

[2015-07-02 16:13] #137 closed, assigned to nobody

[2015-07-03 07:05] #136 closed, assigned to nobody

[2015-07-09 15:00] bwrsandman commented on #30
Fixed upstream, now the 7.0 module needs the update I mentionned

[2015-07-30 17:54] #119 closed, assigned to nobody

[2015-07-31 11:40] yvaucher commented on #119
@pedrobaeza area should be given in `__openerp__.py` as category and partner_contact isn't an area in term of object. Plus renaming modules makes difficulties in migrations and we have no naming convention for module written in https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md

[2015-07-31 12:13] pedrobaeza commented on #119
This was also debated in the past, because partner itself is not an area as you say, but it's a very important topic not to be included in the names. Odoo itself was debating to split base module to include all res.partner related stuff in a partner module. I was the one to think on not to put `partner_` also until I speak with @hbrunn about it.

[2015-07-31 16:58] yvaucher commented on #119
@pedrobaeza What about a talk with a PR on https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md ?

[2015-08-11 17:14] rafaelbn opened #154 "[8.0] partner_relations - Error when deleting a res.partner"
Tested in OCA's runbot
https://runbot.odoo-community.org/runbot/repo/github-com-oca-partner-contact-134
- Create a partner
- Don't select "is a company"
- Filled "firstname" and "lastname"
- Save partner
- Delete the partner we have created
- You get this error:

I have tested in Odoo's runbot and you can delete any res.partner if it hasn't any other relation with other objects.

Maybe this bug it

[2015-08-11 22:18] pedrobaeza commented on #154
Tests are not mandatory for now in OCA to not discourage the contributions, and the review process usually detect these things.

I also think that this module is not the guilty, but something is happening.

[2015-08-12 07:39] yajo commented on #154
Is `base_contact` installed? If so, try going to modules list, searching for `base_contact` and pressing _Update_.

[2015-08-12 12:30] pankk commented on #78
Cannot reproduce as of 359f6cea0239415a0cc1af2d4e7d97d13c2290fb. This seems fixed with 24948156e329b5321507275200757a7b11c47cbf

[2015-08-12 12:31] pedrobaeza commented on #78
Yeah, it seems so. I close this issue. If still present, feel free to reopen.

[2015-08-12 22:01] alexis-via commented on #78
I just re-tested the scenario with an up-to-date odoo 8.0 and an up-to-date partner_firstname from the OCA branch for 8.0, and the bug is still present. The scenario to reproduce the bug hasn't changed. Please re-open.

[2015-08-13 07:08] pankk commented on #78
My bad, the bug is still present.

[2015-08-13 14:01] alexis-via commented on #78
@pedrobaeza It seems we need your "super-powers" to re-open this bug. I can't do that myself.

[2015-08-13 14:02] pedrobaeza commented on #78
Done. I'll check it later to see if I can apport something.

[2015-08-13 21:36] rafaelbn commented on #154
@Yajo base_contact is installed. After update still error.

I have uninstall lots of modules. Test & Try...

After uninstalling partner_firstname the problems disapears...

So ther is a bug in partner_firstname module https://github.com/OCA/partner-contact/pull/139

[2015-08-14 07:21] eLBati commented on #154
@rafaelbn just tested on
http://3112595-8-0-359f6c.runbot1.odoo-community.org/
using the **base** database, installed `partner_firstname`, `partner_contact_birthdate` and `base_contact`: the error does not happen.

Please try to reproduce it on a new database, pointing out the modules to install. Traceback would be useful too.

Thanks

[2015-08-14 11:58] yajo commented on #154
As a rule of thumb, I always press _Update_ in the `base` module after pulling new changes to any modules (core or OCA, any). That makes Odoo perform any updates needed and usually makes everything work smoothly. You could try that.

This bug seems to me more related to https://github.com/OCA/partner-contact/pull/120 than to #139. You can sniff all the code in `partner_firstname` and will find not

[2015-08-14 15:06] #33 closed, assigned to nobody

[2015-08-14 18:07] rafaelbn commented on #154
Please @Yajo add a test for deleting res.partner to partner_firstname, this could help now and in the future. Eventhogh I'm going now to test runbot again.

@eLBati howto traceback?

[2015-08-14 18:16] rafaelbn commented on #154
@Yajo @eLBati
- Log in in runbot OCA - partner-contact in a clean data base
  ^ Install crm module --> DELETION OK
- Install **partner_firstname** --> DELETION OK
- Install partner_contact_birthdate --> DELETION OK
- Install **partner_relations** --> FAILS DELETION. So here comes the problem. https://github.com/OCA/partner-contact/tree/8.0/partner_relations

The error I get is:

- Log in in runbot

[2015-08-14 18:40] rafaelbn commented on #154
[code]

[code]

[code]

[2015-08-17 22:34] ghost opened #160 "Bad compare onchange_type_selection_id"
On line 169 of res_partner_relation_all.py
is_company = self.type_selection_id.partner_category_other == 'c'

It gives apples/oranges python error...

Not sure what this is supposed to do, it is getting a category but the 'c', 'p' portions of this module are for the is_company flag.  I commented and removed the filter and it now works, but it would be nice of setting the relationship type filtered

[2015-08-19 08:44] rafaelbn commented on #160
@idncom you must open issue with the bugtracker template:

Also take care on tittle

[2015-08-19 16:13] ghost commented on #160
Thank you, I actually forked, corrected and submitted a pull request.  We
just submitted our agreement so we can contribute as we find issues.

On Wed, Aug 19, 2015 at 3:44 AM, Rafael Blasco notifications@github.com
wrote:

##

Best Regards,
Mark Meadows
www.apptuate.com
636.678.9924

[2015-08-19 16:55] #160 closed, assigned to hbrunn

[2015-08-19 18:13] rafaelbn commented on #154
Please @antespi could you review this issue? Thanks

[2015-08-19 21:15] rafaelbn commented on #78
I have reproduced it. The bug exists.
Please @Yajo @antespi take a look in this issue.

[2015-08-19 21:17] rafaelbn commented on #154
@eLBati did you chack this? https://github.com/OCA/partner-contact/issues/154#issuecomment-131199584 Thanks

[2015-08-20 00:51] #129 closed, assigned to nobody

[2015-08-21 16:20] mhapponen opened #166 "Standalone Contact address not inherited from the original contact"
Tested modules partner_contact_in_several_companies and res_partner_affiliate and wonder whether following is designed feature or a bug:
I have two companies, company A being the 'mother company' and company B and C the daughters or affiliates. Company A is having centralized invoicing department (Contact of type invoice address in company A data) which is used by B and C. I maintain a special inv

[2015-09-01 14:34] eLBati commented on #154
I reproduced it installing `partner_contact_birthdate` and `partner_relations`.

Maybe modules authors can give some hint? ping @Yajo @hbrunn

[2015-09-01 14:43] hbrunn commented on #154
put some breakpoints in the triggers involved, I assume some trigger tries to read the deleted patner afterwards

[2015-09-03 16:32] angelocala94 opened #167 "base_location_geonames_import unicodecsv error"
Hi,
i have installed unicodecsv with "pip install unicodecsv".
While trying to import Italian provinces, the wizard show me this error:

for row in unicodecsv.reader(
AttributeError: 'NoneType' object has no attribute 'reader'
Detailed screenshot: https://www.dropbox.com/s/5je1mb9qawtia8i/Screenshot%202015-09-03%2016.25.32.png?dl=0

Thanks

[2015-09-03 16:52] pedrobaeza commented on #167
You installed the module in an environment where you had unicodecsv, and now the environment where you are running Odoo doesn't, so it's a problem of your installation.

[2015-09-03 16:52] #167 closed, assigned to nobody

[2015-09-03 18:05] angelocala94 commented on #167
Hi Pedro, is a new installation, i've installed odoo using an install script found on github, and i've installed the modules by copying their files in the addons folder. Can you help me to solve this?

[2015-09-03 18:39] pedrobaeza commented on #167
Sorry, but the problem is that. Library is not detected and the code goes to https://github.com/OCA/partner-contact/blob/8.0/base_location_geonames_import/wizard/geonames_import.py#L37.

I can't help you because it's a matter of your installation, not the code.

[2015-09-03 19:31] rafaelbn commented on #154
@hbrunn @eLBati @pedrobaeza @antespi @Yajo question: if anyone add the test of deleting a partner in all modules in repo partner-contact then we will see when it happends. And by the way is a nice test.

[2015-09-04 09:47] ybofr opened #168 "base_location_geonames_import: Where is the wizard"
Hi I installed the module on Github, but I see no wizard.

Thanks for help

Eva P.

[2015-09-04 09:58] eLBati commented on #168
Hi,
sales, configuration, address book, localization, import from geonames

[2015-09-04 09:58] #168 closed, assigned to nobody

[2015-09-04 10:09] pedrobaeza commented on #168
I have created a PR to improve the README: https://github.com/OCA/partner-contact/pull/169. Please review it.

[2015-09-04 10:32] ybofr commented on #168
Hi,

The problem is that the runbot of the community for partner-contact does not have sales installed in standard.

Regards

[2015-09-04 10:38] pedrobaeza commented on #168
That's not true. What you don't have is defined in admin user is Sales Manager permission. That's why I included that on my README improvement.

[2015-09-04 10:55] ybofr commented on #168
Just tested the PR 169 without success.
1. Installed the sales module
2. I checked that the import module is active.
3. I assigned the Sales Manager permission to the administrator
<img width="336" alt="local_modules_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9682138/c606a92c-52fb-11e5-9fee-e3f8ee8db857.png">

but still no " localization, import from geonames"
<img width="858"

[2015-09-04 13:24] pedrobaeza commented on #168
Sorry, we should tell you that you need to activate technical feature also, but as is always needed... :wink: I've improved again the README.

[2015-09-08 11:47] yajo commented on #154
The point is that `partner_firstname` and `partner_contact_birthdate` work flawlessly unless `partner_relations` is installed. It fails when there's a computed field trying to set a value in the model. This is expected behavior, that raises a `MissingError`, which gets skipped by the ORM. But when `partner_relations` is installed, computed fields raise `AccessError`, which bubbles to the user and

[2015-09-08 14:06] hbrunn commented on #154
@Yajo don't, the bug is fixed in #171

[2015-09-09 11:23] yajo commented on #154
Testing #171 with #170 I discovered accidentally that partner_event is affected too:

[code]

[2015-09-09 11:33] hbrunn commented on #154
@Yajo set a breakpoint in https://github.com/OCA/OCB/blob/8.0/openerp/fields.py#L53 and inspect what's going on when the failed value is created. Afterwards, the backtrace doesn't help a lot

[2015-09-11 11:28] yajo commented on #154
One funny thing: if you remove [this read()](https://github.com/OCA/partner-contact/blob/8.0/partner_relations/model/res_partner.py#L301) method, the bug is fixed in all other modules. The bug resides in that method. I tested manually and with the tests in #170.

But `partner_relation` has no tests, so no way to check if that breaks it (and it will, probably).

This module needs much love. Migrati

[2015-09-21 10:06] yajo commented on #154
This is not fixed. See https://github.com/OCA/partner-contact/pull/170#issuecomment-141930996.

[2015-09-21 19:01] moylop260 opened #174 "[8.0] base_contact: Show warning without install it"
I have next warning in my instance without install the module: `base_contact`
[code]

[2015-09-21 19:03] moylop260 commented on #174
Why don't use a `"installable": False` in manifest file?

[2015-09-22 00:57] rafaelbn commented on #154
@pedrobaeza @hbrunn I reopen this issue again. As @Yajo says is not fixed.

**I have tested in this moment again** in OCA runbot (partner-contact) and we still cannot delete a res.partner.

Problem is in module partner_relations (users could help @bwrsandman @antespi @hbrunn )

http://3115439-8-0-0c0503.runbot2.odoo-community.org/web?db=3115439-8-0-0c0503-all#menu_id=107&action=103

[code]

From h

[2015-10-07 09:41] charbeljc opened #179 "[base_partner_merge] merging two partners both followed by the same partner fails."
To reproduce with demo data, make two copies of Agrolait. Both will be followed by your user's partner.
Attempt to merge them raises a constraint error saying: "Error, a partner cannot follow twice the same object."

[2015-10-12 21:15] conerix commented on #167
Got the same problem.. with fresh installation used the following installation script
https://github.com/conerix/odoo-install-scripts/blob/master/ubuntu-14-04/odoo_install.sh
and after installation was done i did a
pip install unicodecsv

[2015-10-14 00:32] pedrobaeza opened #184 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] account_partner_merge
- [x] ~~base_contact~~ - Deprecated and removed in #375
- [ ] base_continent
- [x] base_location @yvaucher #187
- [x] base_location_geonames_import - @pedrobaeza #253
- [ ] base_location_nuts
- [x] base_partner_merge - By @yvaucher #274
- [x] base_partner_sequence - By @cu

[2015-10-29 05:26] richard-willdooit commented on #184
OK, I have added two pull requests...

[2015-10-29 05:32] elicoidal commented on #184
Great: will have a look later
Many thanks forthe contribution

[2015-10-29 08:46] alexis-via commented on #78
This bug is still present with up-to-date code.

@pedrobaeza If you have some idea on how to dig into this bug, please let me know. I must say that I don't know where to start to try to fix this bug. So any idea would be welcomed.

[2015-10-29 12:34] rafaelbn commented on #179
@charbeljc we can close this issue as it has been solved here https://github.com/OCA/partner-contact/pull/182 by your self. It's not necessary to open issue and pr.

[2015-10-29 12:34] #179 closed, assigned to nobody

[2015-10-29 17:37] pedrobaeza commented on #78
Well, no special idea. I have overseen the code and cannot guess what can be the source of the problem. I can't work on this for now.

[2015-10-30 11:12] yajo commented on #78
Please check https://github.com/OCA/partner-contact/issues/195.

[2015-10-30 16:01] guewen opened #196 "base_partner_merge duplicated with Odoo crm module"
I noticed that the `base_partner_merge` module is duplicated with the official `crm` module which includes this wizard. They share the same model name, views, etc. so it produces weird effects when both are installed. The code seems roughly the same (it was a backport originally) but I didn't checked if we have patches on this module to push upstream (at least #182 and #183 I guess).

Should we re

[2015-10-30 16:04] pedrobaeza commented on #196
Yeah, it seems to me also weird when I saw a few weeks ago some patches for this. I have in mind to make a _base_merger_ general module, but not on the near roadmap.

[2015-10-30 22:36] rafaelbn commented on #196
Yes, it's duplicated.

[2015-10-30 22:38] rafaelbn commented on #179
Please check https://github.com/OCA/partner-contact/issues/196

[2015-11-02 09:28] yajo commented on #78
Just making clear that this is fixed now in #195, but indeed steps 3 and 4 still fail.

[2015-11-11 21:32] eLBati commented on #154
Hello, see my fix proposal at https://github.com/OCA/partner-contact/pull/200

[2015-11-12 00:25] rafaelbn commented on #154
Fixed here: https://github.com/OCA/partner-contact/pull/200

Please review, thanks

[2015-11-12 00:25] #154 closed, assigned to hbrunn

[2015-11-12 02:15] rafaelbn commented on #78
This issue is solved here: https://github.com/OCA/partner-contact/pull/198, you can close this issue :+1:

[2015-11-12 21:13] alexis-via commented on #78
I confirm that the bug is now fixed ! Bravo !

[2015-11-12 21:13] #78 closed, assigned to nobody

[2015-11-20 00:08] richard-willdooit commented on #184
@pedrobaeza @elicoidal
Can we get the partner_contact_personal_information_page module merged as others depend on it that I wish to work on, and they are (will) fail the runbot.

[2015-11-20 00:40] elicoidal commented on #184
Do you have a PR #?

[2015-11-20 01:56] richard-willdooit commented on #184
#193

Also partner_contacts_in_several_companies is now #197
And partner_contact_gender is #203

[2015-11-20 02:18] elicoidal commented on #184
Thanks for the contribution.
I have had a look but need a tech guy to review the code

[2015-11-22 23:04] richard-willdooit commented on #184
#205 partner_contact_nationality

[2015-12-03 11:02] antespi opened #210 "Names order configuration options"
Hi everyone,

We want to add a new feature in OCA/partner-contact: Odoo admin configures partner names orders when partner_firstname or partner_second_lastname addons are installed

We have two ways to do it:
1. Add this feature in partner_firstname and partner_second_lastname addons
2. Make two addons that add this feature:
   - partner_firstname_order
   - partner_second_lastname_order

I prefer

[2015-12-03 11:35] elicoidal commented on #210
This should be part of localization (the address format in the country) which might conflict with your current proposal.
If any, I would add a setting in the country better than in the company (which can relate in multiple languages).

[2015-12-03 11:43] antespi commented on #210
@elicoidal but this implies a module per localization, most of them implementing the same, isn't it?

[2015-12-03 11:47] elicoidal commented on #210
@antespi You could have a default module for common behavior and have an extra per localization.

Where I am not completely sure is whether it should be at country level or at language level... (I think more the later actually)

[2015-12-03 12:13] antespi commented on #210
@elicoidal This approach doesn't allow to Odoo Admin to configure the behavior he wants. I'm imaging a german customer that wants one order and other german customer with other, both have germany localization.

Are you proposing to configure this for all partners in all companies using addons?. If so, I don't understand why use language or country model.

BTW, maybe language is a good place where

[2015-12-03 12:39] elicoidal commented on #210
@antespi I dont think language order/placement is an administrator decision but rather a localization decision.
Nevertheless, even if it would be, you can easily design the solution to fit all needs:
- add to the language a field similar to address in the country
- add the same at partner level
- have a default one defined in property or system parameter or company.
  Have a rule:
- If the field i

[2015-12-03 12:45] antespi commented on #210
Thanks @elicoidal your second propose (use lang model to add a field for defining names order) sounds good for me. And the rule for defining default behavior is flexible enought

Any other opinion? The goal of this issue is get the most consensual way to do it, thanks.

[2015-12-03 14:10] rafaelbn commented on #210
My opinion is:

Need is clear, it must be a module in partner-contact and not in localization. This is not a localization need.

Apple could want to have names like "Jobs, Steve" and not Steve Jobs.
Same, any customer could want to have in CRM names like "Caudal, Eric"

Who is interested, customer which would like to change order. Customer could use one or both of next modules:
- https://github.co

[2015-12-03 14:17] hbrunn commented on #210
In the Dutch version of this, we do something quite similar: https://github.com/OCA/l10n-netherlands/blob/8.0/l10n_nl_partner_name/model/res_partner.py#L45

If we read the name template from a field on the language, we're done I'd say.

[2015-12-03 17:09] JordiBForgeFlow commented on #210
Oracle defines the name format as dependent of country and language at the same time (data that is held at country + language they call it locale):
http://docs.oracle.com/cd/E29505_01/fusionapps.1111/e20433/F490064AN2F73D.htm

I think that it is more of a country setting:
When you print an invoice where the destination is an egyptian customer, regardless if the invoice is written in egyptian or pl

[2015-12-03 22:06] antespi commented on #210
Well, after listening all opinions we can now vote for one, then

## A. Implementation
1. Localization addon define names order, one common addon and one addon for specific localization
2. Extension addons add configuration fields, those addons inherit from partner_firstname and partner_second_lastname
3. Configuration fields are added to partner_firstname and partner_second_lastname

## B. Config

[2015-12-03 22:10] antespi commented on #210
My vote is:
- A3, because is simpler and this feature is close to partner_firstname and partner_second_lastname current features
- B3, because I think that this is a decision of company owner.  All our customers wants to define this as a company policy
- C2

[2015-12-04 03:43] rafaelbn commented on #210
:+1: agree

[2015-12-04 06:33] carlosdauden commented on #210
A3
B2

[2015-12-04 06:39] elicoidal commented on #210
A1

[2015-12-04 08:32] pedrobaeza commented on #210
A3, B5, C3, because you will have problems defining a configuration per company because the display_name is not a property (and it shouldn't be), so it won't behave correctly when a partner is shared across multiple companies.

[2015-12-04 08:38] JordiBForgeFlow commented on #210
A3, B2. The reason being, the format of the name is a cultural aspect of the country that this person belongs to, not a policy of a company.

If you send an invoice to a US customer as "Sebastian Bach, Johan", it will not be well perceived by the recipient of the invoice.

So I agree with @elicoidal that should be a country setting.

[2015-12-04 10:09] yajo commented on #210
I live in a country where the "official" template would be _last1 last2, first_, but most people prefer _first last1 last2_, so it should be configurable, either by language or by company.

But if a user must remember which company is the partner in, or which language it chose, and has to remember how to write each first/last names combination, **that will lead to problems** for sure, and @pedroba

[2015-12-04 10:11] pedrobaeza commented on #210
I'm afraid not, or at least not the regular way.

[2015-12-04 10:17] elicoidal commented on #210
I think this is mostly a reporting issue, similar to addresses.
You need a function to deliver a string with the result of the pattern.
You can have that function result displayed in the form view.
Whenever you have a report, you get the result.
You donot need to translate anything, just display according to pattern.
Is there anything I am missing?

[2015-12-04 10:26] antespi commented on #210
According to @elicoidal, @Yajo and @pedrobaeza then we have two scenarios:
1. Name displayed in any Odoo form/tree view, where user (Odoo operator) search, list, order, select, add, edit, ... Here criteria is owner company policy. So Odoo Admin configures it as his internal policy.
2. Name displayed in reports (sale orders, invoices, ..., mostly PDFs), where user (customer, partner) reads his name

[2015-12-04 10:38] yajo commented on #210
I think we are discussing both. Partner's name is by far the most used field everywhere. The only way to know what layout is expected is context, that's why I suggest using that.

The problem with what @elicoidal says is that you cannot use a function every time you search for a partner, it's very time-consuming. You need to have a value stored in the database to allow fast searches. And partner s

[2015-12-04 10:52] pedrobaeza commented on #210
The other way is very nasty: to write directly to the translations table, which invalidates cache system and other possible side effects.

[2015-12-04 10:57] yajo commented on #210
That's what I was thinking in the first place. Good tests should ensure no strange things happen. And I hope many methods from core translation system could be reused (still blind guess though). My vote goes for that then.

[2015-12-04 11:06] antespi commented on #210
@Yajo think in impact to database where you have 50.000 partners and 4 languages, then you'll have at least 200.000 entries in `ir.translation` table only for saving partners name.

[2015-12-04 11:10] yajo commented on #210
What's the problem? Disk is cheap, CPU not. Think about calling a python function 50.000 times each time you want to search a partner's name.

[2015-12-04 14:13] elicoidal commented on #210
@Yajo Why would you need to modify your name search? Your name_search is not impacted by my proposal.
I dont even consider changing the name_get (which is a killer in CPU even if this would be the most complete solution).
My solution relies better on displaying the result of a function as additional field in form view (no impact in CPU) or tree view (impact if you display 10000 lines at once) besi

[2015-12-14 08:33] yajo commented on #210
@elicoidal You cannot use a different string for searching and for displaying, because users will try to search by what they see. Example: View displays name as _Sheldon Cooper_, but DB stores it as _Cooper Sheldon_; users will have a problem when they search for _Sheldon Cooper_: it will not be found.

And if you do not change the `name` field, then there is no benefit in all of this. That's exac

[2015-12-14 09:42] elicoidal commented on #210
@Yajo I understand but this is a matter of balance between performance and usability here, not what I would like in the perfect world (which is a stored value of the expected format with search function, propagated in all views and reports)

[2015-12-14 12:54] rafaelbn opened #217 "[8.0] partner_academic_title - add academic tittle to Company but comanies cannot have academic tittle"
module: partner_academic_title
version: 8.0

**Steps to reproduce**
- Go To a Company see field "academic tittle"

**Current behavior**
- You can see "academic titlle" in companies

**Expected behavior**
- "Academic tittle" is only for non-companies (contacts)

![14-12-2015 13-48-48](https://cloud.githubusercontent.com/assets/8736623/11781445/454c440e-a26a-11e5-8bd9-f510260ed32f.png)

[2015-12-14 16:09] yajo commented on #210
Well we are discussing here to get to the best solution, the closest one to "perfect". Anyway using different values for display and search is not a good idea IMHO, not usable. Users need to be able to search by what they see.

[2015-12-16 06:27] feketemihai opened #221 "[8.0] partner_firstname Error when creating a partner with is_company set to True"
module: partner_firstname
version: 8.0

Steps to reproduce

Creating tests in module partner_create_by_vat, i set only name and is_company set to True, at launching tests locally, or without the partner_firstname everything is ok, when i launch the tests with the partner firstname, it raises error about EmptyNames

Current behavior

The create method is inherited in the partner_firstaname module,

[2015-12-16 17:11] moylop260 commented on #221
@Yajo
Could you see this issue, please?

[2015-12-16 17:18] feketemihai commented on #221
@moylop260 @Yajo The ideea is that the _inverse_name function is only called when installing the module, can you see the log from the partner_create_by_vat PR. If i keep the name in dict there are tests in partner_firstname that are failing.

[2015-12-18 13:01] yajo commented on #221
Please see https://github.com/OCA/partner-contact/pull/216#discussion_r48022388 and close this.

[2015-12-21 04:13] #221 closed, assigned to nobody

[2015-12-21 04:22] feketemihai commented on #221
@Yajo Thanks for the review, it is ok now.

[2015-12-21 11:10] antespi commented on #210
Hi everyone,

Thanks all for your opinions. IMHO, this has been a good collaboration exercise.

By now we have implement a minimal (but functional) approach: Configure names order at system level. You can review here: https://github.com/OCA/partner-contact/pull/227

After this, anyone can go forward and implement any other approach commented here, in OCA or in a custom addon for fitting customer n

[2016-01-07 08:43] yajo opened #236 "[8.0] Runbot lacking OCA_RUNBOT env variable?"
[This runbot](https://runbot.odoo-community.org/runbot/build/3139313) fails because of a warning being raised by [this line](https://github.com/OCA/partner-contact/blob/8.0/base_contact/__init__.py#L31), but it should not if there is a `OCA_RUNBOT` variable. It seems like it is not present in runbot anymore.

The failing logs:

[code]

[2016-01-07 13:58] pedrobaeza commented on #236
cc @gurneyalex

[2016-01-07 19:25] hbrunn commented on #196
@guewen @pedrobaeza @rafaelbn
I see merit in this module because is gives you the ability to merge partners without getting all the cruft of crm.

I think the way to go is making it clear in the readme that this module doesn't do anything else than the crm module, and shouldn't be installed if the latter is installed. I just merged a PR that at least adds a proper readme amongst others.

Then we c

[2016-01-12 14:13] yvaucher commented on #184
Todo list updated

Thanks @richard-willowit for the work done here

[2016-01-15 10:15] JordiBForgeFlow opened #240 "[7.0] partner_address_street_3 appears, but empty"
Hi all,

Module "partner_address_street_3" now appears under this repo, branch 7.0, but empty. I can see that there's a PR https://github.com/OCA/partner-contact/pull/126 that plans to add it.

Is there a reson for this module to exist, but empty?

[2016-01-15 10:22] feketemihai commented on #240
It seems to come from the Transifex Translation:

https://github.com/OCA/partner-contact/commits/7.0/partner_address_street3

see the History Tab.
The module is only available in the 8.0 branch.

[2016-01-17 21:39] moylop260 opened #241 "QUESTION: [ADD] partner_search_by_vat: Is here a project valid?"
We want contritubute follow module: [partner_search_by_vat](https://github.com/Vauxoo/addons-vauxoo/blob/8.0/partner_search_by_vat/model/res_partner.py)
Is here a correct project for this module?

[2016-01-17 21:39] moylop260 commented on #241
cc @pedrobaeza

[2016-01-18 00:09] elicoidal commented on #241
@moylop260 I think this is correct

[2016-01-18 00:12] pedrobaeza commented on #241
Yeah, that's it!

[2016-01-18 00:15] moylop260 commented on #241
I got it
Thank you

[2016-01-18 00:15] #241 closed, assigned to nobody

[2016-01-18 11:58] leemannd commented on #184
Migrating:
partner_contact_birthdate
https://github.com/OCA/partner-contact/pull/243

Corrections in partner_contact_bitrhdate

[2016-01-20 22:37] pedrobaeza commented on #196
I see the import as the smartest option, and I don't think there should be a problem, because almost everyone has available all the core addons in their deployments.

[2016-01-20 23:30] rafaelbn commented on #196
Well this proposal has sense :+1: .

For me (what I wish) is that base_partner_merge would improve functionality of CRM... see https://github.com/odoo/odoo/issues/10534
I Odoo is impossible to deduplicate comparing partners with `is a company` = true by VAT (for example)

In my experience this year with many migrations from other CRM, ERP, Account of any database to Odoo, is that if Odoo and OCA e

[2016-04-03 12:52] treviser opened #258 "[9.0]partner_firstname: unable to create new user after installation"
After installation of the module, it is no more possible to create users. The field "name" is empty and not editable and therefore the creation of the user fails.

[2016-04-03 12:53] pedrobaeza commented on #258
Please check https://github.com/OCA/partner-contact/pull/249

[2016-04-03 13:01] treviser commented on #258
Thanks for the info!

[2016-04-03 13:48] treviser opened #259 "[9.0]partner_firstname: when additionally installing leave management (hr_holidays), Odoo crashes"
When I try to install leave management (hr_holidays) with the module partner_firstname already installed, Odoo gets an infinite loop with the following log:

2016-04-03 13:39:43,684 1311 ERROR imestis werkzeug: Error on request:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/pytho

[2016-04-04 17:53] brmasson opened #260 "[partner_firstname] init script performance issue"
## partner_firstname: 8.0

The initialization script (`partner_firstname/data/res_partner.yml`) took several hours to process a large amount of partners (in excess of 100k in my case).

I was able to replicate most of the script's functionality using a couple SQL statements which took only a few seconds to run.
It is my belief that the script's performance can be significantly improved without too

[2016-04-06 15:43] vincent-hatakeyama opened #261 "[8.0][partner_firstname] Issue when changing partner in event"
# Description of the issue

I have an error when changing the partner on a registration, visible on the server, and in the UI, the list of followers become empty.
This also blocks any attempt to do other `onchange` or `@api.depend` on the event.registration.
# How to reproduce

I used the following :
- odoo 8.0 from the odoo repository (odoo/odoo@ceb87b78f09e0430fe0e8279383e85c164a43270)
- partner

[2016-04-07 12:01] jalzaga opened #262 "base_partner_merge error in v7"
Affects version 7.0

When two customers are merged having both customer invoices, the module does the work but after that at customer invoices menu the system gives an error.

It is due to the field account_invoice.commercial_partner_id that is not updated and keeps the old customer, that is actually deleted.

ERROR:

Client Traceback (most recent call last):
  File "/opt/openerp/server/openerp/ad

[2016-04-07 21:42] jalzaga opened #263 "base_partner_merge v7 destroys database when it is uninstalled"
Affects v7

When base_partner_merge is uninstalled it drops the partner.id column from the database. Consequently, all the foreign keys are lost and the database is inaccessible. You need to restore the whole environment.
The problem is that the module inherits the class res_partner and adds the column “id”. When the module is uninstalled it drops the column “id” from the res_partner model and als

[2016-04-07 22:05] hbrunn commented on #263
yes, uninstalling stuff in <8.0 is a problem. For your version, I can't think of a better suggestion than: Don't uninstall stuff

[2016-04-21 11:57] dreispt opened #267 "UI for base_location_nuts needs improvement?"
IIMO the placement of the NUTS fields in the Partner form looks clumsy.
Would it be a problem to move them into a NUTS notebook page?

![2016-04-21 12_53_37-contacts - odoo - firefox developer edition private browsing](https://cloud.githubusercontent.com/assets/1246629/14708071/58bbc4a4-07c0-11e6-882a-4dad8f176063.png)

[2016-04-21 12:33] pedrobaeza commented on #267
I see the place the right one because it goes with the rest of the address. Maybe, what it can be done is a group for hiding them...

[2016-04-21 14:57] dreispt commented on #267
Is NUTS supposed to be part of the address? I understood that it was a classifier for statistical reporting. How is it currently being used in real life?

[2016-04-21 14:59] pedrobaeza commented on #267
For example, in Spain there is a territory classification that is bigger than the state, but lesser than the country (comunidad autónoma). This is part of the address.

[2016-04-22 14:17] dreispt commented on #267
In Portugal we also have "Autonomous Regions" (Madeira and Azores). They have their own government administration, including specific taxation (VAT an income Tax), similarly to Canarias, I believe. I always wondered if there is anything against representing them as "States".

Going on topic, I expected for NUTS to be used for legal and statistical reporting purposes. Also using it as Address eleme

[2016-04-22 14:30] pedrobaeza commented on #267
No, it's not the same concept. I live in "Tomelloso", state "Ciudad Real", region "Castilla-La Mancha". The region "Castilla-La Mancha" contains 5 states (provinces): Ciudad Real, Toledo, Albacete, Guadalajara and Cuenca.

The same goes for Germany, where they have an intermediate territorial division (I don't remember the name, but I think they are the counts).

This territorial division is impor

[2016-05-09 09:30] dreispt commented on #267
I noticed that the 9.0 implementation provides a different, better, integration with the address fields. IMHO a backport should be considered.

[2016-05-11 09:25] sandrafig opened #272 "[8.0] [partner_create_by_vat] Odoo Server Error"
I've done all the steps required to install this module, including installing python-stdnum
But when I create a new partner, click on is_company True, write the VAT number and click on "Get Vies Data", Odoo raises a server error:

_Odoo Server Error
File "/opt/odoo/partner-contact/partner_create_by_vat/models/res_partner.py", line 26, in _get_vies_data
    result = check_vies(vat)
NameError: globa

[2016-05-11 09:29] feketemihai commented on #272
It depends of version of stdnum you should do a sudo pip install --upgrade stdnum

[2016-05-11 09:45] feketemihai commented on #272
@sandrafig The version stipulated in requirements is python-stdnum==1.1, by default linux distrib have lower versions...

[2016-05-11 10:50] sandrafig commented on #272
@feketemihai Thank you! I've removed stdnum and installed version 1.1 and now works fine.

It does work perfectly with my international partners, but it doesn't work with the spanish ones, maybe because of the specific modules of the spanish localization?

[2016-05-11 10:58] feketemihai commented on #272
@sandrafig Can you check on VIES, http://ec.europa.eu/taxation_customs/vies/vatRequest.html?locale=en if your spanish partner is listed...or could give a vat number to check...

[2016-05-11 11:21] sandrafig commented on #272
@feketemihai I've checked with a lot of my spanish partners and it seems they are listed but none of them has the name nor the address processed.
I guess that has nothing to do with the module itself, so I close the issue.
Thank you

[2016-05-11 11:21] #272 closed, assigned to nobody

[2016-05-13 14:08] yvaucher commented on #262
You probably need to install

https://github.com/OCA/partner-contact/tree/7.0/account_partner_merge

[2016-05-13 14:57] jalzaga commented on #262
That´s right, this module solves the problem of commercial_partner. Thanks a lot

[2016-05-13 14:57] #262 closed, assigned to nobody

[2016-05-13 16:09] yvaucher commented on #196
See https://github.com/OCA/partner-contact/pull/274 in which I implemented what @hbrunn proposed.

[2016-05-26 19:32] sciallo opened #277 "Open in map App on smartphone"
module: partner_external_map
version: 9.0

**Steps to reproduce**
- Using android phone click on map button

**Current behavior**
First time popup gets blocked by browser, when allowed it asks if I want to open with map app and gives me possible choices of apps I can use (GREAT!)
From that point on, when clicked it just opens it in a new tab of the browser, no choice to use an app.

**Expected beh

[2016-06-02 18:11] qupro commented on #167
I got the same problem (Odoo 9.0c , ubuntu 14.04), and I had installed unicodecsv with
`sudo apt-get install python-unicodecsv`.

After the error I did a `sudo pip install unicodecsv --upgrade` getting this:

Then I restart the server with `sudo service odoo-server restart` and now it works.

Note: I don't get this error in a Debian 8.3 installation

[2016-06-21 11:57] lmignon opened #283 "[9.0][base_partner_merge] Unable to upgrade database once the module is installed"
Once the module is installed, I'm no  more able to update `-u all` my instance or restart the server.
The following error is raised by the server:

[code]

[2016-06-21 11:58] lmignon commented on #283
@yvaucher Do you encounter the same issue?

[2016-07-01 15:15] yvaucher commented on #283
@lmignon just tried it and couldn’t reproduce. Are you sure you haven't installed `crm` beside this module?

I tried on OCB 808729f1f5a689f8b11310e9dd111806bd5dff01
Thus I tried again on last OCB commit 443ded9c7c2c254eb29fdd0cebf563ef58feeee2

Both worked fine.

Have you resolved it?

Note: my server has only few modules installed (37). Not even account, hr, sale nor stock is installed.

I tried

[2016-07-09 00:55] rafaelbn commented on #217
Could you review this issue @sbidoul @adrienpeiffer please?

[2016-07-09 08:40] sbidoul commented on #217
I personally agree it's a bug. @adrienpeiffer will look into it.

[2016-07-18 06:33] adrienpeiffer commented on #217
I just propose a correction for this one on #288

[2016-09-01 12:58] open-net-sarl opened #305 "Readony on zip_id"
The zip_id in partner view must be readonly as the zip or city.
<field name="zip" placeholder="ZIP" class="o_address_zip"
                                    attrs="{'readonly': [('type', '=', 'contact'),('parent_id', '!=', False)]}"/>
<field name="city" placeholder="City" class="o_address_city"
                                    attrs="{'readonly': [('type', '=', 'contact'),('parent_id', '!=', F

[2016-09-01 13:02] pedrobaeza commented on #305
Please make the PR amending this.

[2016-09-28 08:29] atchuthan opened #308 "[partner_address_street3] Suggestion to add street3 field in address_format using post_init_hook and uninstall_hook"
@gurneyalex

The field is only available in res.partner form and is not shown in name_get of show_address at Sale order nor in its report.

So, I am planning to create post_init_hook for this module, to add street3 in the address format of each country via SQL query.

**post_init_hook query**
UPDATE res_country
SET    address_format = replace(address_format, '%(street2)s', E'%(street2)s\n%(street3

[2016-09-30 09:59] gurneyalex commented on #308
sounds like a good idea to me.

[2016-09-30 13:25] atchuthan commented on #308
thanks.. will try to make the PR in few days

[2016-10-01 13:53] gokhanerdogdu commented on #210
Hello,

When will this be released for V9?

[2016-10-03 02:41] cvinh commented on #283
@lmignon @yvaucher
I did reproduce the problem. I noticed that I had both `crm` and `base_partner_merge` installed.
How would it be possible to avoid that situation ?

[2016-10-03 08:22] yajo commented on #210
Sorry, this is fixed in https://github.com/OCA/partner-contact/pull/227. Please somebody close this.

[2016-10-03 08:24] #210 closed, assigned to nobody

[2016-10-06 12:07] pedrobaeza opened #309 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] account_partner_merge
- [x] ~~base_contact~~ - Removed as deprecated in #374
- [ ] base_continent - By @qtheuret - #544
- [x] base_location - By @OpenCode - #317
- [x] base_location_geonames_import - By @alexis-via - #320
- [x] base_location_nuts - By @chienandalu - #432
- [x] base_partner_mer

[2016-10-07 10:35] LionelBLANCHET opened #313 "[9.0] [partner_external_map] installation error Expected singleton: res.users"
I have an error "Expected singleton: res.users"  when installing module partner_external_map  on odoo 9.
Is there a way to solve ?

The complete traceback is :

[code]

[2016-10-07 12:47] pedrobaeza commented on #313
That's because of your module auguria_pos_cashier_ean13 that is not multi record aware.

[2016-10-07 12:47] #313 closed, assigned to nobody

[2016-10-08 14:41] Garamotte commented on #309
Migration of partner_firstname here : https://github.com/OCA/partner-contact/pull/311

[2016-10-10 15:11] yvaucher commented on #283
@invitu If you have `crm` installed, you don't need that module as it also exists in `crm`

Please read carefully the README: https://github.com/OCA/partner-contact/blob/10.0/base_partner_merge/README.rst

[2016-10-10 17:57] cvinh commented on #283
@yvaucher I understand very well that the module is not needed when crm is installed.
BTW the problem that @lmignon and I meet is that if both modules are installed, the database is stuck and we cannot uninstall the module afterwards... (I had to manually uninstall the module by removing the folder in the server addons)
Do you think possible that the module would be "uninstallable" if crm is insta

[2016-10-11 10:09] yvaucher commented on #283
@invitu I'm not aware of any way to forbid a module to be installed when an other is already present in database. Thought it could be possible to make a check in
https://github.com/odoo/odoo/blob/9.0/openerp/addons/base/module/module.py#L399

[2016-10-16 03:39] cvinh commented on #309
partner_contact_gender, partner_contact_birthdate, partner_contact_personal_information here : https://github.com/OCA/partner-contact/pull/315

[2016-10-18 08:13] atchuthan commented on #308
created PR https://github.com/OCA/partner-contact/pull/316 related to this issue

[2016-10-18 08:13] #308 closed, assigned to nobody

[2016-10-22 22:57] alexis-via commented on #309
Migration of partner_external_maps: https://github.com/OCA/partner-contact/pull/319
Migration of partner_address_street3: https://github.com/OCA/partner-contact/pull/318

[2016-10-29 16:44] blaggacao opened #321 "Licensing of some basic modules"
I guess there is very interesting and valuable, and above all reusable work done in this repository, however it seems that for a licensing conflict we cannot use it for localisation modules. First it needs to be acknowledge, that we can only publish under LGPL in order not to automatically produce kind of a license conflict with our more ample private developments. But then, on the other hand we w

[2016-10-29 21:00] hbrunn commented on #321
for any of my commits, it's a non-negotiable no

[2016-10-30 05:59] blaggacao commented on #321
I see that the following modules could be of special interest:
- `base_location` - as it is almost inevitable that more advanced modules would depend on some kind of data produced under this facilities. (read=city based conditionals)
- `base_location_geonames_import` - the previous argument goes unchanged here
- `partner_identification` - this is a great base for amplification and adaption and mak

[2016-11-02 13:24] yajo commented on #321
As long as any of you want to sue bad uses of your AGPL-licensed addons at any point in the future, it's rational to keep that license.

If you just license it in AGPL but either use it as a dependency of an LGPL/private addon (illegal) or don't want to take any action on anybody doing that, then just license it under LGPL and forget about legal issues. It's open source too, after all.

OCA's stan

[2016-11-02 13:24] #321 closed, assigned to nobody

[2016-11-02 14:09] blaggacao commented on #321
@Yajo can you clarify:

Point 1: AGPL is good if you wants to keep the option to sue bad license use, for example as a strategic option in your market.
Point 2: If you can, license LGPL, and forget about the issues downstream.

OCA position: Point 2? I cannot see how changing this is the alternative to relicensing.

In my case, if I want to include upstream work, my work is getting infected. On th

[2016-11-03 09:37] yajo commented on #321
Point 1:

Point 2 (OCA's current position):

In your case, if you depend on AGPL work, you can only license yours under AGPL.

I don't understand that sentence. What's IP?

[2016-11-03 12:38] blaggacao commented on #321
IP = Intellectual Property - This is possible because OCA position is just that: an opinion. Legally binding is the license and this opens the door to a competitor, who does not maintain OCA's position to extract the intellectual property forcibly. Of course, anyone is entitled to sue for AGPL compliance, after all it's a public license which public interest, so if the interest of "the public" is

[2016-11-03 13:05] rvalyi commented on #321
@blaggacao I would rather re-phrase "I cannot use AGPL, because a third party would be happy to extract our dependent IP through legal action, then" as "because third parties prefer putting some pressure so that businesses using their code forward some code back to the ecosystem by playing by the same rules."

[2016-11-03 14:08] yajo commented on #321
But I don't understand what you mean. In fact, publishing under AGPL gives you more rights and protects more your code. You can still publish your assets under a different license, because assets are not code.

[2016-11-03 22:26] blaggacao commented on #321
@rvalyi I don't believe the benefits of feeding back code exceed the risks incurring in extra expense by having legal action taken against me. Or maybe I didn't understand your argument well...

@Yajo AGPL comes with rights AND obligations. Enforcing my rights is on my pocket. Obeying the obligations is matter of honour and good conduct it doesn't cost anyone anything in my case. The obligation I

[2016-11-13 16:08] lasley opened #332 "partner_firstname name splitting"
The default operation of [`partner_firstname`](https://github.com/OCA/partner-contact/tree/10.0/partner_firstname) is to split names as LastName Firstname, but this is weird from a user perspective. This design caused incorrect splits on 100% of my customer data, so I don't see how it's useful. The note in the ReadMe implies that it's not intended to be accurate, but then why have it?

Would a fix

[2016-11-13 16:31] hbrunn commented on #332
well, historically, this module comes from French speaking contributors, where this splitting is correct - also without a comma. "BRUNN Holger" is a totally normal French way to give a name. For the Netherlands, we fix this in a module depending on it https://github.com/OCA/l10n-netherlands/blob/8.0/l10n_nl_partner_name/model/res_partner.py#L62. From this, you'd only need an init hook the overwrit

[2016-11-13 16:45] lasley commented on #332
Interesting so in France there is no way to differentiate whether the name is last first, or is it the fact that the last name is capitalized?

Awesome thanks for the suggestion @hbrunn - this actually makes me understand exactly what the `l10n` OCA repos are for too. It also seems you've already written most of my code for me, so thats nice too! Even included `initials`, which I also needed ❤️

I

[2016-11-13 16:45] #332 closed, assigned to nobody

[2016-11-13 18:35] pedrobaeza commented on #332
We covered other orders with this PR: https://github.com/OCA/partner-contact/pull/227, because in Spain that order is not always the desirable.

[2016-11-13 23:30] lasley commented on #332
Well crap guess I should close OCA/l10n-usa#4 then. Looks like I will instead need to forward-port the changes, seems they didn't make it to the versions I care about 😦

[2016-11-16 20:30] max3903 opened #335 "Nutrition information"
# partner_contact_height

Height: float
Height UOM: many2one with uom in the Distance category

# partner_contact_weight

Weight: float
Weight UOM: many2one with uom in the Weight category

# partner_contact_nutrition

Add a "Nutrition" tab on the partner form view. Only visible if the partner is an individual.

Calorie: float
Calorie UOM: many2one with uom
Fat: float
Fat UOM: many2one with uom
Pr

[2016-11-16 20:35] pedrobaeza commented on #335
You already have partner_gender for the first one

[2016-11-16 20:40] max3903 commented on #335
@pedrobaeza Good catch. Thanks! I just removed it from this issue.

[2016-11-16 20:52] lasley commented on #335
Maybe instead of a Medical tab, just add into the `Personal Information` tab that the gender and birthdate go under:

![image](https://cloud.githubusercontent.com/assets/7397578/20365352/7906f960-abfb-11e6-9610-272d75422711.png)

We just finished completely removing the Medical tab from vertical medical 😆 . It would conflict in v8 and 9 though.

[2016-11-16 20:53] max3903 commented on #335
@lasley Done. Thanks!

[2016-11-16 20:59] lasley commented on #335
Question on the allergies. Given the context, it seems like maybe we want the term `allergen` instead?

Looking at the nutritional goals, it would be interesting if the `weight` was tracked over time instead of simple float. Maybe I'm getting too far ahead though.

[2016-11-16 21:04] max3903 commented on #335
@lasley My scope does not include the history, but it would be easy for another module to make this field get the last value from the weight history. Same with height if you want to track it for children.

[2016-11-17 08:37] NL66278 commented on #335
I think the name partner_nutrition_meal will set people on a wrong footing on what it is about. It looks like a reference to some kind of meal. What about partner_nutrition_style, or maybe partner_nutrition_lifestyle?

[2016-11-17 09:34] yajo commented on #335
When your product.product is a meal, don't you have any place where to store its ingredients? Those would be the allergens, not the product.product (imagine you have hunderds of different meals with same ingredients...).

Maybe [product_custom_info](https://github.com/OCA/product-attribute/pull/177) would fit there.

[2016-11-17 15:39] max3903 commented on #335
@NL66278 what about `diet`?

@Yajo A meal and its ingredients will be product.product and the BOM will have the recipe.

[2016-11-21 09:01] Giuliano69 commented on #309
Hi,
may I ask if the passport module has been removed because of being incorporated in other module or because of other problems ?
It may be needed in case of invoicing to ETRA EU customer (vat exemption - passport number mandatory  in customer data)

Thanks for your help

[2016-11-22 15:13] max3903 commented on #335
Anyone to review the last 5 PR? Everything is green.

[2016-11-22 16:41] lasley commented on #335
I'll hit up the ones I haven't reviewed & add approvals to the changes today

[2016-11-22 19:24] max3903 commented on #335
@lasley Thank you very much!

[2016-11-23 17:03] max3903 opened #346 "[ROADMAP] partner_contact_nutrition_activity_level"
# Version 9.0.2.0.0

Change activity level to be a Many2one field to a new model (partner_contact_activity_level) with the default data already loaded.

[2016-11-23 17:05] max3903 commented on #346
ping @susport

[2016-11-25 22:33] njeudy commented on #309
partner_contact_in_several_company here: #347

[2016-11-29 21:21] #335 closed, assigned to max3903

[2016-12-02 16:23] lasley commented on #346
I was about to handle this in the v10 migration, but this seems a bit excessive IMO. What about a method to return the select options instead? Happy medium?

Are there some use cases that you can elaborate on that I'm maybe not thinking of?

[2016-12-03 16:37] dreispt commented on #346
Hello, I just noticed all the nutrition related modules, and just realized that they are health/diet related.
(I initially thought they were related to lead generation...)
I think partner-contact should be related to business relations, partner localization requirements, addresses, etc.
Diet and health related modules would be best in their own repo.
Thoughts?

[2016-12-03 16:38] lasley commented on #346
👍  for `vertical-health`. I'm having a ton of trouble offloading modules from `vertical-medical` (we broke the 50 count in the incubator the other day). A new repo would help immensely.

[2016-12-03 16:39] dreispt commented on #346
@lasley That sounds good to me. I too agree that there is no need to overload `vertical-medical`.

[2016-12-03 16:43] lasley commented on #346
I'll shoot the request to mailing list once we gather stakeholder thoughts.

@max3903 - these nutrition modules are your babies. Thoughts on inclusion into a different repo?

[2016-12-03 18:25] max3903 commented on #346
@Lasley I don't mind at all. I am using the package from wheelhouse.odoo-community.org

[2016-12-03 20:51] dreispt commented on #346
@max3903 honoring stable module releases, this repo change could be only for 10.0

[2016-12-07 16:23] leemannd commented on #184
@pedrobaeza @yvaucher port of partner_changeset from [8.0]. https://github.com/OCA/partner-contact/pull/357
It replaces https://github.com/OCA/partner-contact/pull/213 as it is not going forward from a long time.

[2016-12-12 06:24] njeudy commented on #309
Anyone to review #347  ? code is ready ;)

[2017-01-04 02:02] lasley opened #365 "[RFC] partner_identification: Pass-Through Fields"
We're running into some issues with splitting up the `partner_identification` attributes in medical.

I am in the process of implementing the below code to circumvent the issue in the [base medical entity](https://github.com/OCA/vertical-medical/pull/119), but am wondering if there is use case outside of medical. Any thoughts?

[code]

I'll probably also need to make an inverse - at least for the

[2017-01-27 13:39] yvaucher commented on #309
added partner_changeset to the list: https://github.com/OCA/partner-contact/tree/9.0/partner_changeset

[2017-02-09 11:59] tarteo commented on #309
Hello,
Is there a reason why base_vat_sanitized is not on the list?

Thanks in advance! :)

[2017-02-09 12:28] pedrobaeza commented on #309
Because it was not present in 9.0 when we migrate the 10.0 branch.

[2017-02-09 12:45] tarteo commented on #309
@pedrobaeza Okay!

[2017-02-17 15:15] JordiBForgeFlow opened #389 "[RFC] [base_res_country_group]"
We want to introduce the ability to group countries for the purposes of reporting.

For example, some companies want to report on sales in EMEA, North America,...etc.

While the reporting itself is not relevant in this RFC (we will use https://github.com/OCA/reporting-engine/tree/8.0/bi_view_editor) what we intend to do is to add a new field 'group_id' to the res.country, that will link to res.cou

[2017-02-17 15:22] JordiBForgeFlow commented on #389
cc @mreficent

[2017-02-17 16:13] #389 closed, assigned to nobody

[2017-02-24 12:10] tarteo commented on #309
@pedrobaeza Can I migrate base_vat_sanitized?

[2017-02-24 12:13] pedrobaeza commented on #309
It's already migrated in https://github.com/OCA/partner-contact/pull/343. I'm adding to the list.

[2017-02-24 12:14] tarteo commented on #309
@pedrobaeza Thanks!! :)

[2017-02-28 12:54] paulius-sladkevicius commented on #309
@pedrobaeza similar question, why partner_sector is not in the list?

[2017-02-28 19:47] cvinh commented on #309
@paulius-sladkevicius @pedrobaeza is on holidays... I hope he is having a big breath ;-)
partner_sector has been added to 9.0 branch on November 2016. The 10.0 branch has been created end of October 2016 so partner_sector was not in 9.0 branch at that time.
I think good practise is to do a PR to add partner_sector in 10.0 branch (with installable = False) and then do another PR for migration to 10

[2017-02-28 19:52] lasley commented on #309
Wow @pedrobaeza on holidays?! I didn't feel like this could ever happen! Get some rest, friend 😄

@invitu @paulius-sladkevicius We should just add the missing modules to the list, there's no reason to create two PRs. Our [v10 migration instructions](https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0) should be all that's needed in regards to the actual migration.

@OCA/crm-sale

[2017-02-28 19:58] pedrobaeza commented on #309
I'm on holidays but still keep an eye for these quick tasks :wink:

Added module to the list

[2017-02-28 19:59] cvinh commented on #309
@lasley The reason to add the unmigrated module in separate PR is to better see the diff when migrate is done (thanks to @legalsylvain )

[2017-02-28 20:01] cvinh commented on #309
@pedrobaeza on holidays but still not sleeping ;-)

[2017-02-28 20:13] lasley commented on #309
@invitu - Hmmm I see where you're coming from with that. I just look at a manual diff, but that was a process I had to learn and I admit wasn't that obvious.

The current process is to do the migration in one PR. Changing it is a fairly far reaching proposal, so I think it would be best if you submitted an RFC (issue) to the [maintainer-tools](https://github.com/OCA/maintainer-tools/issues) repo,

[2017-02-28 20:21] cvinh commented on #309
@lasley my comment comes from https://github.com/OCA/pos/pull/154#issuecomment-282669089

[2017-02-28 20:25] lasley commented on #309
@invitu - we can discuss there, I believe you misunderstood

[2017-02-28 20:53] invitu commented on #309
@lasley I opened a issue here https://github.com/OCA/maintainer-tools/issues/261

[2017-03-04 15:13] mudhar opened #394 "Unknown field is_company in domain [["is_company","=",True]]"
I got error when i click button contact

[2017-03-13 09:30] zeroheure opened #397 "[10.0] readme of base_location_geonames_import doesn't tell about unicodecsv"
Readme of base_location_geonames_import should mention Python unicodecsv as a dependency.
(pip install unicodecsv)

[2017-03-14 09:50] maljac opened #399 "[8.0][partner_firstname] Problem with addon update"
Hi,

since the addon makes changes to the `name` field, these changes will get overriden by any other module that depends on `base`.

Scenario:
1. Install (or Update) `partner_firstname`
2. Install (or Update) any other module that depends on `base`

Now try to create a new partner. You will get a error message that says, that the SQL statement fails due to the not null constraint for the `name` f

[2017-04-07 14:12] bealdav opened #404 "RFC - Keep partner data immutable for history purpose"
As you Odoo res.partner concept don't keep history.

If you update a contact (address), older sales, picking and invoices address are also impacted by the update, even the oldiest.

I think we could find a way to keep history, at least for shipping address and invoice address.

### Approach 1
- when validating a Sale Order (same on picking and invoice) the linked address should be archived. This m

[2017-04-07 15:47] legalsylvain commented on #404
Hi @bealdav. I'm not very in favor to create and archive new partners for that purpose. This is a reccurent problem that should be fixed with another approach, more lighter with a computed field, stored, that is invalidated when the order is confirmed.

### Approach 3

on purchase order, create a new field

[code]
After, use this field instead of the partner adress.
That feat with the reality. Whe

[2017-04-07 16:05] lasley commented on #404
This is one of my pain points with Odoo, and would be great to solve. I agree with @legalsylvain on not being in favor of creating new partners - it seems to me like we'd see a lot of edge cases.

I think the proposed approach 3 could be viable, but I wonder if we're being a bit narrow sighted here. An example would be the related stock pickings, which still look as if they were delivered to the n

[2017-04-07 16:12] pedrobaeza commented on #404
My procedure for this would be (without changes):

1) Have always a delivery child res.partner, although being the same as the parent one. Use that one for deliveries.
2) If the address changes, disable that partner and create another one with the new address.

Point 1 can be automated.

[2017-04-08 09:07] bealdav commented on #404
@legalsylvain Yes it seems your approach is the easiest, thanks It's the way most ERP do the job.
But I think it implies to make db grow up with a lot of repeated informations. Most of usual customers don't change address often

And our db are now big after 7 or 8 years of tiny... to big erp ;-)

Personnally I prefer approach 2.

Let other people express themself
ping @guewen @rvalyi @JayVora-Serp

[2017-04-08 10:55] legalsylvain commented on #404
Hi @lasley.
Indeed your ```with_context(version_date=xxx)``` could be a very great feature !  (**approach 4**) and could be made in a very generical way ! Like ```track_visibility``` feature, we could imagine a history_enabled = True on fields. If yes, all changes could be archived. (After the with_context could be easy (more or less) to implement). I wonder if such features have not been implemen

[2017-04-08 18:10] lasley commented on #404
@bealdav I think there will be considerable edge cases with archiving partners in approach 2. For example, grouping by partner would no longer be possible. Additionally, what would be the considerations for disparate record associations, such as patients in Medical?

Approach 3 - I guess it's really a question of whether the size introduced by this method hurts you. IMO disk space is incredibly ch

[2017-04-10 10:26] sebastienbeau commented on #404
@lasley In fact you do not have more issue with group by then in the natif case. Group by should be done on the commercial_partner_id (the parent). As archived address are always liked to the parent the commercial_partner_id will be correct. In case that you want to filter on the contact of the company that have done an order to your team, in this case the group by will not work correctly but I do

[2017-04-10 12:05] NL66278 commented on #404
If you want to search sales, invoices, deliveries etc. on city, or country or whatever in address, you will not be able to use text fields containing the full address. So for me this takes out approach .3

The problem with a really good approach, that is with a fully relational database, is that the concepts or partner and partner address have been merged, which in my opinion was a huge design blu

[2017-04-10 14:16] mourad-ehm commented on #404
The mix of proposed approaches can give this approach:
1. create an object that contains address fields (street, city, zip, ....) and a field address_version.
2. The version can be 1, 2, 3, 4 .... (I prefer number to "date" because easy to handle)
3. add a field address_version on sale.order, stck.picking, account.invoice.
4. at the validation time of sale, picking, invoice, .. we store the last a

[2017-04-10 14:30] bealdav commented on #404
:+1: for mourad proposal

[2017-04-10 14:55] sebastienbeau commented on #404
Just for information In Tryton they have the concept of history_table see here http://hg.tryton.org/trytond/rev/7d205b181b4c
If you modify a partner record they insert the history value in this special table. It can be solution to implement what @lasley was proposing.

Adding a new table for storing the historical value may make hard the reporting / analysis / group by because you have to join dat

[2017-04-18 20:27] hbrunn commented on #283
I just talked to a colleague about this, and even though I can't invest time currently to fix this myself, here's how I think we can do it (and for the installation part: We can raise in one of the init hooks if the CRM module is installed)

The problem is that both modules being installed creates a class inheritance hierarchy where the same class is mentioned multiple times, very bad. To fix this

[2017-04-19 01:37] lasley opened #407 "[RFC] partner_rating: Rating Aggregation By Partner"
This module will provide an attribute on partners to represent their overall rating across all source record types.

It will do this by adding a `rating_ids` o2m field with an inverse pointing to `rating.rating.rated_partner_id`. A computed field `all_rating_ids` will be added that will represent all ratings for the partner including the ratings for all children (and subchildren).

Another compute

[2017-04-19 16:41] lasley commented on #407
Alright now this is actually ready, instead of my accidental early submission! Can a PSC please mark as `question` and `10.0` milestone? Thanks!

[2017-04-20 14:07] rafaelbn commented on #407
Have you check rating* modules from Odoo? Maybe same concept applied to the res.partner?

[2017-04-20 16:00] lasley commented on #407
@rafaelbn - Yeah this is actually to complement those modules.

Imagine a scenario where `rating_issue` is installed, plus a hypothetical `rating_appointment`. A partner can receive ratings on two different types of records, issues and appointments, so this will provide an aggregation between them onto the partner itself.

Edit/Note: You will not actually rate a partner with this module. It will i

[2017-05-02 21:03] lasley commented on #404
@sebastienbeau - Thanks for the pointer on how Tryton does history, I think I'm going to run with this as part of OCA/server-tools#787

[2017-05-17 15:51] lasley commented on #365
tracking in PR #419

[2017-05-17 15:51] #365 closed, assigned to nobody

[2017-05-25 16:35] thomassterk opened #421 "[8.0] _display_name not updated when changing Firstname or Lastname"
When changing Firstname or Lastname the _display_name field is not updated. This makes it show the old name in Kanban view and listings

[2017-05-25 16:37] #421 closed, assigned to nobody

[2017-05-25 16:39] thomassterk opened #422 "[8.0] _display_name not updated when changing Firstname or Lastname"
When changing Firstname or Lastname the _display_name field is not updated. This makes it show the old name in Kanban view and listings

[2017-05-31 10:23] AaronHForgeFlow commented on #335
In my opinion all these modules should go to a vertical-medical repo not the partner-contact

[2017-05-31 17:12] lasley commented on #335
@aheficent Vertical Medical is already quite large, and my team struggles to maintain it. I hesitate to expand the scope to include Health contexts, which are mutually exclusive from Medical contexts, due to the current struggles there.

We do glue some of these modules in using [`medical_agpl`](https://github.com/OCA/vertical-medical/pull/174), but really they are just nice to haves and only for

[2017-06-01 17:25] moylop260 opened #434 "[10.0] partner_identification: Infinite loop for _search_identification"
The following test has a [search](https://github.com/OCA/partner-contact/blob/1bc94dff59c405c4ac6c3eecb6ff2499accfacb1/partner_identification/tests/test_res_partner.py#L123) with a infinite loop computing the domain from [odoo/osv/expression.py#L781](https://github.com/odoo/odoo/blob/79477b8d96be47cca5609ce5e4dd84a7e7f64f0a/odoo/osv/expression.py#L781)

`category_id.code='SSN'` increase for each i

[2017-06-02 08:18] yajo commented on #434
Thanks @moylop260! Great debugging!

Hi there @lasley, do you think you can fix this, given https://github.com/OCA/partner-contact/pull/419 was yours?

[2017-06-06 14:58] pedrobaeza commented on #434
@lasley any news about this bug?

[2017-06-06 20:11] lasley commented on #434
Been in and out of town (Pycon + a vacation), so wasn't able to hit this yet. I'm starting to catch up on workload though, so I should have something here soon.

[2017-06-08 11:03] #434 closed, assigned to yajo, lasley

[2017-06-13 07:47] #217 closed, assigned to nobody

[2017-06-23 10:31] VisiionSoluciones opened #439 "[9.0] Uncaught Error: Unknow field parent_id in domain [["type","=","contact"],["parent_id","!=",false]]"
Hi,
I have this error when I try to create a new contact inside a partner.

I think the problem may be in the following file:

base_location/views/partner_view.xml

in attrs values

[2017-06-29 21:28] woodbrettm opened #443 "[10.0] partner_firstname: Firstname Lastname order not correctly changed."
1. Initial config: Lastname, Firstname
2. Go to Settings => General Settings
3. Change config to Firstname, Lastname
4. Hit Recalculate Names, then click apply
5. Go back to contact. I think the name field changes from Phillip Miller to Miller Phillip, however notice the firstname and lastname fields.
![phillip](https://user-images.githubusercontent.com/11901801/27711103-f671e8f6-5cd6-11e7-8f35-4b

[2017-07-05 15:21] alan196 commented on #309
Migration of base_partner_merge in #445

[2017-07-13 07:41] wpichler opened #447 "base_location support for crm.lead"
Hi all,

i think it would be a good idea to also add base_location support to crm.lead.

Your thoughts about this ?

[2017-07-13 07:49] pedrobaeza commented on #447
That's already exists, and it's https://github.com/OCA/crm/tree/10.0/crm_location

[2017-07-13 07:49] #447 closed, assigned to nobody

[2017-07-18 03:08] shepilov-vladislav opened #448 "fatal: No url found for submodule path 'pylint-odoo' in .gitmodules"
[code]

[2017-07-18 08:19] yajo commented on #448
Not sure how did that submodule land there without a `.gitmodules` file...

[2017-07-18 08:20] pedrobaeza commented on #448
It's not an issue of this project.

[2017-07-18 09:07] yajo commented on #448
Yes it is, you can check the existence of the dangling submodule by browsing the 10.0 tree in github, it seems to have been added here: https://github.com/OCA/partner-contact/commit/1a0000c184b8854e1d29fb91922a5f4fa701cc35#diff-43132dc343f29dbe8e58462f7dd46d91

[2017-07-18 09:08] pedrobaeza commented on #448
Ouch, please remove it via direct commit.

[2017-07-18 10:41] yajo commented on #448
I tried, but I couldn't, not sure how to do that...

[2017-07-31 14:23] Ehtaga opened #453 "[11.0] New branch"
When do you think the 11.0 branch will be available on OCA repos? We are starting to migrate some modules and would be glad to create some PR towards a 11.0 branch.

Thanks

[2017-07-31 14:28] pedrobaeza commented on #453
Sorry, but branches are created only when official release is done (usually at the Odoo days). I also recommend not to invest too much time on 11.0 migrations yet, as things can change a lot and to be a futile effort.

[2017-07-31 14:28] #453 closed, assigned to nobody

[2017-08-01 11:35] christophe-hanon opened #454 "partner_relations module / left and right partners mismatch/ - corrupting relations and throws "Partners cannot have a relation with themselves""
The partner_relations module exhibits a series of incorrect behaviors.ra

This problem is reported for version 8, but as far as I can see, the next generation module has changed its name but not its behavior....

In my case we have defined the relation 'tta_member' with the inverse 'has_tta_member'.

# Case
A has_tta_member B1
A has_tta_member B2

# Problem 1

From the record A / click on 'relatio

[2017-08-03 14:09] Rayito-M commented on #448
I tried to fix it but can't do a direct has i don't have the writing right on the repro

CAn you try to fix it now as it's really a 2mn job...

Best

[2017-08-04 07:24] yajo commented on #448
If you have the fix @ChristopheCubat, can you PR?

[2017-08-31 05:14] hhgabelgaard opened #466 "10.0 No translations in Transifex"
All resources (addons) have 0 source strings in transifex for the 10.0 branch:

![image](https://user-images.githubusercontent.com/7933710/29907336-29e7ba74-8e1b-11e7-9df5-239ffce13f5d.png)

Other branchs (8.00, 9.0) seems ok.

Maybe related: The .pot file in partner_contact_gender is wrongly named (https://github.com/OCA/partner-contact/blob/10.0/partner_contact_gender/i18n/partner_gender.pot) an

[2017-09-06 08:37] #448 closed, assigned to nobody

[2017-09-07 09:16] cesarsc79 opened #469 "dont work in 10"
Hi

when i push    GET VIES DATA into a create a new partner................

????????????????????????????

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch
    resul

[2017-09-07 09:18] pedrobaeza commented on #469
Incorrect python library version. Please update.

[2017-09-07 09:18] #469 closed, assigned to nobody

[2017-09-07 09:34] cesarsc79 commented on #469
Thank you Pedro

what library?

root@ubuntu:/home/odoo/partner-contact-10.0/partner_create_by_vat/tests# pip list --outdate
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
Babel (1.3) - Latest: 2.5.0 [wheel]
beautifulsoup4 (4.4.1) - La

[2017-09-07 09:36] pedrobaeza commented on #469
suds:

https://github.com/OCA/partner-contact/blob/10.0/partner_create_by_vat/__manifest__.py#L18

[2017-09-07 09:43] cesarsc79 commented on #469
pip install suds

but

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python2.7/dist-packages/odoo/

[2017-09-08 06:27] pedrobaeza commented on #469
Maybe @feketemihai can say.

[2017-09-12 04:58] feketemihai commented on #469
@cesarsc79 @pedrobaeza Sorry for the late reply, was in holiday, it should work, the runbot of 10 is not  raising error, so @cesarsc79 try to upgrade stdnum with "pip install --upgrade stdnum" and try after...

[2017-09-12 07:40] michaelkarrer81 opened #471 "[8.0] partner_firstname: closed cursor exception on concurrent updates"
# Steps to reproduce:
Run two independent xmlrpc-calls that constantly update the "firstname" field of the same res.partner.
(latest o8 with latest partner_firstname as of 12.09.2017)

# Expected behaviour
The expected Result is a TransactionRollbackError exception.
```TransactionRollbackError: could not serialize access due to concurrent update```

# Current behaviour
[code]

[2017-09-12 08:56] cesarsc79 commented on #469
Thank you @feketemihai

but dont work yet

Collecting stdnum
  Could not find a version that satisfies the requirement stdnum (from versions: )
No matching distribution found for stdnum

Collecting stdnum
  Could not find a version that satisfies the requirement stdnum (from versions: )
No matching distribution found for stdnum

[2017-09-12 09:10] feketemihai commented on #469
@cesarsc79 sorry, try with "pip install --upgrade python-stdnum"

[2017-09-12 09:21] cesarsc79 commented on #469
No module named es.nif

Is there any module called es.nif??

[2017-09-12 09:22] feketemihai commented on #469
It should be in stdnum packages, i think it's validation of spain individuals..

[2017-09-12 09:22] feketemihai commented on #469
es.nif: NIF (Número de Identificación Fiscal, Spanish VAT number)

[2017-09-25 17:14] StefanRijnhart commented on #127
Fixed for 8.0 (some time ago) https://github.com/OCA/partner-contact/pull/135

[2017-09-25 18:48] StefanRijnhart commented on #439
Solved in https://github.com/OCA/partner-contact/commit/3496517550ee1b

[2017-09-25 18:48] #439 closed, assigned to nobody

[2017-10-03 14:51] pedrobaeza opened #482 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_partner_merge
- [ ] base_continent - By @awwea - #523
- [x] base_country_state_translatable - By @yostashiro - #537
- [x] base_location - By @etobella - #488
- [x] base_location_geonames_import - By @jbeficent - #494
- [x] base_location_nuts - By @agaldona - #518
- [x] base_partner_m

[2017-10-13 22:41] zeroheure commented on #397
I was wrong

[2017-10-13 22:41] #397 closed, assigned to nobody

[2017-10-19 07:13] feketemihai commented on #482
partner_create_by_vat will not be migrated, Odoo's module "base_vat_autocomplete" is doing the same things...should i do something else since the module will be deprecated?

[2017-10-19 07:20] pedrobaeza commented on #482
OK, noted

[2017-10-24 20:26] njeudy commented on #482
@pedrobaeza :  partner_contact_in_several_companies and partner_contact_personal_information_page

#507

[2017-10-30 18:08] bouvyd commented on #482
Seems like `partner_company_type` does mostly the same thing as `res.partner.industry` model introduced in 11.0 at odoo/odoo@9a572f8eec67e78d76798c43b014f21e8a9dfdef

I'll leave you the judge of that though

**Edit:** perhaps it's actually `partner_sector` that is impacted. Honestly not sure about the functional difference between those two.

[2017-10-31 10:16] jprobineau commented on #482
@pedrobaeza : partner_contact_birthdate, partner_contact_gender, partner_contact_nationality, partner_contact_personal_information_page

[2017-11-08 09:21] Derter opened #516 "[10]: partner_street_name: 130k of Customer Data makes migration process stuck"
Installation process calls the migration of street into street and housenumber. On 130k Customer entries it does not install.

The process stops at any point and does not go through. When you stop odoo, process gets stuck.

When you go with "python odoo-bin -c /etc/odoo.conf -u partner_street_number --stop-after-init" you cannot even end process with keyboard command (ctrl+c). You can only kill it

[2017-11-13 23:58] emagdalenaC2i commented on #482
@dbo-odoo I agree, partner_sector is like res.partner.industry introduced in Odoo 11. You can manage the sectors / industry types in: Contacts --> Configuration --> Sectors of activity

[2017-11-14 12:39] yajo commented on #482
Then it should get migrated by OpenUpgrade possibly.

[2017-11-14 17:09] pedrobaeza commented on #482
Well, there's no 1:1 feature mapping, as parner_sector includes a many2many field for indicating secondary sectors, and also the included sector in standard data is not what everyone can consider as their current sectors. To be investigated further...

[2017-11-28 14:31] astirpe commented on #482
The functionality provided by module `partner_street_number` is completely covered by standard module `base_address_extended`.

Can we remove `partner_street_number` from the list of modules to be ported?

[2017-11-28 14:53] pedrobaeza commented on #482
We should analyze it then in OpenUpgrade for a smooth migration from v10 `partner_street_number` to v11 `base_address_extended`. Any way, I strike-through the line.

[2017-11-29 14:14] simahawk commented on #482
partner_identification @simahawk #526

[2017-12-01 14:20] 2zx opened #527 "[10.0] hide better_zip_id in res.company if not in edit mode"
in res.company form better_zip_id is visible even if not in edit mode

[2017-12-01 14:23] pedrobaeza commented on #527
Don't create issue if you make a PR

[2017-12-01 14:23] #527 closed, assigned to nobody

[2017-12-13 17:50] jesusVMayor commented on #482
base_partner_sequence https://github.com/OCA/partner-contact/pull/531

[2017-12-20 13:09] lucalg74 opened #536 "Problem with Italian localization."
module: base_location_geonames_import
version: 9.0

**Steps to reproduce**
- ...

**Current behavior**
I have imported without any error all cities and relative provinces. In some of them i have REGION instead Province. I've searched on the source and dounloaded the file for Italy. Opened on Excel i see everything correct. So, seems that a problem occurs on data import.

**Expected behavior**

[2017-12-22 07:30] eLBati commented on #536
Hello @lucalg74 which specific province does this happen with? Does it only happen  in version 9? Thanks

[2017-12-22 18:10] lucalg74 commented on #536
Hi, with a lot of provinces... Lazio, Campania, sud Sardegna, lombardia

Il 22 dic 2017 08:30, "Lorenzo Battistini" <notifications@github.com> ha
scritto:

[2017-12-26 15:25] JayVora-SerpentCS opened #538 "[10.0] : Wrong runbot link"
Corrected the link.

[2017-12-26 15:27] #538 closed, assigned to nobody

[2018-01-02 14:29] FrancoTampieri commented on #536
I haven't this problem on release 10.0 tested on two new test instances in Kubernetes

[2018-01-03 13:00] JayVora-SerpentCS commented on #482
partner_auto_salesman #542

[2018-01-09 12:44] JayVora-SerpentCS commented on #482
base_partner_merge #545

[2018-01-09 14:06] JayVora-SerpentCS commented on #482
portal_partner_merge #546

[2018-01-22 15:47] astirpe commented on #482
base_vat_sanitized #552

[2018-01-22 21:30] johnrisby commented on #404
I just discovered this problem on Friday after months of work on an Odoo implementation. Absolutely staggered it works like this. I spoke to someone on live chat and she suggested I try EE (I'm currently on CE) but I wasn't in the mood then after a stressful afternoon wondering if I had wasted my time so far.

She said she was going to pass it on to a developer to find out if EE worked this way (I

[2018-01-22 21:38] lasley commented on #404
@johnrisby - All known progress on this task can be read in this issue. Our community welcomes any contribution you would like to provide on this, but please don't just complain in an open source forum. Your complaints should be directed at authors of the software, Odoo SA, not the Odoo Community Association.

[2018-01-22 21:46] johnrisby commented on #404
@lasley I'm sorry if you saw it as a complaint against OCA but it isn't. I have taken it up with Odoo but without reply so far. I just hoped someone may have some further information and given that the Odoo 'forum' isn't a discussion forum, and this issue is about the problem I just discovered, I thought I'd ask. If there is somewhere better to discuss it, please let me know. For what it's worth,

[2018-01-24 08:24] mourad-ehm commented on #404
ping @hparfr

[2018-01-26 11:39] ricgarmar opened #553 "Users can't create new contacts"
After install module partner-firstname version 11  users can not create new contacts even if they have activated "you can create contacts" in their profile.
The message is:

Sorry, you are not allowed to access this document. Only users with the following access level are currently allowed to do that:
- Administration/Settings

(Document model: ir.config_parameter)

[2018-01-29 11:05] ricgarmar commented on #553
Sorry. I think it's not problem of partner-contact module.
I have seen that the problem is that when creating a new database in odoo 11, the "ir.config_parameter" object only assigns read / write permissions to the Administration / Settings user group. In Odoo 8, "ir.config_parameter" is also assigned read permissions for all groups.
So partner-firstname module can't read name-lastname order from

[2018-01-29 11:11] #553 closed, assigned to nobody

[2018-02-06 11:04] Grubiopa opened #554 "geonames_state_code_column does not exist"
Hi,
I try to install Base Location Geonames Import
Por Akretion,Agile Business Group,Antiun Ingeniería S.L.,Tecnativa,Odoo Community Association (OCA) and i have the next error:
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 677,

[2018-02-06 11:25] Grubiopa commented on #554
I reboot the system and all work

[2018-02-06 11:25] #554 closed, assigned to nobody

[2018-02-07 12:22] benwillig opened #556 "[10.0] partner_label report"
### Steps to reproduce:
1) Go on the partner list view
2) Select all partners
3) Print Partner label report

### Current behavior:
The reports looks fine but some labels are displaced. To be able to see it, I added a border to the address block.

### Expected behavior:
All labels should be aligned.

![screenshot from 2018-02-07 13-15-24](https://user-images.githubusercontent.com/27724417/35916037-

[2018-02-07 12:23] benwillig commented on #556
@hbrunn as you are the author of the module, you might have an idea. But I'm trying to find a fix at the moment.

[2018-02-14 11:38] icf20 opened #562 "nuts region and Better ZIP can work better together"
currently placing the zip code with better zip installed, for example 28821, will auto fill the NUTS L1 to Spain, is quite nice but the system should also auto fill NUTS L4 because is know(madrid)

![image](https://user-images.githubusercontent.com/17784575/36202360-cc93eb12-1183-11e8-96a7-a0930f1d29fc.png)

[2018-02-14 11:39] pedrobaeza commented on #562
There's no direct correspondence. If you develop an integration module, it's welcome.

[2018-02-14 11:39] #562 closed, assigned to nobody

[2018-02-16 11:50] andreschenkels commented on #482
It seems like most migrations to v11 stopped for partner-contact anything I can do here?

[2018-02-16 12:38] pedrobaeza commented on #482
Well, if you are interested in any module, you can:

- Review the PR if it's already proposed.
- Migrate a module and propose a PR.

[2018-02-22 19:03] ddufresne commented on #482
I would like to contribute on the migration of partner_multi_relation. I could do this tomorrow.

@NL66278 have you already begin at Therp ?

[2018-02-22 21:42] NL66278 commented on #482
@ddufresne We have not started migration to 11.0, but we still have an outstanding PR for 10.0 that has a refactoring for easier extention. If you migrate, I would suggest to take that as a starting point. https://github.com/OCA/partner-contact/pull/497

[2018-02-22 21:58] ddufresne commented on #482
@NL66278 sure, already gave my thumbs up for the refactoring. I will start from there.

[2018-02-24 14:36] icf20 commented on #562
for the record i leave this here

![image](https://user-images.githubusercontent.com/17784575/36631459-61d3a14e-1978-11e8-9adf-50eac9f47d86.png)

i do think this could work better with l10n_es_toponyms

[2018-02-27 02:57] ddufresne commented on #482
partner_multi_relation https://github.com/OCA/partner-contact/pull/564

[2018-03-09 00:15] cesarsc79 opened #573 "odoo 11 Contacts in several partners"
i just to install the module, but dont work

i go to the new tab into contact module (aplication) / create

AND........

Error:
Uncaught Error: Unknown field parent_id in domain

http://192.168.10.207:8069/web/static/src/js/core/domain.js:67
Rastreo de error:
Error: Unknown field parent_id in domain
    at Class.compute (http://192.168.10.207:8069/web/static/src/js/core/domain.js:67:23)
    at htt

[2018-03-09 08:40] pedrobaeza commented on #573
Please try on runbot to see if you find the same error.

[2018-03-09 13:47] cesarsc79 commented on #573
Of course

before reporting it as an error, I tried it on runbot 15 hours ago

[2018-03-09 14:38] pedrobaeza commented on #573
@njeudy you were the migrator. Can you please check?

[2018-03-09 22:48] njeudy commented on #573
@pedrobaeza ok will check and try to correct issue

can you assign this issue to me ? (can not take issue)

[2018-03-11 14:22] njeudy commented on #573
I create PR that prevent creating new position from contact form directly. That not in the scope of this module actually.
I had an issue / improvment not on readme, because if we need this, we have to create a clean wizard that ask for company associated with the new position, and check if it does not exist, and create it .

thanks for reporting this issue.

[2018-03-13 14:45] pedrobaeza commented on #466
It should be handled now.

[2018-03-13 14:45] #466 closed, assigned to nobody

[2018-03-25 09:34] cesarsc79 commented on #573
welcome

[2018-03-27 10:14] #573 closed, assigned to nobody

[2018-03-31 16:29] mikemikemike77 opened #578 "Odoo server error (Odoo 10 - partner_create_by_vat)"
Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/opt/odoo/odoo/odoo/http.py", line 333, in _call_function
    return checked_call(self.db, *args, **kwargs)
  File

[2018-03-31 16:30] mikemikemike77 commented on #578
Seems that the first time works... after that I have to restart the server to get it working an other time...

[2018-03-31 18:47] feketemihai commented on #578
@mikemikemike77 can you please post end stdnum and suds version and i will check tomorow..

[2018-03-31 18:48] feketemihai commented on #578
And please an example of the vat number that you try to validate and raised error.

[2018-04-02 04:09] feketemihai commented on #578
@mikemikemike77 Can you please try upgrading stdnum package with "pip install --upgrade stdnum", i tested on runbot and everything is fine, no error and partners are fetched correctly.

[2018-04-02 14:18] mikemikemike77 commented on #272
may be a wrong version of stdnum... i'm try to upgrade.. let you know...

[2018-04-02 15:09] mikemikemike77 commented on #272
I've upgraded the SO but still having errors:
![image](https://user-images.githubusercontent.com/18014648/38201407-7c24ac5e-3698-11e8-8e81-3a363f92a846.png)
![image](https://user-images.githubusercontent.com/18014648/38201433-8f3ba194-3698-11e8-8f4b-b18677a7cee7.png)
Traceback (most recent call last):
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 641, in _handle_exception
    return super(JsonRe

[2018-04-02 15:20] mikemikemike77 commented on #578
python-stdnum is already the newest version (1.2-1).
server details:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial
odoo 10.0

[2018-04-02 15:27] mikemikemike77 commented on #578
i'm using suds-0.4

[2018-04-02 15:37] mikemikemike77 commented on #578
2018-04-02 15:36:39,782 2818 ERROR robertelli1-test odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/o

[2018-04-03 05:17] feketemihai commented on #578
@mikemikemike77 I replicate your problem on a new server with the same version of dependencies, issue is that stdnum is not at the last version, so please launch "sudo pip install --upgrade python-stdnum" and it should be updated to version 1.8.1

Please tell me if it worked for you as well.

[2018-04-05 07:10] mikemikemike77 commented on #578
THANK YOU IT WORKS WELL AFTER UPGRADING!

[2018-04-05 07:10] #578 closed, assigned to feketemihai

[2018-04-09 17:30] christophe-hanon commented on #454
One thing sure the problem is still there in 10.0. Please note that if you enable symetric relation, data can be corrupted.

[2018-04-09 17:37] pedrobaeza commented on #454
@hbrunn are you aware of this?

[2018-04-10 06:40] hbrunn commented on #454
no, I'm not. there are a couple of [PRs on this module](https://github.com/OCA/partner-contact/pulls/NL66278) by @NL66278, did you encounter said issue there?

[2018-04-10 07:14] NL66278 commented on #454
@hbrunn I can confirm that I have seen these errors as well. They are tackled in my PR's on the 10 branch. Should be easy to backport these changes to 8.0 / 9.0.

[2018-04-13 22:03] rafaelbn commented on #556
Fixed in https://github.com/OCA/partner-contact/pull/557

[2018-04-13 22:03] #556 closed, assigned to nobody

[2018-05-31 15:27] juannmagd opened #593 "Problem version 11"
Al intentar elegir un contacto ya existente se obtiene este error
×
Odoo Server Error - Error de acceso
No se ha podido completar la operación por restricciones de seguridad. Contacte con su administrador del sistema.

(Tipo de documento: res.partner, Operación: read)

[2018-05-31 15:28] juannmagd commented on #593
El usuario es el administrador y he hecho las pruebas con solo el modulo de contactos instalado

[2018-05-31 15:35] pedrobaeza commented on #593
Please:

* In English.
* Specify module.

I close this issue for you to make a proper one.

[2018-05-31 15:35] #593 closed, assigned to nobody

[2018-06-08 13:52] SalahAdDin opened #595 "[11][base_location_geonames_import] Close button or close dialog after importing."
I found this module very very useful, thank you.

I'm thinking about put a close button or dialog after importing could be more clear the importing workflow for normal users. Also,  it could be great a window reload, it will make clear to the user that all localization where imported successful.

What do you think about?

[2018-06-08 13:53] pedrobaeza commented on #595
Which module?

[2018-06-08 14:04] SalahAdDin commented on #595
I'm sorry, i added now.

[2018-06-08 14:06] pedrobaeza commented on #595
The dialog auto-closes already. I think you have a timeout in your reverse proxy that causes this.

[2018-06-08 14:06] #595 closed, assigned to nobody

[2018-06-09 23:55] SalahAdDin commented on #595
@pedrobaeza can you explain me it please? if you are available.

[2018-06-10 00:12] pedrobaeza commented on #595
I repeat my sentence:

The rest depends on your configuration, your reverse proxy (Nginx, Apache...), but this is out of the scope of here.

[2018-06-10 01:02] SalahAdDin commented on #595
Is there in the documentation? How can test it?

[2018-06-11 14:35] SalahAdDin commented on #595
@pedrobaeza Yes, i tested it and i have no problem without proxy, but i don't know why i have a problem with proxy: `Failed to load resource: the server responded with a status of 504 (Gateway Time-out) /web/dataset/call_button:1 `

It happens in local production environmentm we did not deploy it in server.

[2018-06-11 17:39] pedrobaeza commented on #595
You have to put a higher timeout on the reverse part, but this out of the scope of the help I can provide

[2018-06-13 14:35] SalahAdDin opened #597 "[11.0][base_location]Warning"
I want to report this:
[code]

[2018-06-13 22:23] SalahAdDin opened #598 "[11.0][base_location_geonames_import]504 (Gateway Time-out) importing USA"
Hello guys,

I'm using this module to pre-populate the database with address information.
I successfully imported Turkey, Spain and Germany, without any problem, but i get the next error importing USA:
`jquery.js:9631 POST http://localhost/web/dataset/call_button 504 (Gateway Time-out)`
It is relate to this other [error](https://github.com/OCA/partner-contact/issues/595).

I change the `timeout` s

[2018-06-19 05:46] gdgellatly opened #601 "11.0 Partner Firstname incorrect behaviour with first_last"
I've only had 5 minutes to look at this but if you set names order to firstname lastname, and then use a quick create field and type in Jane Doe, the created partner is Doe Jane.  It looks like it might be doing a double swap in _get_inverse_name.

[2018-06-19 05:49] gdgellatly commented on #601
Oops, turns out clicking recalculate names in settings doesn't actually save the setting.

[2018-06-19 05:49] #601 closed, assigned to nobody

[2018-06-19 11:06] pedrobaeza commented on #536
The problem is to not install https://github.com/OCA/l10n-italy/tree/9.0/l10n_it_base_location_geonames_import

[2018-06-19 11:06] #536 closed, assigned to nobody

[2018-06-19 11:07] pedrobaeza commented on #516
The problem is performance and timeouts set on your deployment. You can try to propose an improvement over the computation, but there's no bug at all.

[2018-06-19 11:07] #516 closed, assigned to nobody

[2018-06-19 11:08] pedrobaeza commented on #196
Closing as the PR is merged.

[2018-06-19 11:08] #196 closed, assigned to nobody

[2018-07-02 23:02] pedrobaeza commented on #598
You might not restart proxy or something, as the problem is clear.

[2018-07-02 23:02] #598 closed, assigned to nobody

[2018-07-19 10:15] astirpe commented on #482
partner_coc #611

[2018-07-24 15:19] cataclysmic opened #613 "[11.0 CE] partner_firstname"
I'm on: Odoo 11.0-20180320 (Community Edition)

When trying to install I get the following error:

``Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/models.py", line 982, in _validate_fields
    check(self)
  File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_ui_view.py", line 335, in _check_xml
    self.postprocess_and_fields(view.

[2018-07-24 18:09] cataclysmic commented on #613
Sorry, Error in my database. Now it installed without problems.

[2018-07-24 18:09] #613 closed, assigned to nobody

[2018-08-28 14:31] pedrobaeza commented on #597
You have to check which ZIP entries don't have country.

[2018-08-29 11:05] #597 closed, assigned to nobody

[2018-09-03 06:45] ap-wtioit opened #624 "test_base_location_geonames_import depends on download.geonames.org"
The tests for geonames import depend on the download server for geonames.

This is a problem because running tests in runbot causes them a lot of traffic. Currently there is an error on their server that breaks the tests.

http://download.geonames.org/export/zip/ is missing MC.zip (which is needed for the tests)
from http://download.geonames.org/export/dump/alarm_1535933897045.log i guess they are

[2018-09-03 06:48] pedrobaeza commented on #624
That's on purpose, for detecting when Geonames service is down, as the main purpose of this module is to download the files from there. There's not too much traffic, as we are downloading the smallest file.

[2018-09-03 06:48] #624 closed, assigned to nobody

[2018-09-03 06:53] ap-wtioit commented on #624
@pedrobaeza i think using tests for monitoring is really a bad idea, as it obviously produces false positives and therefore may lead to people not taking tests seriously.

[2018-09-03 07:03] pedrobaeza commented on #624
It's not only a monitoring task, but also to detect changes in the format of the files. The main purpose of the module is that one. Mocking it will fake real errors.

[2018-09-03 07:11] ap-wtioit commented on #624
@pedrobaeza thanks for clarifying, i see your point there and i probably would detect format changes the same way.

[2018-09-26 17:31] Alexandre-Bernardes opened #629 "External ID not found in the system: base.res_partner_4"
I have this error when I try to install:

File "W:\Odoo\Odoo 11.0\server\odoo\addons\base\ir\ir_model.py", line 1323, in xmlid_lookup
    raise ValueError('External ID not found in the system: %s' % xmlid)
ValueError: External ID not found in the system: base.res_partner_4

any idea whats happened?

[2018-09-26 18:44] pedrobaeza commented on #629
You are installing the module with demo data, but that demo data is not present (it has been deleted). Install it in a fresh database or without demo data.

[2018-09-26 18:44] #629 closed, assigned to nobody

[2018-09-27 00:12] OCA-git-bot opened #630 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] base_country_state_translatable - By @ddufresne - #689
- [x] base_location - By @aitorbouzas - #638
- [x] base_location_geonames_import - By @aitorbouzas - #643
- [x] base_location_nuts - By @Tardo - #739
- [x] base_partner_merge - ~~By @anandkansagra - #679~~ Handled in odoo core - OCA/Open

[2018-09-28 09:52] sebastienbeau commented on #404
Hi all, after thinking a lot about it. We are going to implement the approche 1.
- It simple to implement
- it will only duplicate address if needed
- it work when we have only one partner (as the archived address will be a contact of the partner)
We will do it during the OCA code sprint (you can follow this track in shopinvader dashboard : https://trello.com/b/oWwLLHkZ/shopinvader)

[2018-09-28 09:53] pedrobaeza commented on #404
It would be convenient to avoid to duplicate archived addresses when multiple sales orders.

[2018-09-28 10:01] sebastienbeau commented on #404
Yes, it's planned ! When we create an archive address, we check first if an archive address with same value already exist, if yes we reuse it if not we create a new one.

[2018-09-28 10:03] pedrobaeza commented on #404
You can create a new field called address_hash or similar that it's computed when any of the address fields changes, and then you only need to search by that field.

[2018-09-28 10:14] sebastienbeau commented on #404
it seem to be a good idea

[2018-09-28 11:55] bealdav commented on #404
really good idea, yes

[2018-10-02 21:31] Alexandre-Bernardes commented on #629
thanks

[2018-10-08 09:49] aitorbouzas commented on #630
#637

[2018-10-08 09:51] aitorbouzas commented on #630
partner_fax #637

[2018-10-09 07:44] astirpe commented on #630
base_vat_sanitized #639

[2018-10-12 13:37] christophe-hanon opened #641 "Enhancement request - partner_multi_relation should handle category hierarchy"
Enhancement request for module partner_multi_relation

category based relation check works ok BUT DOES NOT take parent relation into accounting <= Logical enhancement request

If relation type indicates that the other side of the relation must be of category 'supplier' : 'IT supplier' and 'Office supplier' should be accepted if the categories are properly configured.

[2018-10-24 11:05] j-zaballa opened #646 "[11.0] partner_contact_in_several_companies other positions kanban suggestion"
If the function or job position is no set, there is no info about the related company for the attached contact:

`<div t-if="record.function.raw_value"><field name="function"/> at <field name="parent_id"/></div>`

So, we might add something like:

`<div t-else="">Works at <field name="parent_id"/></div>`

Just want to know how the community feels about this idea before submitting a PR.

[2018-10-29 15:28] jeroenev commented on #443
logic for when recalculate button appears is messed up
change the value -> button shows up (but value is NOT yet saved)
click button -> recalculates based on saved value (which is not the value currently on the view)
press save -> page refreshes -> recalculate button is gone
so you have to basically press save, and then immediately after (before the page refresh) press recalculate, then it works c

[2018-10-29 15:41] pedrobaeza commented on #443
Closing as answered

[2018-10-29 15:48] jeroenev commented on #443
I wouldn't considder this answered, as the logic for when the button appears is clearly not working as intended, maybe i missed something where they fixed it but aside from that this should still be addressed

You have a 1 to 2 second window where you can press the button to make it do the right calculation, clearly not what it's supposed to be like

[2018-10-29 15:54] pedrobaeza commented on #443
OK

[2018-11-07 13:27] ddufresne commented on #630
I will migrate partner_multi_relation.

[2018-11-07 13:28] pedrobaeza commented on #630
Great, you know now that stuff :wink:

[2018-11-14 19:03] ddufresne commented on #630
partner_multi_relation https://github.com/OCA/partner-contact/pull/654

[2018-11-27 13:30] NL66278 commented on #482
@pedrobaeza partner_contact_gender now migrated here: https://github.com/OCA/partner-contact/pull/662. There is a message about Yairo Llopez not having signed the CLA, but this is about existing code already merged in other branches. Besides that, I think it is more of a problem of changed email or something like that.

[2018-11-27 13:43] pedrobaeza commented on #482
About the CLA claim, it's because the CLA bot has been reworked recently because it was not working correctly, so maybe some missing CLAs that weren't detected previously are now claimed. There's also another fact: on v6.1/v7, when OCA started, there was a massive dump of existing module from openerp-extra mega-repository without claiming the CLA, and now as we are importing full commit history, t

[2018-11-28 14:24] j-zaballa opened #665 "[11.0] partner_phone_search name_search override bug"
https://github.com/OCA/partner-contact/blob/8216b16a0a554bc7eec4b4fcaec339641c7c8f3c/partner_phone_search/models/res_partner.py#L14

### Current Behavior
name_search override calls to super and has a return if `name` evaluates to `True`. Whenever name is an empty string, an error occurs.

### Expected Behavior
name_search should always return the list of tuples it is expected to return, even if `n

[2018-11-29 05:44] nikul-serpentcs commented on #665
@j-zaballa I think here if `name` is empty then return all the record.

I tried in my local, I passed empty string in partner then return this...

`-----------name_search--------------- [(8, 'ASUSTeK'), (13, 'Camptocamp'), (10, 'China Export'), (11, 'Delta PC'), (45, 'My Company, Chicago'), (19, 'Agrolait, Edward Foster'), (20, 'ASUSTeK, Arthur Gomez'), (18, 'ASUSTeK, James Miller')]`

@pedrobaeza

[2018-11-29 09:27] pedrobaeza commented on #665
Overwriting `name_search` is always tricky. Check https://github.com/OCA/l10n-spain/blob/d21c45868a8efcce106703b35bf9a52a254b64de/l10n_es_partner/models/res_partner.py#L39 for the most compatible way I have found to override it.

[2018-12-03 10:50] infoitservit commented on #404
Wow, I'm in the same situation of @johnrisby , amazing Odoo didn't take these procedures as granted!
I was looking for the @sebastienbeau 's trello dashboard but i can't find nothing. Someone should point me to te right direction? I'm implementing Odoo11 since two months, I really hope to find a solution to this strange situation.

[2018-12-06 15:50] rven commented on #630
partner_vat_unique #663

[2018-12-07 13:28] SalahAdDin opened #667 "[11.0] [base_location] Populate also Bank's information"
Hi,

This module is great to handle partner's addresses.
But, it does not populate the Bank's address information. It could be a good feature.

Thanks.

[2018-12-07 13:30] pedrobaeza commented on #667
This module is not for that. You already have `l10n_es_partner` for this in Spain, and similar ones in other localizations.

[2018-12-07 13:30] #667 closed, assigned to nobody

[2018-12-11 09:34] bguillot commented on #404
I propose a solution for this here : https://github.com/OCA/partner-contact/pull/669

[2018-12-13 15:25] sbejaoui commented on #630
I don't found `partner_ref_unique` in the module to migrate list

[2018-12-13 15:27] pedrobaeza commented on #630
This is because the module wasn't migrated in previous version when 12.0 branch was created. But there's no problem in adding it when you want.

[2018-12-13 15:31] sbejaoui commented on #630
Thank you @pedrobaeza, I will migrate it to V12.

[2018-12-13 15:32] pedrobaeza commented on #630
OK, noted

[2018-12-13 15:44] sbejaoui commented on #630
partner_ref_unique: #670

[2018-12-14 08:51] protontrigg3r opened #671 "[10.0] Cannot update "default user" after installing "partner_firstname""
With _partner_firstname_ the fields _First Name_ and _Last Name_ are mandatory, then it is no longer possible to update the _default user_ (**_Settings > General settings > New user access rights > Related partner_**).

[2018-12-14 09:05] pedrobaeza commented on #671
I don't see why can't you edit it, as last name is the only required one, and it's mapped to the normal name.

[2018-12-14 13:05] protontrigg3r commented on #671
The values ​​of this fields are empty for **_default user_** object. And they should remain empty, from my point of view.

[2018-12-14 13:11] pedrobaeza commented on #671
Exactly, but I still don't see the problem. You fill any of them, and the rest is populated automatically. If you fill name, then last_name is brought with that value.

[2018-12-14 15:02] protontrigg3r commented on #671
Suppose you **only** want to set Italian language for new partners. You can not do it, because:

- you go in _Settings > General settings > New user access rights > Related partner_
- you set _Language_ filed to _Italian_
- you click _Save_ button
- Odoo refuse to save because mandatory fileds _Last Name_ a _First Name_ are missing

[2018-12-14 17:52] pedrobaeza commented on #671
But when you install the module, all existing records are update and `last_name` field is populated, so this can't happen.

[2018-12-15 07:54] dcorio commented on #260
I'm installing this module on V11 and facing the same problem with ~ 135K partners.

[2018-12-19 23:57] taifu opened #674 "[11.0] partner_firstname hook horribly slooooow"
We have a db with hundred of thousands of res_partner and the hook post installation is HORRIBLY slow. I would instead a native query.

This one extract the same data in 1.5 seconds:

[code]

[2018-12-20 00:01] taifu commented on #674
This query would do a more than acceptable update (surely more than a 6 hours wait ;-) ):

[code]

[2018-12-20 12:41] pedrobaeza commented on #674
Please propose the PR with that solution and it will be discussed there.

[2018-12-24 04:12] anandkansagra commented on #630
partner_phonecall_schedule #675

[2018-12-28 22:50] emagdalenaC2i commented on #630
Please, check in the list partner_external_map - By @ernestotejeda - #652 because it is already merged
check in the list partner_firstname - By @gdgellatly - #648 because it is already merged
Please, add to the list partner_company_type - By @GillesTephaneMeyomesse - #673

[2018-12-28 23:50] emagdalenaC2i commented on #482
partner_contact_personal_information_page - By @jprobineau - #511 is closed and superseded By @njeudy  - #507 that is already merged (there are the migration of partner_contact_personal_information_page and partner_contact_in_several_companies in the same PR)

Please, check in the list partner_sector - By @mreficent - #619 because it is already merged and renamed as -> partner_industry_secondary

[2018-12-31 04:58] anandkansagra commented on #630
base_partner_merge #679

[2019-01-03 15:13] max3903 opened #681 "partner_multi_relation"
- [x] Add a boolean field "Is Unique" (is_unique). If a relation type is unique, then there cannot be 2 relations with the same parties and the same type.

[2019-01-06 21:47] emagdalenaC2i commented on #630
@pedrobaeza

[2019-01-09 10:25] sbejaoui opened #685 "[12.0][base_partner_sequence] Same ref on write"
In the base_partner_sequence module, write on a recordset of partners with null ref give the same ref for all.
Run this test to reproduce:

[code]

[2019-01-17 21:05] ddufresne commented on #630
@pedrobaeza I will migrate base_country_state_translatable

[2019-01-17 21:16] pedrobaeza commented on #630
OK, noted

[2019-01-21 16:38] Nikul-Chaudhary commented on #630
@OCA-git-bot partner_phone_search #692

[2019-01-21 16:53] Nikul-Chaudhary commented on #630
@OCA-git-bot  partner_employee_quantity #693

[2019-01-21 17:05] Nikul-Chaudhary commented on #630
@OCA-git-bot partner_contact_personal_information_page #694

[2019-01-21 17:25] Nikul-Chaudhary commented on #630
@OCA-git-bot partner_contact_department #695

[2019-01-21 18:16] Nikul-Chaudhary commented on #630
@OCA-git-bot partner_second_lastname #696

[2019-01-22 14:10] #681 closed, assigned to max3903

[2019-01-22 14:12] max3903 opened #697 "[IMP] partner_multi_relation"
- [ ] Implement the "is unique" with @api.constrains

[2019-01-26 05:01] hbrunn opened #698 "add @NL66278"
I propose to add @NL66278 to the PSC

Merged contributions:
https://github.com/OCA/partner-contact/graphs/contributors?from=2013-06-23&to=2019-01-26&type=a

PRs:
https://github.com/OCA/partner-contact/pulls/NL66278

CC @OCA/board

[2019-01-27 00:33] pedrobaeza commented on #698
+1 for me, but I think this should go in OCA contributors list.

[2019-01-28 09:20] hbrunn commented on #698
wrote the mail, so I'll close this

[2019-01-28 09:20] #698 closed, assigned to nobody

[2019-02-04 10:01] icf20 opened #701 "location completion get stuck when used v12"
**related to base_location_geonames_import**

steps

1 edit some contact zip code
2 go to the next contact and type some zip code

![image](https://user-images.githubusercontent.com/17784575/52201309-60134c80-286b-11e9-94b0-fd962ee782d7.png)

you see that the zip code displayed are very few and are similar to those used before

workaround

before editing the contact  press ctrl+F5
![image](https:/

[2019-02-04 10:06] pedrobaeza commented on #701
Are you clicking in "Search more..."?

[2019-02-04 10:28] icf20 commented on #701
yes

[2019-02-04 10:29] pedrobaeza commented on #701
Well, then it's Odoo behavior. Nothing related to `base_location_geonames_import`. Any way, this is the expected one, as Odoo filters this window before showing it according previous typing.

[2019-02-04 10:29] #701 closed, assigned to nobody

[2019-02-14 11:07] ecino opened #705 "Why forcing same name on partner contacts?"
Based on the code here : https://github.com/OCA/partner-contact/blob/cd2ea8eb9699f5ab8b44f120070c1de8946605aa/partner_contact_in_several_companies/models/res_partner.py#L77

The same name is enforced between contacts at creation. Why is that behaviour wanted? It's also not compatible with module `partner_firstname`, because the field `name` is not passed in the create method. In that case, it's st

[2019-02-27 10:34] lfreeke opened #708 "Translation"
It seems that weblate is not pushing translation to the 10.0 branch, the last commit was Dec 9, 2018.

I did some translation last week for partner_identification but I don't see a commit for it.

What can I do to solve this?

[2019-02-27 12:42] pedrobaeza commented on #708
@sbidoul can you please check this?

[2019-02-27 16:19] sbidoul commented on #708
@lfreeke weblate the weblate job scheduler was down apparently. I restarted and pushed changes to this repo manually.

[2019-02-27 16:24] lfreeke commented on #708
Thank you @sbidoul

[2019-02-27 17:11] #708 closed, assigned to nobody

[2019-03-01 12:12] i-vyshnevska opened #709 "[10.0] partner_contact_nationality"
My question about module [partner_contact_nationality](https://github.com/OCA/partner-contact/tree/10.0/partner_contact_nationality), AFAIN nationality is more wider concept then country, one country could have a lot of nationalities like China, or nationality without country, so it should be linked to new model and dataset of nationalities could be loaded.

[2019-03-01 12:14] pedrobaeza commented on #709
Well, I suppose this was a simplification. Do we have any source of all the existing nationalities? Maybe a Python library? That can go to OCA/community-data-files.

[2019-03-01 12:54] cristinamartinrod commented on #630
@OCA-git-bot  partner_industry_secondary #710

[2019-03-08 07:07] simahawk commented on #709
https://pypi.org/project/pycountry/ to name one

[2019-03-11 15:43] rousseldenis opened #712 "[BUG] partner_multi_relation: Migration from 8.0 to >= 10.0"
Before v10.0, Odoo stored default False boolean values as NULL.

Then, the convert_to_column function was introduced.
See https://github.com/odoo/odoo/commit/73bdc181ffb1c6c052b01450325de8a3f30885e2#diff-c1b8488f841717177876eb16877596afR1105

As this line https://github.com/OCA/partner-contact/blob/10.0/partner_multi_relation/models/res_partner_relation_type_selection.py#L115

returns False (NOT i

[2019-03-12 10:15] oihane commented on #630
@OCA-git-bot partner_contact_gender #713

[2019-03-12 10:58] oihane commented on #630
@OCA-git-bot partner_contact_birthdate #714

[2019-03-12 20:19] luismontalba commented on #482
It seems that partner_contact_configuration is not needed in V11 because these menus are included in the contacts module in core, and they are available for any user included in group base.group_system

[2019-03-13 10:34] pedrobaeza commented on #482
OK, thanks for noting it

[2019-03-19 23:58] mdodgeco opened #718 "Installing version 12 branch onto odoo.sh results in failed unit test"
I've just installed the v12 Partner Affiliates app onto a clean development branch in odoo.sh and it causes the unit tests to fail with the attached errors. I installed that app into odoo.sh from the app store. I've also tried installing the entire partner_contact repo via odoo.sh "submodule add" on a seprate development branch, and the unit tests fail in the same manner. Any ideas?

![error](http

[2019-03-20 09:26] pedrobaeza commented on #718
The failed test is not of this module.

[2019-03-20 09:26] #718 closed, assigned to nobody

[2019-03-20 14:04] luismontalba commented on #482
partner_academic_title migrated in #719

[2019-03-24 19:52] emagdalenaC2i commented on #630
@pedrobaeza base_location_geonames_import is already merged by @aitorbouzas - #643

[2019-04-02 16:02] AKSHAYAGOVIND commented on #308
Hi,

I am using the Odoo 12.0 enterprise version. I  imported the partner_address_street3 module. But i am getting the below error.

-------------------------------------------------------------------
ValueError: Field `street3` does not exist

Error context:
View `res.partner.form`
[view_id: 113, xml_id: base.view_partner_form, model: res.partner, parent_id: n/a]
---------------------------------

[2019-04-02 16:16] AKSHAYAGOVIND opened #725 "ValueError: Field `gender` does not exist"
Hi,

The personal page information module was installed successfully. But when I tried to install partner_contact_gender in my odoo 12.0. I got the error "Error while validating constraint\n\nField `gender` does not exist\n\n". Attached the error report.
![image](https://user-images.githubusercontent.com/43378529/55418503-6acf2280-5538-11e9-9087-1f0bcb1078ac.png)

Also when i try to access my cont

[2019-04-02 16:19] pedrobaeza commented on #725
Restart your Odoo service.

[2019-04-02 16:19] #725 closed, assigned to nobody

[2019-04-02 17:08] AKSHAYAGOVIND commented on #725
Hi Pedrobaeza,

Even after i restarted the odoo service. I got the same error

[2019-04-02 17:09] pedrobaeza commented on #725
Sorry, but this is working properly, so it's an unknown deployment problem. You can test it in runbot:

https://runbot.odoo-community.org/runbot/134/12.0

[2019-04-04 14:42] luca-vercelli opened #727 "base_location_geonames_import-11.0 app unpublished"
I see that the app for 11.0 is "unpublished":

https://www.odoo.com/apps/modules/11.0/base_location_geonames_import/

is this an intended behhaviour? I don't think so.

[2019-04-05 18:27] pedrobaeza commented on #727
Solved! Thanks for noticing.

[2019-04-05 18:27] #727 closed, assigned to nobody

[2019-04-08 20:29] DarioLodeiros opened #728 "Bug on partner_phone_search"
https://github.com/OCA/partner-contact/blob/871f2a5255dded1369fc7284d4fe3f762524586d/partner_phone_search/models/res_partner.py#L14

[2019-04-08 20:29] DarioLodeiros commented on #728
If we use here "if name", the result on avoid many2one field is null... only run when you write something...

[2019-04-08 20:32] #728 closed, assigned to nobody

[2019-04-16 08:08] wpichler commented on #630
what is about partner_label ? It is already missing in 11.0 - got it moved into an other repository ?

[2019-04-16 11:43] pedrobaeza commented on #630
It wasn't there when branches were created, but you can migrate it if you want.

[2019-04-18 11:29] pedrobaeza commented on #260
Please propose a PR with that changes.

[2019-04-23 14:10] eLBati commented on #260
Just as per https://github.com/OCA/partner-contact/issues/674 :grin:

cc @taifu

[2019-04-23 14:24] taifu commented on #260
Mine query #674 was a little bit more similar to the code. But nevertheless better this than nothing

[2019-04-24 20:41] tbaden commented on #630
partner_contact_department and partner_phone_extension are already merged, but not checked yet

[2019-05-04 17:46] source-promo opened #734 "Partner_names_order SET NOT NULL' ERROR"
Dear all,
I noticed following error when upgrading Odoo modules:

[code]

Hope you can help me what to do and where this is coming from!
Thanks in advance!

[2019-05-05 12:40] source-promo opened #735 "Partner Names Order recalculate losing connection"
Hi,

I would like to change the partner names order from "lastname firstname" to "Fistname lastname".
Unfortunately when hitting recalculate it takes 10+ minutes and after a while the message pops up "lost connection" and nothing has changed.

I have about 100.000 contacts in my db.
Is there a way to execute the recalculation with such a big db or any workaround?
Hope you can assist me on this!

T

[2019-05-09 15:09] pedrobaeza commented on #735
Extend the timeout of your reverse proxy, as this operation takes time.

[2019-05-09 15:09] #735 closed, assigned to nobody

[2019-05-19 14:09] #712 closed, assigned to nobody

[2019-05-27 16:10] MarkingSC opened #745 "Personal information page with fields."
I just tried _partner_contact_personal_information_page_ module, and as it says, it adds the personal information page, but nothing else.

I think is important to set some personal information fields for contact type partners. Many companies need to know personal email address, phone numbers and more from their employees. So, setting personal information fields in _res.partner_ model will avoid to

[2019-05-27 17:48] pedrobaeza commented on #745
This is not done that way. You have private contacts for that.

[2019-05-27 17:48] #745 closed, assigned to nobody

[2019-06-01 18:19] emagdalenaC2i commented on #482
Please, check partner_academic_title - By @luismontalba - #719 that is already merged

[2019-06-01 18:26] emagdalenaC2i commented on #630
Please check base_location_nuts - By @Tardo - #739 that is already merged

Please check partner_bank_active - By @ThomasBinsfeld - #737 that is already merged

[2019-06-06 19:19] ulisesgamboa commented on #630
Hello @ddufresne @pedrobaeza.  Do you plan to migrate partner_multi_relation_tabs?  Do you have a date?

[2019-06-06 19:38] ddufresne commented on #630
@ulisesgamboa I have no plan for migrating the module. Maybe check with @NL66278

[2019-06-17 17:32] hiltonmw opened #748 "Odoo 12 Cannot Install Geonames Import Module"
Hi there, when I try to install the Geonames add-on to my Odoo 12 CE local instance, I receive this error message:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/tools/convert.py", line 758, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/opt/odoo12/odoo/odoo/tools/convert.py", line 613, in _tag_record
    raise Exception("Cannot update m

[2019-06-17 18:10] pedrobaeza commented on #748
It seems you have removed "Spain" country record.

[2019-06-17 18:10] #748 closed, assigned to nobody

[2019-06-17 19:00] hiltonmw commented on #748
Yes, I have.  Is that a requirement?  I've removed all country records except the US as I only do business in the US...

[2019-06-17 19:04] hiltonmw commented on #748
If it's necessary, and other countries are as well, can you tell me how to re-import or get back what I need?

[2019-06-17 19:05] pedrobaeza commented on #748
That's the problem. You shouldn't do that if you want a sane DB. Put "United States" as default, but don't remove the rest. Update base module and you'll get back all the countries.

[2019-06-17 19:07] hiltonmw commented on #748
thanks and cheers!  appreciate the feedback.

[2019-06-18 15:39] hiltonmw opened #749 "Cities did not pull to correct states"
Hi there,

I did my first import from geonames just yesterday and I'm noticing today that many of the cities that have the same name in multiple states did not get imported correctly.  For example, Worcester, the city, resides in MA, NY, PA, and VT.  But upon import, it's placed *ALL* cities named Worcester into VT.  (see screenshots for a few examples)...

![cities_error_1](https://user-images.gi

[2019-06-18 15:49] hiltonmw opened #750 "Leads screen integration?"
Would it be possible to add this lookup ability to the CRM > Leads screen as well?

Note: I also have an inquiry into Odoo community forum, as it appears you can't even do a contact/customer/company lookup on the leads screen, and for me, that means entering quite a bit more information and duplicating info where I don't need to.

[2019-06-18 17:19] pedrobaeza commented on #750
Which ability?

[2019-06-18 17:20] pedrobaeza commented on #749
Which Odoo version?

[2019-06-18 17:35] hiltonmw commented on #750
Sorry - the "location completion" ability...

[2019-06-18 17:35] hiltonmw commented on #749
Odoo 12, CE

[2019-06-18 19:13] pedrobaeza commented on #750
https://github.com/OCA/crm/tree/12.0/crm_location

[2019-06-18 19:13] #750 closed, assigned to nobody

[2019-06-19 15:17] hiltonmw commented on #749
any other thoughts on this @pedrobaeza ?

[2019-06-19 15:20] pedrobaeza commented on #749
Not right now. I'll check next week when coming from holidays

[2019-06-24 22:59] hiltonmw commented on #749
Hi Pedro...

Any updates on this?  I need to build up my production server and I'm concerned this bug will follow me there and I'd like it if it doesn't.  Thanks!

[2019-06-25 17:13] hiltonmw commented on #749
For what it's worth, I just spun up a *completely new* instance of Odoo 12 CE - installed the addon/extra and it did the same exact thing.  Ubuntu Server 18.04 x64 with Odoo 12 CE.  All up to date with latest patches/updates/etc.

[2019-06-25 17:17] pedrobaeza commented on #749
I come back from holidays tomorrow, and I'll need sometime to find the problem.

[2019-06-28 02:43] hiltonmw commented on #749
So sorry to pester, but I'm trying to go live with this and I was wondering if there's been any headway on this.

[2019-07-02 03:38] hiltonmw commented on #749
@pedrobaeza - Is there any update on this?  I'm sorry to continue to pester, but without this working properly I'm kind of stuck with setting up my production database, as I don't want to manually input data if it will disrupt your/our troubleshooting in any way...

[2019-07-02 07:57] pedrobaeza commented on #749
Sorry but no. This is not top priority for me, and although I confirm there's a bug, I need some free time for checking and solving. I will try this week.

[2019-07-03 08:54] NL66278 commented on #630
Hi, I plan to migrate partner_multi_relation_tabs. I hope this month somewhere...

[2019-07-03 16:16] ulisesgamboa commented on #630
Excellent!  @NL66278, thank you for the new effort.

[2019-07-04 20:25] davidgonzalezb commented on #749
Hola estoy en México, muy buena aplicación. Odoo 12 Community. Podemos importar todas las Ciudades con el Estado/País. El detalle es al importar Zips. Tenemos diferentes Estados (States) con mismos nombres de Ciudades. Ayudaria tener en Importacion de Zips una columna que incluya State ademas de ZIP / City. Gracias

[2019-07-12 01:45] kongrattapong commented on #630
partner_contact_in_several_companies [#](url)

[2019-07-12 01:46] kongrattapong commented on #630
partner_contact_in_several_companies [#753](https://github.com/OCA/partner-contact/pull/753)

[2019-07-15 14:13] max3903 opened #754 "[ADD] partner_brand"
This module allows users to manage brands of the company.

# Usage
* Go to Contacts
* Search the current company
* Click on Edit and add an address
* Check the box "Brand" and enter the brand information: name, logo, address, website, phone

# Technical Specifications

- [x] Add an option "Brand" (brand) in the Type selection list
- [x] Add a filter "Brand" in Contacts
- [ ] Upon creating or savin

[2019-07-15 14:16] pedrobaeza commented on #754
This is the module `product_brand`...

[2019-07-21 22:34] hiltonmw commented on #749
Hi Pedro,

Any luck on a fix for this yet?  Has it always been broken or is there something unique about how it runs now that causes it to break?

Thanks-
-Matt

[2019-07-22 08:34] sbidoul commented on #754
@max3903 @pedrobaeza I'm also interested in understanding the relationship of this module to `product_brand`.

We have a use case for brands but not related to products: ie the same product can be sold under different brands. So the brand will be something to be selected on the SO/Invoice etc.

So I would say a base brand module, unrelated to product, makes sense. And product_brand can depend on i

[2019-07-22 08:37] pedrobaeza commented on #754
OK, but for v12, the dependency should be `product_brand`, but for v13 we can split into `base_brand` (or `brand` only) + `product_brand`.

[2019-07-22 08:38] sbidoul commented on #754
cc @sbejaoui, @gva-acsone

[2019-07-22 09:08] sbidoul commented on #754
@pedrobaeza @max3903 ok for me with keeping product_brand at least in v12. It does not harm even if we don't set brand on any product.

FYI we are planning the following modules (current list is WIP):

- `brand_sale`: add brand field on SO + filter products proposed by brand
- `brand_account`:

  - table with optional default receivable account per brand
  - brand field on invoice, proposes defaul

[2019-07-22 13:13] max3903 commented on #754
@sbidoul That is a good idea. FYI, you will find:

* `account_brand` in https://github.com/OCA/account-invoicing/issues/564
* `sale_brand` in https://github.com/OCA/sale-workflow/pull/906
* `sale_subscription_brand` in https://github.com/ursais/osi-addons/pull/158

@pedrobaeza `product_brand` was demonstrated to our customer and it does not answer their requirements. They manage different brands t

[2019-07-22 13:20] pedrobaeza commented on #754
But at partner level? That sounds very weird.

[2019-07-22 13:21] max3903 commented on #754
@pedrobaeza Where would you store the logo, name, address, email, website, phone of the brand?

[2019-07-22 13:24] pedrobaeza commented on #754
On a separate model. My point is that you can sell over your different own brands to the same partner. For me this is something more to add to `sale_order_type`, selecting the brand at sales order level (you can have any way a default sales order type for the partner).

Module `sale_order_type_brand`, that takes `product_brand` and `sale_order_type`, and adds a ` brand_id` field on the `sale.order

[2019-07-22 13:28] max3903 commented on #754
Why would I create a brand object to store a logo, name, address, email, website and phone when this is already available on `res.partner`???

[2019-07-22 13:29] sbidoul commented on #754
@max3903 because a brand is not a partner (in the Object Oriented Programming sense). A brand can have a m2o to a partner to store address and logo.

[2019-07-22 13:29] pedrobaeza commented on #754
But the object is already there... you should add the `partner_id` reference in product_brand, not the reverse in my opinion, and that partner will be a children of the partner of the main company.

[2019-07-22 13:32] max3903 commented on #754
Let's create an issue and converge on version 13 then.

[2019-07-22 13:38] sbidoul commented on #754
@max3903 we need it on 12. Do you still have room to adjust the design?

[2019-07-22 13:47] max3903 commented on #754
Not much. Going live tomorrow...

[2019-07-29 10:31] pedrobaeza commented on #749
You can find the fix in #757

[2019-07-30 22:05] max3903 opened #758 "[IMP] partner_brand"
I think we can merge the two ideas:

- Override the `external_layout_standard` to handle brand details in the standard layout.
- Override the external_layout and call `o.brand_id.external_layout_id` if it is set in case we need to create a whole different design.

What do you think?

_Originally posted by @sbejaoui in https://github.com/OCA/partner-contact/pull/755_

[2019-08-02 23:40] rafamarpe opened #759 "[10.0] partner_sale_risk: sale order state in done"
Hi,

When the sales order settings are set so that they cannot be modified, the created orders are not taken into account for the financial risk in the sales orders.
Is it for any reason? Should these orders not be taken into account since they are also ordered?

Thanks

[2019-08-04 12:14] josepmy opened #760 "[12.0] Model 'res.country' does not exist in registry"
Hi,

I try to import geonames into Odoo and I get this error. All the depencies are checked.

The error throw here:

        # create or retrieve the model's class
        if name in parents:
            if name not in pool:
                raise TypeError("Model %r does not exist in registry." % name)

Aug 04 11:24:16 xxx odoo12[22883]:     force, status, report, loaded_modules, update_module, mo

[2019-08-04 12:26] pedrobaeza commented on #760
Incorrect deployment. Nothing to do with the module.

[2019-08-04 12:26] #760 closed, assigned to nobody

[2019-08-04 12:46] josepmy commented on #760
Where can I check the correct deployment?

[2019-08-04 12:52] pedrobaeza commented on #760
I suspect you use "Import module" option, which is not valid, but I can't say more.

[2019-08-04 13:30] josepmy commented on #760
Yes, I select the country and click import. what is the correct then?

[2019-08-04 14:50] pedrobaeza commented on #760
That option doesn't serve.  For nothing except themes. Use regular way for adding addons.

[2019-08-04 16:15] josepmy commented on #760
Uninstall and install again from applications?

[2019-08-04 16:26] josepmy commented on #760
I uninstall and install and get the same error. What I’m doing wrong?

[2019-08-04 16:37] pedrobaeza commented on #760
Copy it to your addons folder, not importing it. This is not the first time you face the same thing.

[2019-08-04 19:22] josepmy commented on #760
Copy the ES.zip from geonames into addons? Sorry I’m confused.

[2019-08-04 20:15] pedrobaeza commented on #759
@carlosdauden can you answer this?

[2019-08-07 12:39] carlosdauden commented on #759
This is a mechanism to discard the compute of risk in sales orders that will never be delivered.
When the products of an order are billed quantities delivered, less than ordered qty are delivered and nothing will be delivered again, we have to have a way to mark the order so that the amount pending in the risk is not taken into account.
Creating a new field in sale order is a worsening of the UX.

[2019-08-07 14:16] rafamarpe commented on #759
Hi Carlos.
I understand what you want to say but since odoo is the one who directly blocks the order, I think that the orders should be taken into account in a locked state although it is also true that there must be something that indicates that the order is invoiced, I do not know if In that case, the "invoice state" field can help.

[2019-08-07 14:20] pedrobaeza commented on #759
Odoo doesn't block this. It's your configuration that does that... You can configure it for not auto-blocking.

[2019-08-07 14:24] rafamarpe commented on #759
Pedro is correct, but if as a user you do not want an order to be edited once confirmed what odoo does is to fit the status directly to done

[2019-08-07 14:37] pedrobaeza commented on #759
Yeah, but that case is not covered now in the modules. You can do a pull request doing one of things stated by my colleague or checking if `invoice_status` can serve.

[2019-08-08 15:24] josepmy opened #762 "[12.0][CE] Location completion empty after select a value"
Steps to reproduce it:

1. Create a new customer
2. Search a city or zip code in "location completion" and select it.
3. Customers fields are filled correctly.
4. Delete the "location completion" value and find another value. The list is empty.
5. Delete values of city, address, zip, state and country.
6. Try to find another value in "location completion". The list is empty.

To get new values you

[2019-08-08 23:03] #754 closed, assigned to max3903

[2019-08-09 08:01] #749 closed, assigned to nobody

[2019-08-16 10:33] sbidoul opened #765 "[RFC] brand, the path forward"
Hi,

We currently have two independent approaches for brands in OCA:
- [partner_brand](https://github.com/OCA/partner-contact/tree/12.0/partner_brand), [account_brand](https://github.com/OCA/account-invoicing/tree/12.0/account_brand), [sale_brand](https://github.com/OCA/sale-workflow/tree/12.0/sale_brand) which basically mark some contacts as being brands and replace company information in report

[2019-08-16 11:35] sbejaoui commented on #765
New model res.brand: #766

[2019-08-16 12:01] sbejaoui commented on #765
Update for sale_brand [\#920](https://github.com/OCA/sale-workflow/pull/920)

[2019-08-16 12:19] sbejaoui commented on #765
Update for account_brand [\#577](https://github.com/OCA/account-invoicing/pull/577)

[2019-08-16 20:28] pedrobaeza commented on #765
Should we create a new repo OCA/brand? And about the model name, why `res.brand`?

[2019-08-16 21:34] sbejaoui commented on #765
I thought that brands can be seen as system resources and in the same
registry like users, companies, partners, ..

Le ven. 16 août 2019 à 22:28, Pedro M. Baeza <notifications@github.com> a
écrit :

[2019-08-17 00:22] max3903 commented on #765
Looks like we are doing the same as Odoo: We discuss a topic publicly but internally the decision seems to be already made and the job already done... :)

Anyway, I don't have any strong opinion about where and how the repo/module/object is named/developed. What matters is to maintain the same scope for our current customer.

If @acsone takes the leadership of maintaining the repo/modules, you can

[2019-08-17 09:01] sbidoul commented on #765
Eh eh sometimes dev goes faster than I think. Nothing is done, no worries the PRs are up for discussion.

To clarify the context, I created this RFC following design comments that were made by myself and @pedrobaeza on #754. We have additional requirements that make it necessary to evolve the current data model. We think the requirements are generic enough to propose to OCA.

What we are proposing

[2019-08-17 09:05] sbidoul commented on #765
I tend to think the `res` prefix is reserved for Odoo core. Why not simply `brand`?

@pedrobaeza a new repo would make sense. Now or for v13? Should it be a new PSC too, or do you think an existing PSC could take it in charge?

[2019-08-17 11:36] pedrobaeza commented on #765
If @max3903 agrees, we can do the repo now. As for PSC, I would detach it from other PSCs, as it's very transversal (product, invoicing, sales...).

[2019-08-17 19:05] max3903 commented on #765
+1 for the new repo

[2019-09-06 15:12] yvaucher commented on #734
@source-promo this happens when you install a module that adds a constraint but your data don't respect that constraint.

In your case the data error was coming from the table res_config_settings which is a TransientModel. You might have had at some point some old instances of wizard in that table and zero value in the column `partner_names_order`

This would resolve itself after wizard rows in da

[2019-09-11 10:08] BT-aestebanez commented on #309
The module `partner_identification_gln` should be in the list of items: https://github.com/OCA/partner-contact/pull/666

[2019-09-11 11:13] BT-aestebanez commented on #630
Hi,
I have migrated the module `partner_identification_gln` (from version 10.0) but it is not listed.
https://github.com/OCA/partner-contact/pull/775

[2019-09-16 15:17] WeeDom opened #780 "[10.0] partner_financial_risk"
Hi,

We use partner_financial_risk in a production odoo 10. We're currently exploring upgrading to odoo 12, and we'd like to continue using partner_financial_risk, but you seem to have dropped it as of odoo 11.0.

Has the functionality been moved to a different module in your 12.0 branch?

Thanks
Dominic
Flow Mobile Ltd

[2019-09-16 15:19] pedrobaeza commented on #780
https://github.com/OCA/credit-control/tree/12.0/account_financial_risk

[2019-09-16 15:19] #780 closed, assigned to nobody

[2019-09-16 15:21] WeeDom commented on #780
wow! How speedy???

[2019-09-29 21:43] OCA-git-bot opened #783 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] base_country_state_translatable
- [x] base_location - By @pedrobaeza - #785
- [x] base_location_geonames_import - By @pedrobaeza - #786
- [x] base_location_nuts - By @astirpe - #800
- [ ] base_partner_sequence - By @kevinkhao - #810
- [x] base_vat_sanitized - By @StephanRozendaal - #821
- [

[2019-09-30 08:40] rven commented on #783
Working on migration of partner_firstname https://github.com/OCA/partner-contact/pull/784

[2019-10-02 11:10] jeroenev commented on #783
working on partner_contact_birthday, and partner_contact_personal_information_page

[2019-10-10 19:51] GSLabIt commented on #762
I'm facing the same issue, any hint? See video: https://recordit.co/5Sk5bF0sm5

[2019-10-11 06:21] josepmy commented on #762
Still the same issue. I have a change made to test it but I need check it.

[2019-10-11 06:45] GSLabIt commented on #762
@pedrobaeza is that by design?

[2019-10-15 08:47] robin5210 commented on #762
I also encounter the same problem. A fix to me seems to add the following 2 lines of code in models/res_partner.py in the _onchange_zip_id method after the main if.

[code]

I'm not sure this fix breaks something else.

[2019-10-15 09:38] josepmy commented on #762
Yes, I have the same fix to test.

[2019-10-15 17:05] pedrobaeza commented on #762
Fixed in 64aaafa45c022116084675e6181d338a8c386f83

[2019-10-15 17:05] #762 closed, assigned to nobody

[2019-10-24 09:02] #646 closed, assigned to nobody

[2019-10-24 09:02] #665 closed, assigned to nobody

[2019-10-24 19:07] CarlesAntoli opened #794 "V11 Key (zip_id) = (50693) is not present in table "res_city_zip""
Hello,
When migrating a database version 11 to 12 I get the following error from the base_location module:

2019-10-24 18: 10: 13,985 4888 ERROR xxxx odoo.modules.migration: module base_location: Each pre-migration file must have a "migrate (cr, installed_version)" function
2019-10-24 18: 10: 14,231 4888 INFO xxxx odoo.modules.registry: module base_location: creating or updating database tables
20

[2019-10-24 19:17] pedrobaeza commented on #794
You have to check if that value is a non migrated one (a leftover of previous values), but the migration scripts are working for consistent databases in principle.

[2019-11-05 11:21] dreispt opened #799 "[RFC] Partner License Type and Number"
Module name: partner_license
Dependency: base
License: AGPL-3

Some regulated businesses need state licenses to be able to operate.
Different locations and different activities (Distribution, Retails, etc.) might have different licenses.

# Configuration

The License Types are configured in the Settings app, menu Technical » Resources » Company License Types.

# Usage

Each license should have it'

[2019-11-05 11:27] pedrobaeza commented on #799
I think you can use https://github.com/OCA/partner-contact/tree/12.0/partner_identification

[2019-11-06 08:47] Laurent-Corron commented on #783
working on:
- partner_company_type (from 12)
- partner_contact_configuration (from 10)

[2019-11-06 12:41] dreispt commented on #799
Thank you for the suggestion. Indeed that could be used to store license details.
In my use case, the license number and type is required to show in shipping manifests, and needs to be accessible from report templates.
Let me consider if using partner_identification will meet the requirements.

[2019-11-06 12:55] NL66278 commented on #799
@dreispt If needed you can make a module that builds on partner_identification, like partner_coc.

[2019-11-06 13:28] dreispt commented on #799
Yes, that look a nice idea, thank you @NL66278

[2019-11-06 16:36] dreispt commented on #799
I'm going ahead with your suggestions, thank you.

[2019-11-06 16:36] #799 closed, assigned to nobody

[2019-11-17 09:00] ermannognan commented on #783
Hi guys, I've seen jeroen7s:13.0-mig-partner_contact_personal_information_page. This migration has its last update more than 30 days ago (14 oct). In case I'd want to migrate to v 13.0 modules which depend from this one such as partner_contact_birthdate module, how can I proceed? I got to merge jeroen7s branch with my branch ermannognan:13.0-mig-partner_contact_birthdate? Can someone help me?

[2019-11-17 09:05] ermannognan commented on #783
Excuse me again. I just saw on thread that jeroen7s is still working on module partner_conctact_birthdate(birthday?). I'm not really started to migrate that module, it was jus an example. I would like to start contributing but I am not very familiar with your conventions and how we share the tasks.

[2019-11-17 11:50] pedrobaeza commented on #783
@ermannognan you have to review the corresponding PRs for getting them merged. For example, for partner_contact_personal_information_page, there's the PR ##788

https://odoo-community.org/page/review

[2019-11-24 17:48] mileo commented on #783
Hi,

Can some one create the project 13.0 version of partner-contact at https://translation.odoo-community.org/

Best regards

[2019-11-24 18:59] sbidoul commented on #783
@mileo I just updated weblate to pick up the 13.0 branch. They should appear in an hour or so.

[2019-11-25 11:48] mileo commented on #783
100% translated to PT-BR

[2019-11-26 11:02] Laurent-Corron commented on #783
partner_identification #815

[2019-11-26 17:50] kevinkhao commented on #783
partner_deduplicate_acl #816
partner_deduplicate_by_website #818
partner_deduplicate_filter #819

[2019-11-29 10:19] BT-aestebanez commented on #630
@OCA-git-bot partner_identification_gln https://github.com/OCA/partner-contact/pull/775

[2019-12-05 10:10] poonlap commented on #783
I will migrate the module "base_country_state_translatable"

[2019-12-05 10:56] StephanRozendaal commented on #783
base_vat_sanitized #821
partner_address_street3 #823

[2019-12-05 16:18] poonlap commented on #783
base_country_state_translatable #824

[2019-12-11 12:28] protontrigg3r opened #826 "[12] Geonames URL ERROR 404: Not Found"
The [default URL for Geonames](http://download.geonames.org/export/zip/) seems to be wrong.

So, I setting _geonames.url_ to [http://download.geonames.org/export/dump/](http://download.geonames.org/export/dump/) and installing _IT.zip_ archive I get this error:

`Traceback (most recent call last):
  File "/opt/odoo/odoo12/OCB/odoo/http.py", line 656, in _handle_exception
    return super(JsonReque

[2019-12-11 12:29] pedrobaeza commented on #826
It's a temporary glitch in Geonames. It has happened before. You have to wait that they restore the files.

[2019-12-11 12:29] #826 closed, assigned to nobody

[2019-12-12 08:51] StephanRozendaal commented on #783
partner_affiliate #827
partner_bank_active #828

[2019-12-18 16:47] raneq opened #829 "[12][base_location_geonames_import] Thread timeout when importing"
Hello!

## Intro

I have had a hard time to import the postal codes for Spain. I could do it for Andorra without issues, but for Spain, some timeouts appeared. However, contrary to what other people found (#598) , my problem wasn't with the reverse proxy, but with the thread timeout.

## Process

It downloads and decompresses the geonames zip in a few seconds, and then starts to import the info in

[2019-12-18 16:54] pedrobaeza commented on #829
There's no other way. It takes that time for importing such quantity of data.

[2019-12-18 16:54] #829 closed, assigned to nobody

[2019-12-18 17:16] raneq commented on #829
Bad news then. Thank you for your instant reply!

[2019-12-19 16:44] hurrinico opened #831 "base_location_geonames_import GR.zip not found"
I need to import zipcode for greece with geonames.
But [here](http://download.geonames.org/export/zip/) there's no GR.zip file.
I've opened an [issue](http://forum.geonames.org/gforum/posts/list/36080.page#46936) and i've wrote to them.
They responds this:
"Hi Nicola
We are not sure about the license, so we have never added it to the
download.
Best Regards"
How can we move about this?

[2019-12-19 22:21] pedrobaeza commented on #831
I'm afraid there's nothing we can do at this side, as the module only try to download what is present at Geonames side.

[2019-12-19 22:21] #831 closed, assigned to nobody

[2019-12-20 03:25] kongrattapong commented on #783
partner_capital https://github.com/OCA/partner-contact/pull/832

[2019-12-21 03:50] newtratip commented on #783
partner_contact_birthdate https://github.com/OCA/partner-contact/pull/833

[2019-12-21 08:22] newtratip commented on #783
partner_contact_job_position https://github.com/OCA/partner-contact/pull/834

[2019-12-21 09:24] newtratip commented on #783
Ready for review #833 #834

[2019-12-21 21:22] newtratip commented on #783
Working on partner_phone_extension https://github.com/OCA/partner-contact/pull/835

[2019-12-22 09:19] newtratip commented on #783
Ready for review https://github.com/OCA/partner-contact/pull/835

[2020-01-07 12:16] i-vyshnevska commented on #709
I misinterpreted notion nationality and ethnos

[2020-01-07 12:16] #709 closed, assigned to nobody

[2020-01-19 00:56] lbelorgey commented on #630
partner_default_sale_discount #842 (from 9.0)

[2020-01-22 09:05] BT-aestebanez commented on #630
Hello,

This is already merged.
One question, why this module is not included in runbot?

[2020-01-27 16:14] rven commented on #783
Migrated module partner_street_number from v10 https://github.com/OCA/partner-contact/pull/846

[2020-01-28 09:04] daniel-sjodin opened #847 "Feature request - opportunity relationship"
We are a company at distribution level and we are often involved in projects where we have multiple companies involved in the same project. There might be an end-user with a need (which will evolve into a project), consultants, integrators and installers.

It would be a great feature if it was possible to create relationships between organizations and Opportunities or Projects. This way we could t

[2020-01-28 10:21] NL66278 commented on #847
This seems to me to be more appropiate in the project repository. You might have a look at the project_role module wether it more or less fullfills your requirements.

[2020-02-07 08:43] rousseldenis opened #851 "[13.0] partner_firstname: Tests errors"
13.0 branch is red due to errors in partner_firstname.

I've checked and it could be a commit in core between 28/12/2019 and 23/01/2020.

@lmignon @NL66278

[2020-02-07 17:16] NL66278 commented on #851
@rousseldenis I do not see much of commits on partner_firstname in this period. Maybe changes in some other piece of Odoo had a side-effect on partner_firstname. I will try to debug the problem.

[2020-02-07 17:31] rousseldenis commented on #851
Yes, that's what I said. I didn't explore but some commits on Odoo side have been done on that period.

[2020-02-09 17:11] #758 closed, assigned to nobody

[2020-02-10 11:19] rousseldenis commented on #851
@NL66278 I've found the commit that makes travis red:

https://github.com/odoo/odoo/commit/6c99fe3ffec3aeb8d210e3b943ccef81d62d44ce#diff-0a8f125a3f41f36c0507203a63cde9ad

[2020-02-10 11:40] rousseldenis commented on #851
See my comment : https://github.com/odoo/odoo/commit/6c99fe3ffec3aeb8d210e3b943ccef81d62d44ce#r37207800

[2020-02-12 08:06] asm8073 opened #853 "[12.0] Installation hangs and never finiches"
Hi,
I'm using the Odoo Enterprise 12 (Odoo 12.0+e-20191215).
I have downloaded the module from the OCA site, have unzipped it and put in the modules folder of our Odoo server, I have changed the folder owner in the same manner as for other modules.
Once the server is restarted, I have clicked on Update Apps List and have got the module n the interface :
![image](https://user-images.githubuserconte

[2020-02-12 08:16] NL66278 commented on #853
@asm8073 Your problem is the time it takes to recompute all the partners. If you install the module, it will try to split all existing names in firstname and lastname.

You might try to install the module from the commandline (start the server with -i partner_firstname).

If this still failes, due to a large number of partners, you might need some coding to disable the immediate recomputation, and

[2020-02-13 08:31] NL66278 commented on #847
I close this issue as i has been referred to the appropiate repository.

[2020-02-13 08:31] #847 closed, assigned to nobody

[2020-02-13 08:36] NL66278 commented on #765
I completely agree with the roadmap and the new repo. One of our customers had its own solution for brands (called sales.channel by them), based on partners with extra attributes. This caused lots of problems. Having a separate brand, or res.brand whatever, model makes much more sense.

[2020-02-13 09:28] NL66278 commented on #765
As the new repository has been created, and already has the proposed modules, I close this issue here.

[2020-02-13 09:28] #765 closed, assigned to nobody

[2020-02-13 09:34] NL66278 commented on #1
Module base_contact was deprecated and replaced in 8.0

[2020-02-13 09:34] #1 closed, assigned to nobody

[2020-02-13 09:38] NL66278 commented on #13
res.partner.address has been replaced by integrated res.partner. And the issue of modules adding the same field has been resolved by 8.0 by merging field attributes. As version 6.1 is long out of support I will close this issue.

[2020-02-13 09:38] #13 closed, assigned to nobody

[2020-02-13 09:47] NL66278 commented on #30
Fixed upstream and 7.0 is long out of support, so closing.

[2020-02-13 09:47] #30 closed, assigned to nobody

[2020-02-13 11:00] NL66278 commented on #64
Your second requirement is in the current OCA branches satisfied with the partner_ref_unique module.

If you want to make ref required, this might also be made into another module.

[2020-02-13 11:00] #64 closed, assigned to nobody

[2020-02-13 11:01] NL66278 commented on #110
@duanyp1991 Did you make the PR somewhere? Or can this issue be closed?

[2020-02-13 11:16] NL66278 commented on #127
Problem no longer exists on 7.0 either

[2020-02-13 11:16] #127 closed, assigned to nobody

[2020-02-13 11:21] NL66278 commented on #685
Issue has been resolved.

[2020-02-13 11:21] #685 closed, assigned to nobody

[2020-02-13 11:34] NL66278 commented on #394
Old issue, without information on version, where the button is, no stacktrace etc. So closing.

[2020-02-13 11:34] #394 closed, assigned to nobody

[2020-02-14 07:12] NL66278 commented on #851
See also this PR, needed to solve the `"Foó bis" != "Foó"` problem in the test of the partner form: https://github.com/odoo/odoo/pull/45355

[2020-02-14 08:16] NL66278 commented on #851
Downstream PR is here: https://github.com/OCA/OCB/pull/909

[2020-02-18 08:50] asm8073 commented on #853
Hi @NL66278 ,
Thank you for your advises.
I have more than 30 000 contacts in the DB,  so I think the command line installation would not make big difference.
I would like to adjust the code in order to disable the immediate recalculation.
Could you please give me a hint where to disable the immediate recalculation?
Thanks!

[2020-02-18 14:04] NL66278 commented on #853
@asm8073 Comment out this line:
https://github.com/OCA/partner-contact/blob/43fee0870ae261cf733fcd5e95e402c169912e1d/partner_firstname/__init__.py#L2

[2020-02-21 12:59] asm8073 commented on #853
@NL66278 , thank you for the hint!
Changing __init__.py made error on the installation, as the post_init_hook function is also mentioned in the manifest file.
So, I commented out the 4th line in the code below from the hooks.py file:

def post_init_hook(cr, _):
    with api.Environment.manage():
        env = api.Environment(cr, SUPERUSER_ID, {})
\#        env['res.partner']._install_partner_first

[2020-02-21 15:07] NL66278 commented on #853
@asm8073 I a glad your issue is resolved!

[2020-02-21 15:07] #853 closed, assigned to nobody

[2020-03-12 10:33] BT-dherreros opened #868 "[12.0] Error exporting partner relation on partner_multi_relation"
When trying to export the Partner Relations, if Relation types is included the process fails
with trace:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/openerp/repos/odoo/addons/web/controllers/main.py", line 80, in wrap
    return f(*args, **kwargs)
  File "/home/openerp/repos/odoo/addons/web/controllers/main.py", line 1505, in index
    return self.base(data, token)

[2020-03-12 10:38] pedrobaeza commented on #868
The error seems clear: you can't export that column.

[2020-03-12 10:38] #868 closed, assigned to nobody

[2020-03-17 10:59] newtratip commented on #783
partner_employee_quantity https://github.com/OCA/partner-contact/pull/869

[2020-03-17 11:34] newtratip commented on #783
partner_priority https://github.com/OCA/partner-contact/pull/870

[2020-03-19 04:11] newtratip commented on #783
Working on `partner_ref_unique` https://github.com/OCA/partner-contact/pull/871

[2020-04-02 16:00] drewes opened #877 "[13.0] partner_multi_relation: this_partner_id Key Error"
I'm trying to migrate the **partner_multi_relation** module to 13.0.

I get the following error in the **res.partner.relation.all** model:

[code]

Does anybody have any suggestion on where I could look to fix the error, i.e. what has changed in 13.0 that would case this error?

[2020-04-03 15:44] NL66278 commented on #877
@drewes I see you are dropped in the debugger when the error happens.

Could you post the contents of the following variables when this happens?
dependencies
seen
triggers
seq2

I will try to find out what happens. The code that was changed end of last year has to do with setting up triggers for recomputing stored fields (if I understand correctly). Check commit cfb08e87b0fa.

Honestly I find it d

[2020-05-06 19:28] kickfliph opened #903 "[11.0] How to change the default http://download.geonames.org/export/zip/"
Hello everyone,

I'm setting up my Odoo 11 CE and I have installed but not properly configure the module of a particular country I need to pull the Geoname information. I can see the .zip that I'm looking for is located in this path http://download.geonames.org/export/dump/, so how I can have the module pull the information from this path. I have tried adding the entry in General Settings --> Tech

[2020-05-07 10:18] rousseldenis opened #905 "[10.0] base_location_geonames_import: Fix url"
Tests are failing since all countries are included in one zip file.

https://github.com/OCA/partner-contact/blob/13.0/base_location_geonames_import/wizard/geonames_import.py#L116

For tests, IMHO we should not rely on external urls. Apart of that, I see they have WebServices, why not using them ?

@pedrobaeza

EDIT: The base url is now https://download.geonames.org/export/dump/ I'll make a PR for

[2020-05-07 10:39] rousseldenis commented on #905
It seems not to be sufficent as the format appears to have changed too...

[2020-05-07 12:01] pedrobaeza commented on #905
As explained in https://github.com/OCA/partner-contact/pull/906#issuecomment-625209511, this is a temporary glitch that Geonames suffers from time to time. The only solution is to wait for the fix, although I know it's an annoyance, it only happens once in 3 months or so, and it takes hours to be restored.

The format in dump doesn't serve, as it doesn't include enough information for all (if I do

[2020-05-08 08:57] pedrobaeza commented on #905
And Geonames works again perfectly after the less than 1-day glitch...

[2020-05-08 08:57] #905 closed, assigned to nobody

[2020-05-08 08:58] pedrobaeza commented on #903
Nothing to change, just a temporary glitch. Just try again.

[2020-05-08 08:58] #903 closed, assigned to nobody

[2020-05-09 15:10] skeller1 commented on #783
`portal_partner_select_all` #909

[2020-05-09 23:16] skeller1 commented on #783
`partner_disable_gravatar` #911

[2020-05-10 12:19] kickfliph commented on #903
Thanks Pedrobaeza for your quick replay, but I still get the same error :(

Please let me know if there anything else I can do to resolve this and again thanks for all your help.

![shot-2020-05-10_08-11-51](https://user-images.githubusercontent.com/8335629/81499058-a2a9ad00-9296-11ea-95c9-0fed0dbd8f41.jpg)

[2020-05-10 12:22] pedrobaeza commented on #903
Why do you hide your country? Is that a secret? The reason for that should be that your country (whatever it is) is not supported then.

[2020-05-10 12:32] kickfliph commented on #903
OOhhh Pedrobaeza thanks again, no secret please accept my apologies, here it is clear. I just wondering because I'm able to do download the .zip and the information in it looks very accurate.

Thanks Pedrobaeza for all your support.

![shot-2020-05-10_08-31-35](https://user-images.githubusercontent.com/8335629/81499314-b48c4f80-9298-11ea-9c5e-1909cabfd0db.jpg)

[2020-05-10 13:20] pedrobaeza commented on #903
Then indeed there's no support for your country. See http://download.geonames.org/export/zip/ for a list of current countries. If you find the file at http://download.geonames.org/export/dump/, it's because there are some raw data, but it's not curated at probably not valid for importing. If you want to inspect and see possible compatibility, you are invited to make a PR about adding the "alternat

[2020-05-10 15:03] kickfliph commented on #903
Thanks Pedroobaeza, I'll try to start something here and update it for my country. By the way, on  the README.rst for V11.0 I can see this;

Usage
Go to Settings > Technical > Cities/Locations Management > Import from Geonames, and click on it to open a wizard.

I believe it should be at lease for V11.0;
Usage
Go to General Settings > Technical > Locations Management > Import from Geonames, and cl

[2020-05-10 15:48] pedrobaeza commented on #903
Yeah, it could be that the menu location is not accurate, so if you want to make a PR for changing that, it's also welcome.

[2020-05-11 13:54] Rad0van commented on #783
`partner_multi_relation` #913
Needs some help though - described in PR.

[2020-05-17 13:52] skeller1 commented on #783
`partner_industry_secondary` #916

[2020-05-22 10:51] elvise opened #917 "Partner multi relations"
Contacts>open a contact > click smart button relation > error
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception,

[2020-05-22 15:02] GSLabIt opened #918 "[12.0][partner_multi_relation] - issue opening for for Relations smart button."
Step to reproduce:
- open partner view on Contacts
- click on Relations smart button

Error is raised:
[code]

[2020-05-22 15:04] bodedra commented on #917
https://github.com/OCA/partner-contact/pull/919

[2020-05-22 15:07] GSLabIt commented on #918
Closing, duplicate of #917

[2020-05-22 15:07] #918 closed, assigned to nobody

[2020-05-24 10:08] TechAndris opened #920 "Not possible to import/add in/to Odoo online"
module: partner_firstname
version: 13.0

**Steps to reproduce**
- Create new db with Studio app
- Activate developer mode
- Go to Apps and chose Import Module
- Import downloaded App (partner_firstname) archive

**Current behavior**
It gives you the following error message:
Error while importing module 'partner_firstname'.

 Error while validating view

Field `partner_names_order` does not exist

[2020-05-24 10:31] pedrobaeza commented on #920
The module is working, as you can try on runbot on the button in the README.

The problem is with your deployment, as Odoo online doesn't allow to add extra modules (odoo.sh does), so closing due to this. Import option is only for data module.

[2020-05-24 10:31] #920 closed, assigned to nobody

[2020-05-26 09:11] EDallas89 opened #922 "Birthday email"
Add a new module to send birthday gretting email to contacts by a scheduled action and a default email template

[2020-05-28 13:28] tonygalmiche commented on #783
Update to do :
- base_country_state_translatable : https://github.com/OCA/partner-contact/pull/824
- partner_coc : https://github.com/OCA/partner-contact/pull/848
- partner_contact_birthdate : https://github.com/OCA/partner-contact/pull/833
- partner_employee_quantity : https://github.com/OCA/partner-contact/pull/869
- partner_identification : https://github.com/OCA/partner-contact/pull/815
- part

[2020-05-28 14:08] Rad0van commented on #783
I'd love to finish #913 but need some help on how to replace with self.env.do_in_draft(). If anybody's willing to provide some guidance...

[2020-05-29 12:27] Rad0van commented on #877
@drewes did you find out? I am trying to port the same module and temporarily (I though) I fixed this by changing `class ResPartnerRelation(models.AbstractModel)` into class `ResPartnerRelation(models.Model)`. But it behaves erratically...

[2020-05-29 12:31] drewes commented on #877
@Rad0van I've unfortunately have not been able to spend more time on this. Sorry!

Will post results if do get round to it.

[2020-05-29 12:32] Rad0van commented on #877
@NL66278 this happens whe trying to install the module:

[code]

Than the stacktrace that @drewes posted follows. So apparently the db table is not created for some reason. See my reply above to how I tried to fix this but it behaves stangely - values are not present in object when they are supposed to and tests fail.

[2020-06-01 16:38] patrickrwilson opened #923 "[12.0] partner_multi_relation - Archive Not Working"
In the partner_multi_relation module, you are not able to archive relations even though it's an option to do so. I'm assuming this might be because a relation has an inverse record so when you try to archive one, it's not able to because it can't archive both.

Perhaps the archive function should just be removed from the module?

Reproduce:
- In **Contacts**->**Relations**, create a relation
- Sel

[2020-06-03 07:15] sergiocorato opened #924 "Nuts import fails for ELLADA (Greece)"
Import fails with message 'country_id' is a mandatory field, but is missing in data.

https://github.com/OCA/partner-contact/blob/c302031fb9e9d155d7376c110054713286ceffea/base_location_nuts/wizard/nuts_import.py#L179

[2020-06-04 16:48] davidogles opened #925 "field names"
In this app, why are the field names not correct? for example you have a field named firstname but the label says "Last Name"
 _inherit = 'res.partner'

    firstname = fields.Char(
        "Last name",
        index=True,
    )
    lastname = fields.Char(
        "First name",
        index=True,

[2020-06-04 17:10] NL66278 commented on #925
Please point out the file and line in the source code where you see this.

[2020-06-04 17:45] davidogles commented on #925
MODEL - res_partner.py
Lines 16 through 22.
thanks,
Dave

[2020-06-05 09:34] NL66278 commented on #925
I checked all versions of the partner_firstname module from 8.0 to 13.0 and this occurs nowhere. Do you have a very old version? What version (and what commit) are you using?

[2020-06-05 09:37] pedrobaeza commented on #925
Closing as no issue. Just use OCA latest source code.

[2020-06-05 09:37] #925 closed, assigned to nobody

[2020-06-05 13:42] davidogles commented on #925
I think I found out what is/has happens.  When you choose to order the name by "lastname firstname" it changes the code in the module.
thanks,
Dave

[2020-06-13 06:23] payal-dot opened #926 "TypeError: Model 'hr.payslip' does not exist in registry. - - -"
i am inheriting payslip module but it's showing not exist issue.
from odoo import models, fields,api

class HrPayslipInherit(models.Model):
	_inherit = 'hr.payslip'

	@api.depends('line_ids')
	def _compute_total_salary(self):
		for rec in self:
			total_amount = 0
			for salary_line in rec.line_ids:
				total_amount += salary_line.total
			rec.total_salary = total_amount

	total_salary = fields.Fl

[2020-06-22 06:16] payal-dot opened #928 "Issue In Module"
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/api.py", line 1049, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 380

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/fields.py", line 1005, in __get__
    value = record.env.cache

[2020-06-22 06:42] pedrobaeza commented on #928
You are not indicating the module nor the Odoo version, but seeing the error, there's no `salary.salary` model in none of the modules included here so it's something in your end, that you have messed up the DB, so closing.

[2020-06-22 06:42] #928 closed, assigned to nobody

[2020-06-24 12:33] protontrigg3r opened #933 "[12.0] partner_vat_unique: 500 Internal Server Error if VAT already exist"
If you insert an existing VAT in the eCommerce checkout form, you get this error:

[code]

[2020-06-24 12:36] pedrobaeza commented on #933
That's something expected, as the VAT is not unique. If you want a pretty error, you have to do a `website_partner_vat_unique` module that handles that. A PR for putting this in the known issues section of the README in `partner_vat_unique` is also appreciated meanwhile.

[2020-07-02 16:03] foliveira-odoogap commented on #783
Hi, the module partner_contact_in_several_companies isn't  in todo's list, but I would like to migrate it to version 13. Just let me know if I can working on it.

[2020-07-06 07:55] carlosdauden opened #938 "Weblate don't synchronize translations, merge conflict"
What is the best way to solve this problem?

https://translation.odoo-community.org/projects/partner-contact-13-0/#history

[2020-07-06 08:14] pedrobaeza commented on #938
@sbidoul is there a way to access to weblate internal git repos for doing the rebase and fix the conflicts?

[2020-07-29 07:14] pedrobaeza commented on #938
@sbidoul I wonder if you can give a hand here.

[2020-07-29 10:09] sbidoul commented on #938
I'll check. There is an easy way but I fear it will lose the latest uncommitted translations. Otherwise it's a painful manual merge.

[2020-07-29 10:47] sbidoul commented on #938
I'll probably won't have time today. If someone else with weblate admin rights wants to have a look, it's either

- reset in in repository maintenance:
![image](https://user-images.githubusercontent.com/692075/88791192-9ba98100-d199-11ea-82e1-e5774fbc4654.png)

- or https://docs.weblate.org/en/weblate-3.11/faq.html#how-to-fix-merge-conflicts-in-translations

[2020-07-29 10:50] pedrobaeza commented on #938
Indeed resetting is too hard, as we will lose all the translations made. I don't mind to solve conflicts manually, but not sure if I have the proper rights for accessing the git repository. Let me try and tell you back.

[2020-07-30 12:38] pedrobaeza commented on #938
Not sure if someone has reset the changes or fix the conflict, but repo is now clean when I have come to check it, so let's close this. Please review again possible translations.

[2020-07-30 12:38] #938 closed, assigned to nobody

[2020-07-31 12:04] rousseldenis commented on #783
Do you plan to do it as someone of ours has done it and will publish it

[2020-07-31 20:06] amh-mw opened #944 "Installing partner_firstname breaks base odoo post_install test"
[code]

This is easily reproducible with `docker-compose up` for the following docker-compose.yaml:
[code]

The name field in the form becomes read-only only when `is_company=True`:
https://github.com/OCA/partner-contact/blob/13.0/partner_firstname/views/res_partner.xml#L9-L14
https://github.com/OCA/partner-contact/blob/13.0/partner_firstname/views/res_partner.xml#L40-L45
https://github.com/OCA/pa

[2020-07-31 20:15] amh-mw commented on #944
I feel like the most appropriate solution would be to rely on _inverse_name_after_cleaning_whitespace?
https://github.com/OCA/partner-contact/blob/13.0/partner_firstname/models/res_partner.py#L112-L122

Instead of marking the field read-only, if the user modifies name, it should recalculate first and last name. If they don't like the outcome, the user can modify first and last name and it will rec

[2020-08-01 15:31] Rad0van commented on #783
As an alternative you can elegantly use partner_multi_relation

[2020-08-03 08:42] foliveira-odoogap commented on #783
@rousseldenis This is my first contribution to OCA, I have the module migrated and tested too. As it is my first contribution, don't you mind to let me working on this one? I would appreciate.

[2020-08-03 09:22] Rad0van commented on #783
Let me answer from my recent experience. I did few of these as a learning Odoo/Python experience. There is ecosystem setup to guard the quality of the code, readability, etc... So you just try, submit PR and you will see. If you're not aware, here's how to do this: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0
Hope it helps.

[2020-08-03 11:32] regispirard commented on #783
@foliveira-odoogap just discussed this with @rousseldenis : you can make a P.R. with your version.

@Rad0van : partner_multi_relation can be usefull, thanks, but is less advanced than partner_contact_in_several_companies with which you can :
- specify more information (position, address, notes, ...)
- other positions are displayed in kanban
- other position are included in search

[2020-08-03 11:43] Rad0van commented on #783
@regispirard will check it out in more detail. Thanx.

[2020-08-06 10:38] luffah opened #945 "[12.0] partner_contact_in_several_companies // failure on reload translations"
Hello,

when i reload translations.
[code]

The bothering constraint is :
`"ir_translation_model_unique" UNIQUE, btree (type, lang, name, res_id) WHERE type::text = 'model'::text`

The conflicts are on terms of the model  (with following headings).
[code]

In Odoo12, there is a special type for this kind of terms  `model_term`. Maybe this is the one you wanted to use in the `.pot` instead of `mode

[2020-08-11 11:22] regispirard commented on #783
@foliveira-odoogap  can you confirm you will make the pull request ?
Thanks

[2020-08-11 13:46] Rad0van commented on #783
@regispirard I do not want to interfere but not sure how @foliveira-odoogap could make the PR for / instead of you. Why don't you just do the PR yourself?

[2020-08-12 06:46] foliveira-odoogap commented on #783
@regispirard I'll make the PR during this week!

[2020-08-13 01:15] davejames commented on #944
I can reproduce this. It seems that travis runs odoo twice, first it initializes the database by installing crm and then it runs again and installs the modules in the repo. By doing this the post tests pass, however if you initialize a fresh database with those modules from the beginning, the post tests fail, as below:

[code]

Starting with an empty database:
Tests pass with
`odoo -d tests --test

[2020-08-13 23:03] #945 closed, assigned to nobody

[2020-08-13 23:03] luffah commented on #945
Looks like my version is obsolete.

[2020-09-02 18:01] skeller1 commented on #926
HR Payroll is removed from Odoo13 community Edition.
Inheritance should work for Odoo 12.

[2020-09-07 09:33] joao-p-marques commented on #783
Hi. I will migrate `partner_ref_unique`.

[2020-09-22 19:55] miscs opened #962 "[12.0] Partner Affiliates - Filter "Invoices is set" not working correctly"
Hi all,
I have a partner affiliate structure like this:

Group A -> Company A.1
               -> Company A.2

Company A.1 has invoices and is showing a total invoiced.
When I create a custom filter "Invoices is set" neither Group A nor Company A.1 are shown. If I delete the affiliate relation, Company A.1 is shown correctly with this filter.

Is this a known bug? Thanks
Steve

[2020-09-23 15:03] miscs opened #963 "[12.0] Partner Affiliates - Filter "Customers" not working correctly"
Hi again,

Filter "Customers" seems not to be working well with module "Partner Affiliates":

XXX Group A -> XXX Company A.1
-> XXX Company A.2

All are Companies and Customers. If I search
name: XXX + Filter Companies -> all three entries are shown

When I also add filter "Customers"
name: XXX + Filter Companies + Filter Customers -> Only "XXX Group A" is shown

Any hints? Thanks
Steve

[2020-09-23 20:12] zonclayv opened #964 "[13.0] partner_firstname: Wrong company name"
### Description of the issue
Contact has wrong name after entering both firstname/lastname for individual and company name.

### Version
Odoo - 13.0 from the odoo repository
partner_firstname - 13.0.1.0.1

### How to reproduce

1. Open contact creating form
2. Switch to individual contact type
3. Enter firstname and lastname e.g. Adam Smith
4. Switch to company contact type
5. Clear name field and

[2020-09-24 08:05] rousseldenis commented on #964
@lmignon @NL66278 Maybe you can help on this ?

[2020-09-24 08:36] lmignon commented on #964
@zonclayv Thank you for the report. We've to check and debug to know what's the problem. Unfortunately I've no time at the moment to do it.... I'll try in the coming weeks...

[2020-09-24 12:53] zonclayv opened #965 "[13.0] partner_firstname: Cannot change internal user firstname and lastname"
### Description of the issue
Cannot save user with only lastname filled in, when only firstname was filled in before and vice versa.

### Version
Odoo - 13.0 from the odoo repository
partner_firstname - 13.0.1.0.1

### How to reproduce
1. Create internal user with only with **firstname** field filled (ofc with email/login), lastname - should be empty.
2. Open edit form and clear firstname field an