[2020-10-01 09:23] benbrich commented on #697
Hey @max3903 why not closing this one? :-) Take care, Ben

[2020-10-01 09:48] benbrich opened #968 "[11.0] partner_multi_relation - add relation identifiers"
We are having a use case, where it is necessary to save as well the identifiers that partners in a relation give to each other. For example in a supplier/customer relationship the supplier and customer ID's defined for each side by the opponent one.

Now I am not sure if this is a potential improvement for the partner_multi_relation module and if yes, wether it is better to integrate it as an addi

[2020-10-01 10:08] NL66278 commented on #697
Closing as requested change has already been done.

[2020-10-01 10:08] #697 closed, assigned to max3903

[2020-10-01 10:12] NL66278 commented on #968
Hi I think this should go in an new module, as the usecase seems somewhat special to me.

[2020-10-04 10:33] OCA-git-bot opened #971 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] base_location - By @pedrobaeza - #1003
- [x] base_location_geonames_import - ~~By @alexis-via - #1024~~ By @pedrobaeza - #1039
- [ ] base_location_nuts
- [x] base_partner_sequence - By @mostafaala2 - #1075
- [ ] ~~base_vat_sanitized~~ obsolete, see https://github.com/OCA/partner-contact/pull

[2020-10-05 18:41] antoniocanovas opened #972 "[v12] Error running the wizard 'base_location_geonames_import'"
Error 404 downloading from http://download.geonames.org/export/zip/ES.zip.
Working URL:                          http://download.geonames.org/export/dump/ES.zip

Thanks.

[2020-10-05 19:03] pedrobaeza commented on #972
That URL has different content. Wait until Geonames fixes the problem (it takes half a day usually).

[2020-10-05 19:03] #972 closed, assigned to nobody

[2020-10-07 15:12] NL66278 commented on #923
An active relation is defined as a relation with no end-date, or an end-date in the future.

So the archiving action should be modified to set the enddate (and the unarchiving to unset it).

[2020-10-09 14:48] NL66278 commented on #923
Bug is dealt with here: https://github.com/OCA/partner-contact/pull/979

[2020-10-09 14:50] NL66278 commented on #110
No answer...

[2020-10-09 14:50] #110 closed, assigned to nobody

[2020-10-09 14:54] NL66278 commented on #130
If this error occurs on supported versions of Odoo, please re-open issue.

[2020-10-09 14:54] #130 closed, assigned to nobody

[2020-10-09 14:56] NL66278 commented on #166
If this problem occurs on supported versions of Odoo, please re-open issue.

[2020-10-09 14:56] #166 closed, assigned to nobody

[2020-10-12 15:04] luistorresm commented on #971
partner_firstname  - https://github.com/OCA/partner-contact/pull/981
partner_second_lastname  - https://github.com/OCA/partner-contact/pull/982

[2020-10-13 11:26] filipocc opened #983 "[12.0] partner_multi_relation searching relations other_partner_id"
Hi!
I'm facing an issue related to this module -> partner_multi_relation
The problem comes when i try to search by "search_relation_partner_id" field (Has relation with). In my case, i have 2 contacts:

- **Partner A**
- **Partner B**

**Partner A** has 2 relations with **Partner B**; in my case, relations could be properties (buildings), so lets say that Partner A has 2 houses:

-  in Partner B a

[2020-10-14 21:53] NL66278 commented on #983
Actually you are encountering a bug in the search_count function of Odoo. search_count does not look at the number of unique ids returned from the SQL generated for a search. So if the search finds a record in two ways, it will be counted double. However when doing a normal search, Odoo will only use unique id's.  That explains the results you are seeing. The same with the grouping. The count of 2

[2020-10-15 11:20] pedrobaeza commented on #971
I have migrated `partner_fax` in #985

[2020-10-15 11:39] newtratip commented on #971
I worked on `partner_contact_personal_information_page` https://github.com/OCA/partner-contact/pull/986

[2020-10-15 14:39] newtratip commented on #971
`partner_contact_birthdate` https://github.com/OCA/partner-contact/pull/987

[2020-10-15 15:05] newtratip commented on #971
`partner_contact_job_position` https://github.com/OCA/partner-contact/pull/988

[2020-10-15 19:23] newtratip commented on #971
`partner_contact_gender` https://github.com/OCA/partner-contact/pull/991

[2020-10-15 19:56] newtratip commented on #971
`partner_contact_lang` https://github.com/OCA/partner-contact/pull/992

[2020-10-16 07:47] qgroulard commented on #783
partner_email_check https://github.com/OCA/partner-contact/pull/989

[2020-10-16 08:04] newtratip commented on #971
`partner_contact_nationality` https://github.com/OCA/partner-contact/pull/993

[2020-10-16 09:14] newtratip commented on #971
`partner_vat_unique` https://github.com/OCA/partner-contact/pull/990

[2020-10-16 09:30] newtratip commented on #971
`partner_deduplicate_by_ref` https://github.com/OCA/partner-contact/pull/994

[2020-10-16 09:45] newtratip commented on #971
`partner_deduplicate_acl` https://github.com/OCA/partner-contact/pull/995

[2020-10-18 10:41] pedrobaeza commented on #971
Working on `base_location`

[2020-10-19 14:20] newtratip commented on #971
`partner_phone_extension` https://github.com/OCA/partner-contact/pull/996

[2020-10-19 15:10] newtratip commented on #971
partner_bank_active https://github.com/OCA/partner-contact/pull/997

[2020-10-20 06:15] kittiu commented on #971
Working on `partner_company_type`

[2020-10-21 07:09] newtratip commented on #971
`partner_contact_age_range` https://github.com/OCA/partner-contact/pull/999

[2020-10-21 10:22] newtratip commented on #971
`partner_contact_department` https://github.com/OCA/partner-contact/pull/1000

[2020-10-21 15:38] newtratip commented on #971
`partner_company_group` https://github.com/OCA/partner-contact/pull/1001

[2020-10-25 18:31] newtratip commented on #971
`partner_contact_access_link` https://github.com/OCA/partner-contact/pull/1004

[2020-11-01 14:02] newtratip commented on #971
`partner_ref_unique` https://github.com/OCA/partner-contact/pull/1006

[2020-11-01 14:16] newtratip commented on #971
@rousseldenis  Please update following list to done
- partner_contact_birthdate https://github.com/OCA/partner-contact/pull/987
- partner_contact_job_position https://github.com/OCA/partner-contact/pull/988
- partner_contact_lang https://github.com/OCA/partner-contact/pull/992
- partner_contact_personal_information_page https://github.com/OCA/partner-contact/pull/986
- partner_firstname https://gi

[2020-11-02 08:47] joao-p-marques commented on #783
partner_external_map https://github.com/OCA/partner-contact/pull/1007 (superseeds https://github.com/OCA/partner-contact/pull/813)

[2020-11-08 10:48] newtratip commented on #971
`partner_priority` https://github.com/OCA/partner-contact/pull/1009

[2020-11-09 16:16] Troublicious opened #1011 "[v10] partner_firstname and double name"
Hello everyone, there is a problem (at least in version 10) with the partner_firstname module:
Indeed, when creating a contact with a double name for lastname, the module records the right information in the right places. However, in case of modification of the lastname or the firstname of the contact, the double name is incorrectly saved, and the second part of the lastname is recorded with the f

[2020-11-14 07:26] Alhayah opened #1015 "I still can create duplicate. odoo 13"
Hi there,
Thanks for developing this module.
I had installed the module and configure it as below:
Configuration
To configure this module, you need to:
Go to Settings > Users & Companies > Companies.
Select a company.
Choose an option on section Partners.  ( I select "All partners" )

Then I open contacts, chose one contact card > duplicate > save

1- The duplicate contacts saved with the same pho

[2020-11-16 11:17] Alhayah commented on #1015
Dears, @pedrobaeza @NL66278 @MiquelRForgeFlow
I appreciate your busy schedules, hope you find a moment to have a look at the issue above.
Thanks in advance.

[2020-11-18 06:54] Alhayah commented on #1015
Hello,
Can anyone help me out?
@rvalyi @ovnicraft @cmayo

[2020-11-18 08:26] NL66278 commented on #1015
@Alhayah Please start by telling about what module you are talking.

As for employee's. The partner modules are not dependend generally on hr modules. So no, they will not out of the box work for employee's.

[2020-11-24 11:24] gbaumgartner-callino commented on #971
base_partner_sequence https://github.com/OCA/partner-contact/pull/1023

[2020-11-24 19:35] OsoTranquilo commented on #971
I am working in base_location_geonames_import

[2020-11-27 09:50] vanderperre opened #1025 "[13.0] [BUG] base_location_geonames_import bug with import"
After installed module :
define in system parameter the new accessible address : http://download.geonames.org/export/dump/%s.zip
(see doc of the module of how to make it).
go to contact >>> configuration >>> import from geoname
fill it with belgium
then : error : duplicate key value violates unique constraint "res_country_state_name_code_uniq"

odoo.addons.base_location_geonames_import.wizard.geon

[2020-11-27 09:57] pedrobaeza commented on #1025
That address doesn't serve, as the format is totally different. Regular downloads are up again.

[2020-11-27 09:57] #1025 closed, assigned to nobody

[2020-12-11 11:09] NL66278 commented on #482
Unfortunately partner_street_number is not completely covered by base_address_extended, as in that module the street fields are not split for contacts in the main partner form...

[2020-12-12 15:20] dnplkndll commented on #1015
just looking over this project code, the only prevent save option is partner_ref_unique and uses just ref. The dedups are post create process.
you could and an onchange to that field like:
What we were trying to do next was make the UI element be a clickable link or redirect to dup on acknowledgment.
[code]

[2020-12-14 16:16] newtratip commented on #971
partner_employee_quantity https://github.com/OCA/partner-contact/pull/1036

[2020-12-15 18:11] newtratip commented on #971
partner_label https://github.com/OCA/partner-contact/pull/1040

[2020-12-16 17:36] newtratip commented on #971
partner_iterative_archive https://github.com/OCA/partner-contact/pull/1042

[2020-12-27 01:44] phuctranfxvn commented on #971
`partner_tz` migrated in https://github.com/OCA/partner-contact/pull/1043

[2020-12-30 16:51] skeller1 commented on #971
portal_partner_select_all #1045

[2021-01-01 19:26] skeller1 commented on #965
Hi, tried to fix the problem. Maybe somebody with more ORM inheritance experience could help:

Both models (`res.partner` and `res.users`) are implementing `def _compute_name` (res.users with onchange decorator, res.partner with depends decorator)

Changing the method name in res.users model is wokring and the user record can be stored.
Could somebody explain why res.users model is not "using"  `@

[2021-01-06 07:12] dsolanki-initos commented on #971
Hello,
I'm migrating module base_country_state_translatable to v14.

[2021-01-08 06:12] dsolanki-initos commented on #971
Hello,
I've migrated the module base_country_state_translatable to v14. Here is the PR https://github.com/OCA/partner-contact/pull/1047

[2021-01-10 22:59] moaadbourhim commented on #1015
did you find any solution?

[2021-01-28 15:11] tundraconsulting opened #1051 "[v11] partner_vat_unique 500 Internal Server error"
Hi,

This module show this error if you are using website module.
To reproduce it:
Try to buy some product and insert a VAT that exists in Odoo Contacts.

Below, you can see the log:

2021-01-28 09:58:30,068 6 ERROR jxxxxxxx-test-1798217 odoo.addons.website.models.ir_http: 500 Internal Server Error:

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/addons/base/ir/ir_http.py", li

[2021-01-28 15:13] pedrobaeza commented on #1051
You need to create a bridge module `website_partner_vat_unique` to handle that, as you can't add such big dependency for that use case.

Closing as no issue, but uncovered case.

[2021-01-28 15:13] #1051 closed, assigned to nobody

[2021-02-06 14:43] AMhadhbi commented on #971
partner_affiliate #1055

[2021-02-12 16:25] phuctranfxvn commented on #971
`partner_identification` https://github.com/OCA/partner-contact/pull/1058

[2021-02-15 19:19] GSLabIt opened #1060 "[12.0] partner_default_sale_discount, error replacing context in field_view_get"
[code]

It seems issue is on this line:

https://github.com/OCA/partner-contact/blob/735e86f2d1b482f437070c4445dd6f2628448f06/partner_default_sale_discount/models/sale_order.py#L36

error raised on empty `context`, because of `{`  replaced by `{'default_discount': default_sale_discount, `. Latest `,` generate it.

[2021-02-15 19:25] pedrobaeza commented on #1060
In the previous line, if `context` not found, the fallback value is `{}`, so it's strange that the problem comes from there.

[2021-02-15 19:27] GSLabIt commented on #1060
@pedrobaeza yap, u r right but at the end string is `{'default_discount': default_sale_discount, }` and raised the error; at least that's what i found. Any hint appreciated.

[2021-02-15 19:33] pedrobaeza commented on #1060
And you say that the final comma is provoking the problem?

[2021-02-15 19:38] GSLabIt commented on #1060
yes, that's what I've seen; maybe  string need to be converted to dict?

[2021-02-15 19:54] pedrobaeza commented on #1060
I don't think so, but please remove the comma and try again to see.

[2021-02-15 21:44] GSLabIt commented on #1060
@pedrobaeza i think i found the real issue. It's an incompatibility related to `sale_commission`:

https://github.com/OCA/commission/blob/c38d3c70d1d36c1318024b5e8e31d01cf595ce78/sale_commission/models/sale_order.py#L60.

Fix at #1062

[2021-02-19 16:56] JonathanStein opened #1067 "[12.0] partner_multi_relation cannot switch direction of relation"
module: partner_multi_relation
version: 12.0

**Steps to reproduce**
- Give Bart Simpson the relation "Has assistant" to Mitchell Admin and save the relation.
- Edit the relation: Change type to "Is assistant of" and save.

**Current behavior**
Bart still has the relation "Has assistant" to Mitchell

**Expected behavior**
Bart should have "Is assistant of" to Mitchell.

**Possible fix**
Include "t

[2021-03-03 08:35] richard-willdooit commented on #971
partner_contact_in_several_companies - is not on the list - we are thinking of upgrading it - or is there a reason it is not on there?

[2021-03-05 06:23] fmdl opened #1073 "[14.0] base location, partner view very slow"
Hi

Create database, import French zip (60 000).
Create a new partner.
If the field city_id is empty, and allowed_zip_ids is a really big because domain = [].
--> the view is very slow

@pedrobaeza

[2021-03-08 21:56] josarmas9416 commented on #971
Hello,
I would like to migrate the modules animal and animal_owner from v12.

[2021-03-09 00:19] ulisesgamboa commented on #783
Hi @NL66278 I am looking for partner_multirelation_tab for v13, do you have this is on your migration plans?

[2021-03-09 08:15] NL66278 commented on #783
@ulisesgamboa I would like to, but my PR with improvements for 12.0, which I would like to base the migration to 13.0 and 14.0 on, is still waiting for merge of a dependent module in the web repository. It seems the maintenance of the web repository is not very active, and I have no rights there. See here: https://github.com/OCA/partner-contact/pull/979 and here: https://github.com/OCA/web/pull/17

[2021-03-10 12:53] OBS-NL commented on #971
When will partner multi relation be available in v14?

[2021-03-10 13:47] NL66278 commented on #971
@OBS-NL We will have to plan this. Now in the process of getting 12.0 version completely up to date with latest fixes. Of course if there is  a customer that needs the migration and is willing to pay for development time we can give it a higher priority and more time.

[2021-03-10 13:51] OBS-NL commented on #971
thank you,
the customer told me he can wait

[2021-03-17 10:56] CRogos opened #1088 "[14.0] partner_firstname, Import Invoice Address without name fails"
When trying to import Invoice Addresses from excel with an empty value in the "Name" or "Last name" column, I get the following error message.

`Unknown error during import: <class 'AttributeError'>: can't set attribute at 10 different rows: `

No more details in UI and logs.

Adding a column with non-empty test data for "name", or uninstalling the partner_firstname module the import is working.

[2021-03-19 04:36] jacob-willdooit commented on #971
PR open for "partner_contact_in_several_companies", PR [#1090 ](https://github.com/OCA/partner-contact/pull/1090)

[2021-04-08 13:28] NL66278 commented on #1011
At the moment there are multiple modules that split the monolithic res.partner name field into multiple parts. The original one was partner_firstname, but there is also partner_second_lastname and l10n_nl_partner_name in the Dutch localization that adds a middlename (infix) and initials.

There is an attempt to modify some of this in the proposal for partner_multi_name. See PR https://github.com/O

[2021-04-28 14:26] rven commented on #971
partner_multi_relation https://github.com/OCA/partner-contact/pull/1101 superseeds https://github.com/OCA/partner-contact/pull/1076

[2021-05-10 15:05] OpenCode commented on #971
partner_manual_rank https://github.com/OCA/partner-contact/pull/1104

[2021-06-07 13:39] redapureskill commented on #971
14.0 mig partner phonecall schedule in #1113

[2021-06-22 17:57] pedrobaeza commented on #1073
Indeed I have seen the problem, but there's a solution without losing the feature (and doing it even more powerful), and I have pushed it directly to the branch, as this can be considered a serious bug. Closing then this issue. Thanks for reporting.

[2021-06-22 17:57] #1073 closed, assigned to nobody

[2021-06-22 18:11] pedrobaeza opened #1117 "Switch default branch to 14.0"
Please switch to 14.0 @sbidoul @simahawk @dreispt

[2021-06-22 20:06] dreispt commented on #1117
Done

[2021-06-22 20:06] #1117 closed, assigned to nobody

[2021-09-01 16:09] gregory-moka opened #1131 "[12.0] partner_firstname > Error from POS"
Hello,
Error from POS when trying to edit a contact from contact list :
I change the Name & Surname and, once I try to save the contact :

[code]

[2021-09-01 16:11] #1131 closed, assigned to nobody

[2021-09-08 08:09] Softelectro opened #1133 "[14.0] partner_tier_validation : Approve/Reject actions"
module: partner_tier_validation
version: 14.0 (community)

I know the Approve/Reject actions do not automatically change the State but how can we add this part for our usage.

if anyone have tip or some piece of code.
Thanks in advance.
Softelectro

[2021-09-08 12:09] JordiBForgeFlow opened #1134 "[partner_affiliate] VAT and address are hidden for the Affiliate companies"
The module 'partner_affiliate' allows to separate between contacts in a company, and affiliate companies. That's good.
However once you assign a parent company to an affiliate, some of the fields in the affiliate, like the address, VAT, become read-only. See for example https://github.com/odoo/odoo/blob/14.0/odoo/addons/base/views/res_partner_views.xml#L202

Obviously this is not what we would exp

[2021-09-08 12:10] JordiBForgeFlow commented on #1134
@sergio-teruel you were involved in the 'partner_group' module. Perhaps you have an opinion on this matter.

[2021-09-08 13:27] NL66278 commented on #1134
Maybe in some cases partner_multi_relation can be an alternative?

[2021-09-08 14:34] JordiBForgeFlow commented on #1134
@NL66278 having the parent_id introduces the possibility to aggregate numbers up the hierarchy, which is very interesting. To me what I described looks like a limitation of the partner_affiliate

[2021-09-10 10:31] sergio-teruel opened #1135 "[13.0][14.0] partner_vat_unique: Vat not checked when remove parent_id field"
https://github.com/OCA/partner-contact/blob/86fd904219a21d31ced82f25ab3d640074141600/partner_vat_unique/models/res_partner.py#L15
Replace by:
`@api.constrains("vat",  "parent_id") `

TT31548

[2021-09-17 08:26] sergio-teruel commented on #1134
@JordiBForgeFlow We are using partner_company_group more than partner_group,

[2021-09-17 12:37] JordiBForgeFlow commented on #1134
Proposed PR in https://github.com/OCA/partner-contact/pull/1136

[2021-09-17 12:37] #1134 closed, assigned to nobody

[2021-09-23 15:35] victoralmau commented on #971
`partner_pricelist_search` https://github.com/OCA/partner-contact/pull/1138

[2021-09-24 14:07] victoralmau commented on #971
`partner_capital` https://github.com/OCA/partner-contact/pull/1139

[2021-10-04 10:48] JoksMadrilon opened #1145 "ValueError: Invalid field 'on_time_rate' on model 'res.partner'"
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 360, in _call_function
    return

[2021-10-04 10:50] pedrobaeza commented on #1145
And which module in this repository is involved with this error and in which version?

[2021-10-04 10:52] JoksMadrilon commented on #1145
I cannot to fix it. I've uninstalled CONTACT module but same error continues. I don't know how to solve it. this error prevents access to customer and supplier accounts

[2021-10-04 10:54] JoksMadrilon commented on #1145
V.14

[2021-10-04 10:57] pedrobaeza commented on #1145
Sorry, but this has nothing to do with this repo and it seems you have messed up your local DB. Try to ask for help in forums.

[2021-10-04 10:57] #1145 closed, assigned to nobody

[2021-10-07 09:14] ygol opened #1146 "[14.0] [partner_multi_relation] user without administration rights cann't click contact's smart button - bug"
Error message on runbot:

![image](https://user-images.githubusercontent.com/2945174/136355727-37fc06ed-6558-491c-bc31-af5e5175c7d8.png)

[2021-10-07 09:33] NL66278 commented on #1146
Apparently runbot is not up to date. This problem has been solved in commit 39c72d119cc9c3a7fc8d2a37d116b8ce172582ca from the first of octobre.

[2021-10-07 09:41] NL66278 commented on #1146
And indeed on runbot the commit is 52d5ba217243018612841ac4643fc93c10b6913e from the 27th of september.

[2021-10-07 09:45] NL66278 commented on #1146
This despite the fact that the version has been bumped. But maybe bumping the minor number is not enough to refresh runbot?
[code]

[2021-10-07 09:46] ygol commented on #1146
Thank you @NL66278 closing this then

[2021-10-07 09:46] #1146 closed, assigned to nobody

[2021-10-17 10:19] OCA-git-bot opened #1153 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] animal - by @moaadbourhim - #1162
- [ ] base_country_state_translatable
- [x] base_location - By @pedrobaeza - #1158
- [x] base_location_geonames_import - By @pedrobaeza - #1178
- [x] base_location_nuts - By @gaso - #1189
- [ ] base_partner_sequence
- [ ] company_default_partner_pricelist -

[2021-10-23 14:37] hitrosol opened #1156 "Not Specific Error Message for duplicate email in ecommerce"
Condition:
1. Installed module partner_email_check and activated the Filter duplicate email addresses"/partner_email_check_filter_duplicates setting.
2. Try to purchase in the Shop and checkout with the email that already registered in the system.
3.  After click button Next,
![image](https://user-images.githubusercontent.com/5949936/138560736-bb78c065-9e9b-48d7-a8fa-7e6d791c68e1.png)

4. There is

[2021-10-24 09:52] Canario0 commented on #1153
I would like to migrate the module. base_location

[2021-10-24 09:56] pedrobaeza commented on #1153
@Canario0 I'm migrating it as well, and will be available soon. Maybe you want to take another one.

[2021-10-24 09:59] Canario0 commented on #1153
@pedrobaeza good to know. Then Ill check later which one I can take.

[2021-10-31 20:33] moaadbourhim commented on #1153
@max3903
Migrating animal #1164

[2021-11-01 20:51] #267 closed, assigned to nobody

[2021-11-07 20:01] moaadbourhim commented on #1153
Migrating base_country_state_translatable #1168

[2021-11-09 14:26] OpenCode commented on #1153
Migrating `partner_fax` https://github.com/OCA/partner-contact/pull/1170

[2021-11-09 15:39] OpenCode commented on #1153
Migrating `partner_ref_unique` https://github.com/OCA/partner-contact/pull/1171

[2021-11-09 15:50] OpenCode commented on #1153
Migrating `base_partner_sequence` https://github.com/OCA/partner-contact/pull/1172

[2021-11-09 15:55] OpenCode commented on #1153
Migrating `partner_address_street3` https://github.com/OCA/partner-contact/pull/1173

[2021-11-09 16:05] OpenCode commented on #1153
Migrating `partner_email_check` https://github.com/OCA/partner-contact/pull/1174

[2021-11-10 11:50] victoralmau commented on #971
`partner_phonecall_schedule` https://github.com/OCA/partner-contact/pull/1175

[2021-11-12 09:32] ph-obs commented on #1153
Anybody working on `partner_first_name` yet? I would need that for multiple projects. Thanks

[2021-11-12 09:38] bjornbillen commented on #1153
Migrating `partner_firstname` #1177

[2021-11-16 16:26] holdenrehg commented on #1153
I'm working on:
- `partner_contact_personal_information_page`
- `partner_contact_birthdate`
- `partner_contact_nationality`

[2021-11-23 08:36] pegonzalezspesol commented on #1153
working on partner_contact_lang #1190

[2021-11-27 23:47] holdenrehg commented on #1153
Migrating `partner_contact_birthdate` PR https://github.com/OCA/partner-contact/pull/1183

[2021-11-27 23:59] holdenrehg commented on #1153
Migrating `partner_contact_nationality` PR https://github.com/OCA/partner-contact/pull/1184

[2021-11-28 00:01] holdenrehg commented on #1153
Migrating `partner_contact_personal_information_page` PR https://github.com/OCA/partner-contact/pull/1185

[2021-11-28 12:31] #184 closed, assigned to nobody

[2021-11-28 12:31] #236 closed, assigned to nobody

[2021-11-28 12:31] #240 closed, assigned to nobody

[2021-11-28 12:31] #258 closed, assigned to nobody

[2021-11-28 12:31] #259 closed, assigned to nobody

[2021-11-28 12:31] #260 closed, assigned to nobody

[2021-11-28 12:31] #261 closed, assigned to nobody

[2021-11-28 12:31] #263 closed, assigned to nobody

[2021-12-05 12:32] #277 closed, assigned to nobody

[2021-12-05 12:32] #283 closed, assigned to nobody

[2021-12-05 12:32] #305 closed, assigned to nobody

[2021-12-09 11:38] SilvioC2C commented on #1153
Migrating `partner_industry_secondary` #1193

[2021-12-12 09:56] primes2h commented on #971
`partner_contact_birthplace` https://github.com/OCA/partner-contact/pull/1196

[2021-12-12 09:57] primes2h commented on #783
`partner_contact_birthplace` https://github.com/OCA/partner-contact/pull/1197

[2021-12-12 12:32] #309 closed, assigned to nobody

[2021-12-12 12:32] #346 closed, assigned to nobody

[2021-12-17 14:40] neckhair commented on #1088
I also think that requirement for a name on contacts of type "invoice" should be lifted. It leads to a lot of confusing records, because you need to repeat the company name if you don't have an explicit name of the invoice address.

[2021-12-19 12:34] #399 closed, assigned to nobody

[2021-12-20 10:26] damdam-s commented on #1153
Migrating `partner_company_group` #1198

[2021-12-20 14:25] neckhair commented on #1088
For the future reader: Setting `is_company = False` solves the problem. And I think it's even kind of correct, since it's neither a company nor a person, but an invoice address...

[2021-12-26 12:33] #404 closed, assigned to nobody

[2021-12-27 21:38] JGStyle opened #1204 "Field "in_group_39" does not exit in model "res.users""
<!-- Provide a general summary of the issue in the Title above.
Before opening the issue, please check that there isn't another issue addressing the same problem already created -→
When trying to install this module on a clean odoo14 install, the error appears.

## Module
partner firstname and last name

## Describe the bug
This will happen when you try to install this module on a clean odoo14 ins

[2021-12-27 21:39] #1204 closed, assigned to nobody

[2022-01-01 22:10] emagdalenaC2i commented on #1153
Migrating:
-  `partner_phone_secondary` [PR#1207](https://github.com/OCA/partner-contact/pull/1207)
-  `partner_contact_access_link` [PR#1208](https://github.com/OCA/partner-contact/pull/1208)

[2022-01-09 12:34] #407 closed, assigned to nobody

[2022-01-09 12:34] #422 closed, assigned to nobody

[2022-01-09 12:34] #443 closed, assigned to nobody

[2022-01-13 12:52] rven commented on #1153
Migrating `partner_multi_relation`  https://github.com/OCA/partner-contact/pull/1210

[2022-01-16 12:34] #454 closed, assigned to nobody

[2022-01-16 12:34] #471 closed, assigned to nobody

[2022-01-16 12:34] #482 closed, assigned to nobody

[2022-01-19 11:42] fredzamoabg opened #1212 "partner address fields overridden on affiliate"
## Module
`partner_affiliate`

## Describe the bug
partner address fields overridden on affiliate (so changing `parent_id`).

This is because partner type is `contact` and Core perform synchronization of address fields (ie. from version 14.0 https://github.com/odoo/odoo/blob/40b7976de1fe1cae71eb1063188eacb9a8a8fb70/odoo/addons/base/models/res_partner.py#L340)

## To Reproduce
**Affected versions**

[2022-01-19 13:30] fredzamoabg commented on #1212
this PR fix the request https://github.com/OCA/partner-contact/pull/1165

[2022-01-19 13:36] fredzamoabg commented on #1212
fixed by https://github.com/OCA/partner-contact/pull/1165

[2022-01-19 13:36] #1212 closed, assigned to nobody

[2022-01-23 12:31] #641 closed, assigned to nobody

[2022-01-23 12:31] #671 closed, assigned to nobody

[2022-01-23 12:31] #674 closed, assigned to nobody

[2022-01-25 17:16] lfreeke commented on #1153
Migration `partner_contact_gender` https://github.com/OCA/partner-contact/pull/1213

[2022-01-27 17:05] damendieta opened #1214 "Add parish level on state"
In Ecuador, we need the parish for a client in order to generate some legal reports, so, we need the following structure:

- Country -> State -> Parish.
-
**Describe the solution you'd like**
Create a new module, maybe base_parish to add the new concept.

**Describe alternatives you've considered**
Use the city field to fill this information, but city is also required.

[2022-01-28 17:11] damendieta commented on #1214
After talking with other developers, the final idea is to create a module called base_address_parish, that will depend on base_address_city and will add a new model res.parish as a new level below res.city.

The idea will be:
- Add the new model.
- Add a field city_id on the new module as a m2o to res.city.
- Add a new field, parish_id on res.partner, with a domain to select only the ones that bel

[2022-01-28 17:15] damendieta commented on #1214
@pedrobaeza could you please give us one comment about this. We will develop the module, just need some guidence to choose the right path.

[2022-01-29 09:51] pedrobaeza commented on #1214
Next time, a link like https://en.m.wikipedia.org/wiki/Parishes_of_Ecuador will be helpful for explaining concepts that are not very clear.

So if I understand correctly, you have several cities inside a parish?

[2022-01-30 12:29] #705 closed, assigned to nobody

[2022-01-30 12:29] #734 closed, assigned to nobody

[2022-01-31 16:45] BT-rfresco commented on #1153
migrating `partner_contact_age_range`

[2022-01-31 21:01] damendieta commented on #1214
Hi, sorry, you are right, I should give more information.

In Ecuador, our [territorial division](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_territorial_de_Ecuador) has the following parts.

- Country (país)
- - State (provincia)
- - - Canton (cantón).
- - - - Parish (Parroquia)

Definition for canton: https://www.collinsdictionary.com/dictionary/english/canton
Definition for parish: https://

[2022-02-03 14:30] LESTRAT21 opened #1217 "In the contact view, the search by pricelist in the search field is not available"
module: partner_pricelist_search
version: 14.0

Hello.
I've just installed your module, thanks for these relevant features.
But, in the contact view, the search by pricelist in the search field is not available!

![pricelist](https://user-images.githubusercontent.com/65964282/152361002-1f326829-67ff-48d1-a58d-73f5ea8bc525.png)

However the new smart button called “Customers” in pricelist form view

[2022-02-03 14:54] pedrobaeza commented on #1217
It's available in the custom search, not in the quick search. You can also navigate from the pricelist to the customers with such pricelist.

[2022-02-03 14:54] #1217 closed, assigned to nobody

[2022-02-06 12:29] #759 closed, assigned to nobody

[2022-02-06 12:29] #794 closed, assigned to nobody

[2022-02-09 09:12] saxomanu commented on #1153
Migration partner_manual_rank #1222

[2022-02-10 23:02] celm1990 commented on #1214
Any comment are welcome https://github.com/OCA/partner-contact/pull/1223
thanks so much

[2022-02-15 14:48] sanrav opened #1225 "[13.0] base_location : unable to add a contact to a partner with zip_id"
## Module
base_location

## Describe the bug
When I add a contact to a partner, on which the field zip_id is filled in, ODOO displays an error message when I save the partner form.

## To Reproduce
Version : V13

Steps to reproduce the behavior:
1. Create a new partner (a company) and select an address in the field zip_id (configuration in the menu Contacts/Configuration/Zips) and save

![Step 1 -

[2022-02-16 15:54] pedrobaeza commented on #1225
I'm not able to replicate the problem in runbot, as you can see here:

http://oca-partner-contact-13-0-523c7073a284.runboat.odoo-community.org/web#id=47&action=140&model=res.partner&view_type=form&cids=&menu_id=102

Maybe the problem is just in your DB, and it's due to old data (I have found this problem in one of my DBs migrated to v13). A little tip for fixing the situation: run this SQL:

[code

[2022-02-16 16:24] ghost commented on #1153
migrating `partner_contact_age_range` #1229

[2022-02-18 12:23] sanrav commented on #1225
Pedro,

I did a test with the link you mentioned and I have the same issue :

![image](https://user-images.githubusercontent.com/39826575/154682272-6697a8f9-7900-46da-b4ec-78fc8cfb3fc6.png)

I don't know you created your contact without having the issue...

[2022-02-18 12:24] pedrobaeza commented on #1225
Can you please put a video with all the steps?

[2022-02-20 12:31] #851 closed, assigned to nobody

[2022-02-22 08:03] sanrav commented on #1225
Hi Pedro,
Here is the video :

[Bug partner-contact V13.zip](https://github.com/OCA/partner-contact/files/8114747/Bug.partner-contact.V13.zip)

[2022-02-25 16:47] alan196 commented on #1153
Migrating `partner_vat_unique` https://github.com/OCA/partner-contact/pull/1235

[2022-02-27 12:31] #877 closed, assigned to nobody

[2022-02-27 12:31] #917 closed, assigned to nobody

[2022-02-28 09:25] GSLabIt opened #1237 "[12.0][BUG] partner_contact_address_default, error while updating module."
Error while upgrading:

[code]
## Module
partner_contact_address_default
## Describe the bug
Error is raised since last update, as it depends from `base` while extending `base_setup` view.

## To Reproduce
**Affected versions**:

12.0

Steps to reproduce the behavior:
1. Update module from Apps.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional co

[2022-02-28 11:38] pedrobaeza commented on #1237
Please don't open issue and PR at the same time. Only one is needed.

[2022-02-28 11:38] #1237 closed, assigned to nobody

[2022-02-28 11:42] GSLabIt commented on #1237
ok. Thought this would help to keep track of the issue

[2022-02-28 11:43] pedrobaeza commented on #1237
You should include the issue text in the PR.

[2022-03-03 06:58] kittiu commented on #1153
Migrating partner_company_type https://github.com/OCA/partner-contact/pull/1240

[2022-03-06 12:32] #922 closed, assigned to nobody

[2022-03-06 12:32] #923 closed, assigned to nobody

[2022-03-06 12:32] #924 closed, assigned to nobody

[2022-03-13 12:32] #926 closed, assigned to nobody

[2022-03-13 12:32] #933 closed, assigned to nobody

[2022-03-20 12:32] #962 closed, assigned to nobody

[2022-03-20 12:32] #963 closed, assigned to nobody

[2022-03-20 12:32] #964 closed, assigned to nobody

[2022-03-24 15:18] yankinmax commented on #1153
The idea is to split `partner_company_group` into several modules depending on each of core modules. This is needed to avoid installing unwanted dependencies on the project, for example we need `partner_company_group`, but without additional installed `account`, `sale` or `crm`.
So, finally we want it to be:

1. `base_partner_company_group` -> https://github.com/OCA/partner-contact/pull/1244
2. `a

[2022-03-27 12:33] #965 closed, assigned to nobody

[2022-04-03 12:34] #968 closed, assigned to nobody

[2022-04-06 09:25] emagdalenaC2i opened #1253 "base_location_geonames_import 404 Error"
## Module
base_location_geonames_import.

## Describe the bug
The zip file are no longer in that path

## To Reproduce
**Affected versions**: I think all versions

Steps to reproduce the behavior:
1. Go to the menu Contacts > Configuration > Localization > Import from Geonames.
2. In the wizard, select one or several countries and click on the Import button

[2022-04-06 17:03] rousseldenis commented on #1253
@emagdalenaC2i Sometimes, generated file is void on geoname side. Wait until tomorrow and check if file is correct

[2022-04-06 17:03] pedrobaeza commented on #1253
This happens eventually when there's a problem in Geonames, but it takes a bit to be recovered. It is a matter of time.

[2022-04-09 00:35] jmmmmr opened #1256 "The birthdate_date column contains incorrect values. Error on line xx: unconverted data remains: 1999-04-11"
## Module
partner_contact_birthdate

## Describe the bug
Pressing the TEST option, when contacts are massively imported and the Date of Birth column is included, this error appears on the line that contains a date of birth:
The birthdate_date column contains incorrect values. Error on line 11: unconverted data remains: 2000-01-01

## To Reproduce
**Affected versions**:
15.0

Steps to reproduce the

[2022-04-09 06:12] pedrobaeza commented on #1256
This has nothing to do with the module, but with your import dataset or with the import system. Ask on forums about that.

[2022-04-09 06:12] #1256 closed, assigned to nobody

[2022-04-13 07:07] timnis opened #1258 "partner_contact_address_default, if Invoicing address is defined cannot open Follow-up Reports [v14]"
## Module
partner_contact_address_default

## Describe the bug
When customer has Invoicing address defined and try to open customer from Follow-up Reports  list, it won't open only get error

## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. Set Invoicing address to customer
2. Accounting->Customers->Follow-up Reports, open customer

**Expected behavior**
List of unpaid i

[2022-04-15 20:21] bosd commented on #971
`partner_coc` in https://github.com/OCA/partner-contact/pull/1259

[2022-04-17 12:35] #983 closed, assigned to nobody

[2022-04-24 12:35] #1011 closed, assigned to NL66278

[2022-04-24 12:35] #1015 closed, assigned to nobody

[2022-04-27 16:05] klando opened #1265 "Do not change schema in partner_manual_rank"
The `partner_manual_rank` addon allows to set customer/supplier status per contact.

In order to do so it uses the customer/supplier rank columns, but also materializes into 2 new columns `is_supplier` and `is_customer`

I suggest to not change the SQL schema as the information is already available in the existing table.

If really such materialization makes sense, maybe use the feature `GENERATED

[2022-05-01 12:37] #630 closed, assigned to nobody

[2022-05-06 12:21] #1253 closed, assigned to nobody

[2022-05-06 15:00] CarlosRoca13 commented on #1225
It seams that the problem comes from an incompatibility with the module `partner_address_street3`

[2022-05-15 12:43] #1060 closed, assigned to nobody

[2022-05-22 12:38] #1067 closed, assigned to nobody

[2022-06-10 11:08] dhx commented on #1153
Migrating
- `partner_contact_address_default` https://github.com/OCA/partner-contact/pull/1288
- `partner_contact_job_position` https://github.com/OCA/partner-contact/pull/1289
- `partner_phone_extension` https://github.com/OCA/partner-contact/pull/1290
- `partner_priority` https://github.com/OCA/partner-contact/pull/1291

[2022-06-26 12:36] #1133 closed, assigned to nobody

[2022-06-29 23:41] carlos-birtum opened #1297 "Key (zip_id)=(1) is not present in table "res_city_zip"."
Hello,
When migrating a database version 11 to 15 I get the following error from the base_location module:

module base_location: creating or updating database tables
2022-06-29 23:12:40,079 48289 ERROR waynabox_16 odoo.sql_db: bad query: ALTER TABLE "res_partner" ADD FOREIGN KEY ("zip_id") REFERENCES "res_city_zip"("id") ON DELETE set null
ERROR: insert or update on table "res_partner" violates f

[2022-06-30 06:32] pedrobaeza commented on #1297
Your database seems corrupt or you haven't executed the migration scripts between both versions. In any case, I'm afraid this is out of the scope of this issue tracker, so closing.

[2022-06-30 06:32] #1297 closed, assigned to nobody

[2022-06-30 15:16] carlos-birtum commented on #1297
Thank you very much

[2022-07-03 12:36] #1135 closed, assigned to nobody

[2022-07-10 12:37] #1156 closed, assigned to nobody

[2022-07-11 11:46] Galoperd commented on #1153
Hello, I offer to migrate partner_contact_department & partner_contact_job_position. Do not currently have write access Thanks.

[2022-07-11 18:13] dhx commented on #1153
Hi @Galoperd partner_contact_job_position has already a PR: https://github.com/OCA/partner-contact/pull/1289 you're welcome to do a review!

[2022-07-11 18:56] pedrobaeza commented on #1153
And for the rest, please check the process:

https://odoo-community.org/resources/code

doing a pull request and following https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

[2022-07-24 12:39] #1088 closed, assigned to nobody

[2022-07-25 13:46] Highcooley opened #1309 "Incompatibility between base_partner_sequence and partner_ref_unique"
## Module
base_partner_sequence
partner_ref_unique

## Describe the bug
base_partner_sequence makes partner_ref read-only, so far so good.
But base_partner_sequence for some reason also introduces a new rule that contacts of a company inherit the partner_ref from the company.
At the same time, partner_ref_unique can either check the uniqueness of a partner_ref over all contacts (default) but then

[2022-07-31 17:41] Galoperd commented on #1153
[15.0][MIG] partner_contact_deparment: ready for review, thanks !
[PR 1308](https://github.com/OCA/partner-contact/pull/1308)

[2022-07-31 17:43] Galoperd commented on #1153
I offer to 15.0 migrate "partner_phone_extension" & "partner_address_street3", thanks.

[2022-08-01 08:37] dhx commented on #1153
Hi @Galoperd both seem to have existing PRs - anything wrong with those?

[2022-08-02 08:05] Galoperd commented on #1153
Sorry, did not realised about existing PRs.

[2022-08-04 04:50] aktiv-heli-kantawala commented on #1153
Migrating partner_contact_nationality https://github.com/OCA/partner-contact/pull/1314

[2022-08-12 13:23] khalilsido opened #1316 "Partner Tier Validation V14 enterprise customer due report is not working"
<!-- Provide a general summary of the issue in the Title above.
When installing Partner Tier Validation all the validation process is ok however when you go to any customer profile and click the due button in order to check the due follow up report it doesn't not work, and f you go to accounting > Customer > follow up reports and click on the customers it will return below error.

## Module
Partne

[2022-08-22 11:46] gdgellatly opened #1325 "partner_company_group - pre-init hook for performance might be nice"
https://github.com/OCA/partner-contact/blob/ba5a90bcdade626e14665c594e4ab77d426c91fa/partner_company_group/models/account_move.py#L11

https://github.com/OCA/partner-contact/blob/ba5a90bcdade626e14665c594e4ab77d426c91fa/partner_company_group/models/crm_lead.py#L11

https://github.com/OCA/partner-contact/blob/ba5a90bcdade626e14665c594e4ab77d426c91fa/partner_company_group/models/sale_order.py#L11

J

[2022-08-22 13:33] Galoperd commented on #1153
please kindly udpate PR number for [15.0][MIG] partner_contact_department in the migration list. The correct number: [PR #1322](https://github.com/OCA/partner-contact/pull/1322). Ready for review, thanks.

[2022-08-23 06:56] pedrobaeza commented on #1325
Done in #1324

[2022-08-23 06:56] #1325 closed, assigned to nobody

[2022-08-30 08:06] i-vyshnevska commented on #1309
the solution https://github.com/OCA/partner-contact/pull/1323

[2022-09-13 17:14] JonathanStein opened #1337 "partner_multi_relation - translation of relation types"
## Module
partner_multi_relation

## Describe the bug
Relation types are translatable, but translations does not work with virtual res.partner.relation.type.selection model

## To Reproduce
**Affected versions**:
Tested with 12.0

Steps to reproduce the behavior:
1. Create more than ~10 relation types
2. Create a new relation
3. When selecting the type, choose "Search more..."

**Expected behavior

[2022-09-14 15:41] BT-dmontull commented on #1153
Hi all,
migrating:

- partner_stage #1339
- partner_tier_validation #1340

[2022-09-16 11:45] neckhair opened #1341 "partner_multi_relation - Include Past Records filter not working"
## Module
partner_multi_relation

## Describe the bug
The filter to show relations which are not active anymore ("include past records") is not working as expected. Which means that past records are not really shown.

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Create a new relation for a contact.
2. Set the relation's end date to yesterday.
3. Close the list a

[2022-09-18 12:44] #1214 closed, assigned to nobody

[2022-09-27 10:35] gurneyalex opened #1345 "15.0 partner_company_group was merged in 15.0 without taking the module split into account"
The module partner_company_group was migrated to 15.0 in https://github.com/OCA/partner-contact/pull/1324 as a single module after the functionality was split into different modules in https://github.com/OCA/partner-contact/pull/1244

We need to revert the change and make the partner_company_group module a shell depending on the split out modules to ease migration to 16.0

[2022-09-27 11:13] gurneyalex commented on #1345
https://github.com/OCA/partner-contact/pull/1245
https://github.com/OCA/partner-contact/pull/1246
https://github.com/OCA/partner-contact/pull/1247

implement these features

[2022-09-29 09:16] hailangvn commented on #1153
Please add the module below.
* partner_contact_role: https://github.com/OCA/partner-contact/pull/1349

[2022-10-03 16:26] sbidoul opened #1353 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] account_partner_company_group - By @Highcooley - #1521
- [x] animal - By @Deriman-Alonso - #1736
- [x] base_country_state_translatable - By @AungKoKoLin1997 - #1411
- [x] base_location - By @pedrobaeza - #1361
- [x] base_location_geonames_import - By @pedrobaeza - #1385
- [x] base_location_n

[2022-10-06 13:15] igallart opened #1358 "[10.0][FIX] requirement email_validator in partner_email_check >= 1.3 fail"
Hello, a new release is out of email-validator, 1.3 (https://pypi.org/project/email-validator/)
This not work in partner_email_check. With email_validator< 1.3 it works.

I don't know if odoo < 10 also.

[2022-10-06 15:10] igallart commented on #1358
/usr/local/lib/python2.7/site-packages/gevent/builtins.py:93: CryptographyDeprecationWarning: Python 2 is no longer supported by the Python core team. Support for it is now deprecated in cryptography, and will be removed in the next release.
  result = _import(*args, **kwargs)
2022-10-06 15:10:16,590 21 WARNING ? odoo.addons.base_geoengine.geo_helper.geo_convertion_helper: Shapely or geojson are n

[2022-10-10 12:29] pegonzalezspesol commented on #1353
Migrated partner_contact_lang #1370

[2022-10-20 11:09] KM-joel commented on #1153
Hi all,
@pedrobaeza @pedrobaeza
Migration to version 15.0
 - partner_bank_code #1386

[2022-10-27 14:58] remi-filament opened #1389 "[14.0] partner_firstname action_recalculate_partners_name does not update display_name"
The action to recalculate partner names (action_recalculate_partners_name) is correctly updating name but not display_name on partners.

[2022-10-27 17:55] vib-adhoc commented on #1353
partner_contact_access_link - [1390](https://github.com/OCA/partner-contact/pull/1390)

[2022-10-31 09:08] klando commented on #1265
fixed in ab50984871913a68476a53594739f8bf319d7ee0 ?

[2022-10-31 09:09] #1265 closed, assigned to nobody

[2022-10-31 19:08] KM-joel commented on #1353
@sbidoul
@sbidoul

Migration to version 16

 - partner_priority #1392

[2022-11-10 15:02] Vincenzo9191 commented on #1353
Migration to version 16.0 base_location_nuts

[2022-11-20 12:38] #1258 closed, assigned to nobody

[2022-11-24 13:41] nicolascol opened #1414 "partner_vat_unique"
Hello, we have the problem that the module doesn't recognize as the duplicate partner a partner created with VAT without hyphens and a new partner with VAT with hyphens.
Example
Partner A with VAT 20-21345678-4
Partner A with VAT 20213456784
The module doesn't recognize that it's the same partner
Has this happened to anyone?

[2022-11-28 12:47] imarulbala commented on #1353
Migration to version 16.0

- partner_external_map https://github.com/OCA/partner-contact/pull/1419